### FILE : Initialisation des items du jeu. ###
//Format: INIT_CHAR + description (voir .h)
//Format: 	ITEM=nom de l'item
//Format:		TEXTURE=texture de l'item
//Format:		QUEST= booléen définit si l'item est un item de quête
//Format:		CONSUMABLE= booléen définit si l'item est un consummable (+ HP= MANA= XP=)
//Format:		STATS=DATA HEALTH= ARMOR= SPECIAL= (caractéristiques de l'item)

ARMOR:
---------PANTS:
	ITEM=MYTHIC_PANTS_01
		TEXTURE=MYTHIC_PANTS_01
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=500 ARMOR=100 SPECIAL=60 DAMAGE=0
	ITEM=EPIC_PANTS_02		
		TEXTURE=EPIC_PANTS_02
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=250 ARMOR=45 SPECIAL=35 DAMAGE=0
	ITEM=EPIC_PANTS_01		
		TEXTURE=EPIC_PANTS_01
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=250 ARMOR=45 SPECIAL=35 DAMAGE=0
	ITEM=EPIC_PANTS_03		
		TEXTURE=EPIC_PANTS_03
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=250 ARMOR=45 SPECIAL=35 DAMAGE=0
	ITEM=RARE_PANTS_01		
		TEXTURE=RARE_PANTS_01
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=50 ARMOR=10 SPECIAL=10 DAMAGE=0
	ITEM=RARE_PANTS_02		
		TEXTURE=RARE_PANTS_02
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=50 ARMOR=10 SPECIAL=10 DAMAGE=0
	ITEM=RARE_PANTS_03		
		TEXTURE=RARE_PANTS_03
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=50 ARMOR=10 SPECIAL=10 DAMAGE=0
	ITEM=RARE_PANTS_04		
		TEXTURE=RARE_PANTS_04
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=50 ARMOR=10 SPECIAL=10 DAMAGE=0
	ITEM=RARE_PANTS_05		
		TEXTURE=RARE_PANTS_05
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=50 ARMOR=10 SPECIAL=10 DAMAGE=0
	ITEM=COMMON_PANTS_00		
		TEXTURE=COMMON_PANTS_00
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=10 ARMOR=5 SPECIAL=5 DAMAGE=0
	ITEM=COMMON_PANTS_01		
		TEXTURE=COMMON_PANTS_01
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=10 ARMOR=5 SPECIAL=5 DAMAGE=0
	ITEM=COMMON_PANTS_02		
		TEXTURE=COMMON_PANTS_02
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=10 ARMOR=5 SPECIAL=5 DAMAGE=0
	ITEM=COMMON_PANTS_03		
		TEXTURE=COMMON_PANTS_03
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=10 ARMOR=5 SPECIAL=5 DAMAGE=0
	ITEM=COMMON_PANTS_04		
		TEXTURE=COMMON_PANTS_04
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=10 ARMOR=5 SPECIAL=5 DAMAGE=0
	ITEM=COMMON_PANTS_05		
		TEXTURE=COMMON_PANTS_05
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=10 ARMOR=5 SPECIAL=5 DAMAGE=0
	ITEM=COMMON_PANTS_06		
		TEXTURE=COMMON_PANTS_06
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=10 ARMOR=5 SPECIAL=5 DAMAGE=0
	ITEM=COMMON_PANTS_07		
		TEXTURE=COMMON_PANTS_07
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=10 ARMOR=5 SPECIAL=5 DAMAGE=0

---------GAUNTLETS:
	ITEM=MYTHIC_GAUNTLETS_01
		TEXTURE=MYTHIC_GAUNTLETS_01
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=500 ARMOR=100 SPECIAL=60 DAMAGE=0
	ITEM=EPIC_GAUNTLETS_01		
		TEXTURE=EPIC_GAUNTLETS_01
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=250 ARMOR=45 SPECIAL=35 DAMAGE=0
	ITEM=EPIC_GAUNTLETS_02		
		TEXTURE=EPIC_GAUNTLETS_02
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=250 ARMOR=45 SPECIAL=35 DAMAGE=0
	ITEM=EPIC_GAUNTLETS_03		
		TEXTURE=EPIC_GAUNTLETS_03
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=250 ARMOR=45 SPECIAL=35 DAMAGE=0
	ITEM=RARE_GAUNTLETS_01		
		TEXTURE=RARE_GAUNTLETS_01
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=50 ARMOR=10 SPECIAL=10 DAMAGE=0
	ITEM=RARE_GAUNTLETS_02		
		TEXTURE=RARE_GAUNTLETS_02
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=50 ARMOR=10 SPECIAL=10 DAMAGE=0
	ITEM=RARE_GAUNTLETS_03		
		TEXTURE=RARE_GAUNTLETS_03
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=50 ARMOR=10 SPECIAL=10 DAMAGE=0
	ITEM=RARE_GAUNTLETS_04		
		TEXTURE=RARE_GAUNTLETS_04
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=50 ARMOR=10 SPECIAL=10 DAMAGE=0
	ITEM=RARE_GAUNTLETS_05		
		TEXTURE=RARE_GAUNTLETS_05
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=50 ARMOR=10 SPECIAL=10 DAMAGE=0
	ITEM=COMMON_GAUNTLETS_00		
		TEXTURE=COMMON_GAUNTLETS_00
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=10 ARMOR=5 SPECIAL=5 DAMAGE=0
	ITEM=COMMON_GAUNTLETS_01		
		TEXTURE=COMMON_GAUNTLETS_01
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=10 ARMOR=5 SPECIAL=5 DAMAGE=0
	ITEM=COMMON_GAUNTLETS_02		
		TEXTURE=COMMON_GAUNTLETS_02
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=10 ARMOR=5 SPECIAL=5 DAMAGE=0
	ITEM=COMMON_GAUNTLETS_03		
		TEXTURE=COMMON_GAUNTLETS_03
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=10 ARMOR=5 SPECIAL=5 DAMAGE=0
	ITEM=COMMON_GAUNTLETS_04		
		TEXTURE=COMMON_GAUNTLETS_04
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=10 ARMOR=5 SPECIAL=5 DAMAGE=0
	ITEM=COMMON_GAUNTLETS_05		
		TEXTURE=COMMON_GAUNTLETS_05
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=10 ARMOR=5 SPECIAL=5 DAMAGE=0
	ITEM=COMMON_GAUNTLETS_06		
		TEXTURE=COMMON_GAUNTLETS_06
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=10 ARMOR=5 SPECIAL=5 DAMAGE=0
	ITEM=COMMON_GAUNTLETS_07		
		TEXTURE=COMMON_GAUNTLETS_07
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=10 ARMOR=5 SPECIAL=5 DAMAGE=0

---------HELMET:
	ITEM=MYTHIC_HELMET_01
		TEXTURE=MYTHIC_HELMET_01
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=500 ARMOR=100 SPECIAL=60 DAMAGE=0
	ITEM=EPIC_HELMET_01		
		TEXTURE=EPIC_HELMET_01
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=250 ARMOR=45 SPECIAL=35 DAMAGE=0
	ITEM=EPIC_HELMET_02		
		TEXTURE=EPIC_HELMET_02
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=250 ARMOR=45 SPECIAL=35 DAMAGE=0
	ITEM=EPIC_HELMET_03		
		TEXTURE=EPIC_HELMET_03
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=250 ARMOR=45 SPECIAL=35 DAMAGE=0
	ITEM=RARE_HELMET_01		
		TEXTURE=RARE_HELMET_01
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=50 ARMOR=10 SPECIAL=10 DAMAGE=0
	ITEM=RARE_HELMET_02		
		TEXTURE=RARE_HELMET_02
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=50 ARMOR=10 SPECIAL=10 DAMAGE=0
	ITEM=RARE_HELMET_03		
		TEXTURE=RARE_HELMET_03
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=50 ARMOR=10 SPECIAL=10 DAMAGE=0
	ITEM=RARE_HELMET_04		
		TEXTURE=RARE_HELMET_04
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=50 ARMOR=10 SPECIAL=10 DAMAGE=0
	ITEM=RARE_HELMET_05		
		TEXTURE=RARE_HELMET_05
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=50 ARMOR=10 SPECIAL=10 DAMAGE=0
	ITEM=COMMON_HELMET_00		
		TEXTURE=COMMON_HELMET_00
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=10 ARMOR=5 SPECIAL=5 DAMAGE=0
	ITEM=COMMON_HELMET_01		
		TEXTURE=COMMON_HELMET_01
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=10 ARMOR=5 SPECIAL=5 DAMAGE=0
	ITEM=COMMON_HELMET_02		
		TEXTURE=COMMON_HELMET_02
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=10 ARMOR=5 SPECIAL=5 DAMAGE=0
	ITEM=COMMON_HELMET_03		
		TEXTURE=COMMON_HELMET_03
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=10 ARMOR=5 SPECIAL=5 DAMAGE=0
	ITEM=COMMON_HELMET_04		
		TEXTURE=COMMON_HELMET_04
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=10 ARMOR=5 SPECIAL=5 DAMAGE=0
	ITEM=COMMON_HELMET_05		
		TEXTURE=COMMON_HELMET_05
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=10 ARMOR=5 SPECIAL=5 DAMAGE=0
	ITEM=COMMON_HELMET_06		
		TEXTURE=COMMON_HELMET_06
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=10 ARMOR=5 SPECIAL=5 DAMAGE=0
	ITEM=COMMON_HELMET_07		
		TEXTURE=COMMON_HELMET_07
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=10 ARMOR=5 SPECIAL=5 DAMAGE=0

---------CHEST:
	ITEM=MYTHIC_CHEST_01
		TEXTURE=MYTHIC_CHEST_01
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=500 ARMOR=100 SPECIAL=60 DAMAGE=0
	ITEM=EPIC_CHEST_01		
		TEXTURE=EPIC_CHEST_01
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=250 ARMOR=45 SPECIAL=35 DAMAGE=0
	ITEM=EPIC_CHEST_02		
		TEXTURE=EPIC_CHEST_02
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=250 ARMOR=45 SPECIAL=35 DAMAGE=0
	ITEM=EPIC_CHEST_03		
		TEXTURE=EPIC_CHEST_03
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=250 ARMOR=45 SPECIAL=35 DAMAGE=0
	ITEM=RARE_CHEST_01		
		TEXTURE=RARE_CHEST_01
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=50 ARMOR=10 SPECIAL=10 DAMAGE=0
	ITEM=RARE_CHEST_02		
		TEXTURE=RARE_CHEST_02
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=50 ARMOR=10 SPECIAL=10 DAMAGE=0
	ITEM=RARE_CHEST_03		
		TEXTURE=RARE_CHEST_03
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=50 ARMOR=10 SPECIAL=10 DAMAGE=0
	ITEM=RARE_CHEST_04		
		TEXTURE=RARE_CHEST_04
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=50 ARMOR=10 SPECIAL=10 DAMAGE=0
	ITEM=RARE_CHEST_05		
		TEXTURE=RARE_CHEST_05
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=50 ARMOR=10 SPECIAL=10 DAMAGE=0
	ITEM=COMMON_CHEST_00		
		TEXTURE=COMMON_CHEST_00
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=10 ARMOR=5 SPECIAL=5 DAMAGE=0
	ITEM=COMMON_CHEST_01		
		TEXTURE=COMMON_CHEST_01
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=10 ARMOR=5 SPECIAL=5 DAMAGE=0
	ITEM=COMMON_CHEST_02		
		TEXTURE=COMMON_CHEST_02
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=10 ARMOR=5 SPECIAL=5 DAMAGE=0
	ITEM=COMMON_CHEST_03		
		TEXTURE=COMMON_CHEST_03
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=10 ARMOR=5 SPECIAL=5 DAMAGE=0
	ITEM=COMMON_CHEST_04		
		TEXTURE=COMMON_CHEST_04
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=10 ARMOR=5 SPECIAL=5 DAMAGE=0
	ITEM=COMMON_CHEST_05		
		TEXTURE=COMMON_CHEST_05
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=10 ARMOR=5 SPECIAL=5 DAMAGE=0
	ITEM=COMMON_CHEST_06		
		TEXTURE=COMMON_CHEST_06
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=10 ARMOR=5 SPECIAL=5 DAMAGE=0
	ITEM=COMMON_CHEST_07		
		TEXTURE=COMMON_CHEST_07
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=10 ARMOR=5 SPECIAL=5 DAMAGE=0

WEAPONS:
---------BOW:
	ITEM=MYTHIC_BOW_01
		TEXTURE=MYTHIC_BOW_01
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=500 ARMOR=100 SPECIAL=60 DAMAGE=100
	ITEM=EPIC_BOW_01		
		TEXTURE=EPIC_BOW_01
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=250 ARMOR=45 SPECIAL=35 DAMAGE=35
	ITEM=EPIC_BOW_02		
		TEXTURE=EPIC_BOW_02
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=250 ARMOR=45 SPECIAL=35 DAMAGE=35
	ITEM=EPIC_BOW_03		
		TEXTURE=EPIC_BOW_03
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=250 ARMOR=45 SPECIAL=35 DAMAGE=35
	ITEM=RARE_BOW_01		
		TEXTURE=RARE_BOW_01
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=50 ARMOR=10 SPECIAL=10 DAMAGE=20
	ITEM=RARE_BOW_02		
		TEXTURE=RARE_BOW_02
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=50 ARMOR=10 SPECIAL=10 DAMAGE=20
	ITEM=RARE_BOW_03		
		TEXTURE=RARE_BOW_03
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=50 ARMOR=10 SPECIAL=10 DAMAGE=20
	ITEM=RARE_BOW_04		
		TEXTURE=RARE_BOW_04
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=50 ARMOR=10 SPECIAL=10 DAMAGE=20
	ITEM=RARE_BOW_05		
		TEXTURE=RARE_BOW_05
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=50 ARMOR=10 SPECIAL=10 DAMAGE=20
	ITEM=COMMON_BOW_00		
		TEXTURE=COMMON_BOW_00
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=10 ARMOR=5 SPECIAL=5 DAMAGE=10
	ITEM=COMMON_BOW_01		
		TEXTURE=COMMON_BOW_01
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=10 ARMOR=5 SPECIAL=5 DAMAGE=10
	ITEM=COMMON_BOW_02		
		TEXTURE=COMMON_BOW_02
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=10 ARMOR=5 SPECIAL=5 DAMAGE=10
	ITEM=COMMON_BOW_03		
		TEXTURE=COMMON_BOW_03
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=10 ARMOR=5 SPECIAL=5 DAMAGE=10
	ITEM=COMMON_BOW_04		
		TEXTURE=COMMON_BOW_04
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=10 ARMOR=5 SPECIAL=5 DAMAGE=10
	ITEM=COMMON_BOW_05		
		TEXTURE=COMMON_BOW_05
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=10 ARMOR=5 SPECIAL=5 DAMAGE=10
	ITEM=COMMON_BOW_06		
		TEXTURE=COMMON_BOW_06
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=10 ARMOR=5 SPECIAL=5 DAMAGE=10
	ITEM=COMMON_BOW_07		
		TEXTURE=COMMON_BOW_07
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=10 ARMOR=5 SPECIAL=5 DAMAGE=10

---------SWORD:
	ITEM=MYTHIC_SWORD_01
		TEXTURE=MYTHIC_SWORD_01
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=500 ARMOR=100 SPECIAL=60 DAMAGE=100
	ITEM=EPIC_SWORD_01		
		TEXTURE=EPIC_SWORD_01
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=250 ARMOR=45 SPECIAL=35 DAMAGE=35
	ITEM=EPIC_SWORD_02		
		TEXTURE=EPIC_SWORD_02
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=250 ARMOR=45 SPECIAL=35 DAMAGE=35
	ITEM=EPIC_SWORD_03		
		TEXTURE=EPIC_SWORD_03
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=250 ARMOR=45 SPECIAL=35 DAMAGE=35
	ITEM=RARE_SWORD_01		
		TEXTURE=RARE_SWORD_01
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=50 ARMOR=10 SPECIAL=10 DAMAGE=20
	ITEM=RARE_SWORD_02		
		TEXTURE=RARE_SWORD_02
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=50 ARMOR=10 SPECIAL=10 DAMAGE=20
	ITEM=RARE_SWORD_03		
		TEXTURE=RARE_SWORD_03
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=50 ARMOR=10 SPECIAL=10 DAMAGE=20
	ITEM=RARE_SWORD_04		
		TEXTURE=RARE_SWORD_04
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=50 ARMOR=10 SPECIAL=10 DAMAGE=20
	ITEM=RARE_SWORD_05		
		TEXTURE=RARE_SWORD_05
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=50 ARMOR=10 SPECIAL=10 DAMAGE=20
	ITEM=COMMON_SWORD_00		
		TEXTURE=COMMON_SWORD_00
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=10 ARMOR=5 SPECIAL=5 DAMAGE=10
	ITEM=COMMON_SWORD_01		
		TEXTURE=COMMON_SWORD_01
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=10 ARMOR=5 SPECIAL=5 DAMAGE=10
	ITEM=COMMON_SWORD_02		
		TEXTURE=COMMON_SWORD_02
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=10 ARMOR=5 SPECIAL=5 DAMAGE=10
	ITEM=COMMON_SWORD_03		
		TEXTURE=COMMON_SWORD_03
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=10 ARMOR=5 SPECIAL=5 DAMAGE=10
	ITEM=COMMON_SWORD_04		
		TEXTURE=COMMON_SWORD_04
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=10 ARMOR=5 SPECIAL=5 DAMAGE=10
	ITEM=COMMON_SWORD_05		
		TEXTURE=COMMON_SWORD_05
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=10 ARMOR=5 SPECIAL=5 DAMAGE=10
	ITEM=COMMON_SWORD_06		
		TEXTURE=COMMON_SWORD_06
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=10 ARMOR=5 SPECIAL=5 DAMAGE=10
	ITEM=COMMON_SWORD_07		
		TEXTURE=COMMON_SWORD_07
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=10 ARMOR=5 SPECIAL=5 DAMAGE=10

---------WAND:
	ITEM=MYTHIC_WAND_01
		TEXTURE=MYTHIC_WAND_01
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=500 ARMOR=100 SPECIAL=60 DAMAGE=100
	ITEM=EPIC_WAND_01		
		TEXTURE=EPIC_WAND_01
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=250 ARMOR=45 SPECIAL=35 DAMAGE=35
	ITEM=EPIC_WAND_02		
		TEXTURE=EPIC_WAND_02
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=250 ARMOR=45 SPECIAL=35 DAMAGE=35
	ITEM=EPIC_WAND_03		
		TEXTURE=EPIC_WAND_03
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=250 ARMOR=45 SPECIAL=35 DAMAGE=35
	ITEM=RARE_WAND_01		
		TEXTURE=RARE_WAND_01
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=50 ARMOR=10 SPECIAL=10 DAMAGE=20
	ITEM=RARE_WAND_02		
		TEXTURE=RARE_WAND_02
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=50 ARMOR=10 SPECIAL=10 DAMAGE=20
	ITEM=RARE_WAND_03		
		TEXTURE=RARE_WAND_03
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=50 ARMOR=10 SPECIAL=10 DAMAGE=20
	ITEM=RARE_WAND_04		
		TEXTURE=RARE_WAND_04
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=50 ARMOR=10 SPECIAL=10 DAMAGE=20
	ITEM=RARE_WAND_05		
		TEXTURE=RARE_WAND_05
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=50 ARMOR=10 SPECIAL=10 DAMAGE=20
	ITEM=COMMON_WAND_00		
		TEXTURE=COMMON_WAND_00
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=10 ARMOR=5 SPECIAL=5 DAMAGE=10
	ITEM=COMMON_WAND_01		
		TEXTURE=COMMON_WAND_01
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=10 ARMOR=5 SPECIAL=5 DAMAGE=10
	ITEM=COMMON_WAND_02		
		TEXTURE=COMMON_WAND_02
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=10 ARMOR=5 SPECIAL=5 DAMAGE=10
	ITEM=COMMON_WAND_03		
		TEXTURE=COMMON_WAND_03
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=10 ARMOR=5 SPECIAL=5 DAMAGE=10
	ITEM=COMMON_WAND_04		
		TEXTURE=COMMON_WAND_04
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=10 ARMOR=5 SPECIAL=5 DAMAGE=10
	ITEM=COMMON_WAND_05		
		TEXTURE=COMMON_WAND_05
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=10 ARMOR=5 SPECIAL=5 DAMAGE=10
	ITEM=COMMON_WAND_06		
		TEXTURE=COMMON_WAND_06
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=10 ARMOR=5 SPECIAL=5 DAMAGE=10
	ITEM=COMMON_WAND_07		
		TEXTURE=COMMON_WAND_07
		QUEST=0
		CONSUMABLE=0
		STATS=DATA HEALTH=10 ARMOR=5 SPECIAL=5 DAMAGE=10

### END OF FILE ###
