### FILE : Initialisation des monstres du jeu. ###
//Format: INIT_CHAR + description (voir .h)
//Format: 	MONSTER=nom du monstre
//Format:		TEXTURE=texture du monstre
//Format:		ZONE= nom de la zone du monstre
//Format:		STATS=DATA HEALTH= ARMOR= DAMAGES=

--------MORIA:
	MONSTER=SKELETON
		TEXTURE=SKELETON_01
		ZONE=MORIA
		STATS=DATA HEALTH=100 ARMOR=3 DAMAGES=35
	MONSTER=BLUE_SKELETON
		TEXTURE=BLUE_SKELETON_01
		ZONE=MORIA
		STATS=DATA HEALTH=130 ARMOR=5 DAMAGES=30
	MONSTER=RED_SKELETON
		TEXTURE=RED_SKELETON_01
		ZONE=MORIA
		STATS=DATA HEALTH=150 ARMOR=8 DAMAGES=35

--------CURSED_FOREST:
	MONSTER=SKELETON_SOLDIER
		TEXTURE=SKELETON_02
		ZONE=CURSED_FOREST
		STATS=DATA HEALTH=300 ARMOR=10 DAMAGES=80
	MONSTER=SKELETON_SERGEANT
		TEXTURE=BLUE_SKELETON_02
		ZONE=CURSED_FOREST
		STATS=DATA HEALTH=350 ARMOR=12 DAMAGES=90
	MONSTER=SKELETON_CAPTAIN
		TEXTURE=RED_SKELETON_02
		ZONE=CURSED_FOREST
		STATS=DATA HEALTH=400 ARMOR=14 DAMAGES=100

--------DESTINY_LAKE:
	MONSTER=GOBELIN_MAJOR
		TEXTURE=GOBELIN_01
		ZONE=DESTINY_LAKE
		STATS=DATA HEALTH=600 ARMOR=17 DAMAGES=120
	MONSTER=GOBELIN_COLONEL
		TEXTURE=BLUE_GOBELIN_01
		ZONE=DESTINY_LAKE
		STATS=DATA HEALTH=650 ARMOR=19 DAMAGES=130
	MONSTER=GOBELIN_GENERAL
		TEXTURE=RED_GOBELIN_01
		ZONE=DESTINY_LAKE
		STATS=DATA HEALTH=700 ARMOR=21 DAMAGES=150

--------BOSS:
	MONSTER=MAD_OGRE
		TEXTURE=MAD_OGRE
		ZONE=INTERIOR
		STATS=DATA HEALTH=1000 ARMOR=25 DAMAGES=150

### END OF FILE ###
