### FILE : Initialisation des scènes. ###
//Format: INIT_CHAR + description (voir .h)
//Format:	SCENE= nom de la scène + PRIORITY=priorité de la scène
//Format 		LIST=OBJS --->définit que l'on va ajouter des valeurs dans la liste d’objets
//Format			OBJ=nom de l'objet / TEXTURE= ID de la texture / BUTTON=0 ou 1 / BUTTON=0 X= pos en x / Y= pos en y
//Format		LIST=TEXTS --->définit que l'on va ajouter des valeurs dans la liste de texts
//Format			TEXT=nom du text / TEXT=text / FONT=ID de la font / CHARAC_SIZE=taille de charactère / BUTTON=0 X= pos en x / Y= pos en y
//format		MUSIC= ID de la musique LOOP= 0 / 1 (non ou oui)

________________________________________________________________________________
-GAME
	SCENE=GAME PRIORITY=0
		LIST=OBJS
			OBJ=MAP TEXTURE=MAP_BUTTON BUTTON=1 X=308 Y=557
			OBJ=QUESTS TEXTURE=QUEST_BUTTON BUTTON=1 X=349 Y=557
			OBJ=STATS TEXTURE=CHARAC_BUTTON BUTTON=1 X=382 Y=557
			OBJ=INVENTORY TEXTURE=INVENTORY_BUTTON BUTTON=1 X=415 Y=557
			OBJ=PAUSE TEXTURE=COG_BUTTON BUTTON=1 X=448 Y=557
		MUSIC=HOMETOWN_MUSIC LOOP=1

________________________________________________________________________________
-PAUSE
	SCENE=PAUSE PRIORITY=3
		LIST=OBJS
			OBJ=PAUSE_BG TEXTURE=PAUSE_BG BUTTON=0 X=170 Y=80
			OBJ=RESUME TEXTURE=BUTTON_PAUSE_EMPTY BUTTON=1 X=300 Y=140
			OBJ=OPTION TEXTURE=BUTTON_PAUSE_EMPTY BUTTON=1 X=300 Y=220
			OBJ=SAVE TEXTURE=BUTTON_PAUSE_EMPTY BUTTON=1 X=300 Y=300
			OBJ=HOME TEXTURE=BUTTON_PAUSE_EMPTY BUTTON=1 X=300 Y=385
			OBJ=bg_interface TEXTURE=BG_INTERFACE BUTTON=0 X=0 Y=0
		LIST=TEXTS
			TEXT=RESUME STR=RESUME FONT=ARCADE CHARAC_SIZE=20 X=355 Y=145
			TEXT=OPTION STR=OPTION FONT=ARCADE CHARAC_SIZE=20 X=360 Y=225
			TEXT=SAVE STR=SAVE FONT=ARCADE CHARAC_SIZE=20 X=365 Y=305
			TEXT=HOME STR=HOME FONT=ARCADE CHARAC_SIZE=20 X=365 Y=390
			TEXT=VERSION_GAME STR=V FONT=LIFECRAFT CHARAC_SIZE=10 X=300 Y=125

________________________________________________________________________________
-SAVE
	SCENE=SAVE PRIORITY=2
		LIST=OBJS
			OBJ=YES TEXTURE=BUTTON_PAUSE_EMPTY BUTTON=1 X=195 Y=300
			OBJ=NO TEXTURE=BUTTON_PAUSE_EMPTY BUTTON=1 X=395 Y=300
		LIST=TEXTS
			TEXT=YES STR=YES FONT=LIFECRAFT CHARAC_SIZE=20 X=275 Y=305
			TEXT=SAVE STR=Do_you_want_to_save_? FONT=LIFECRAFT CHARAC_SIZE=40 X=250 Y=250
			TEXT=NO STR=NO FONT=LIFECRAFT CHARAC_SIZE=20 X=480 Y=305

______________________________________________________________________________
-END
	SCENE=END PRIORITY=3
		LIST=OBJS
			OBJ=BACKGROUND TEXTURE=HOUSE_UP_01 BUTTON=0 X=0 Y=0
			OBJ=BACKGROUND2 TEXTURE=HOUSE_DOWN_01 BUTTON=0 X=0 Y=200
		LIST=TEXTS
			TEXT=test1 STR=SCENE:_END FONT=LIFECRAFT CHARAC_SIZE=100 X=100 Y=300

________________________________________________________________________________
-NEW_GAME
	SCENE=NEW_GAME PRIORITY=4
		LIST=OBJS
			OBJ=BACKGROUND TEXTURE=MENU_BG BUTTON=0 X=0 Y=0
			OBJ=TITLE TEXTURE=CHOOSE_YOUR_HERO BUTTON=0 X=40 Y=0
			OBJ=AVELUS TEXTURE=HUNTER_01 BUTTON=0 X=50 Y=120
			OBJ=VARYAN TEXTURE=WARRIOR_01 BUTTON=0 X=304 Y=120
			OBJ=JAINA TEXTURE=MAGE_01 BUTTON=0 X=554 Y=120
			OBJ=SELECT_AVELUS TEXTURE=CHARACTER_BG BUTTON=1 X=40 Y=90
			OBJ=SELECT_VARYAN TEXTURE=CHARACTER_BG BUTTON=1 X=294 Y=90
			OBJ=SELECT_JAINA TEXTURE=CHARACTER_BG BUTTON=1 X=544 Y=90
			OBJ=AGILITY TEXTURE=AGILITY_ICON BUTTON=0 X=62 Y=280
			OBJ=STRENGHT TEXTURE=STRENGHT_ICON BUTTON=0 X=316 Y=280
			OBJ=WISDOM TEXTURE=WISDOM_ICON BUTTON=0 X=566 Y=280
			OBJ=HOME TEXTURE=BUTTON_EMPTY BUTTON=1 X=510 Y=5
		LIST=TEXTS
			TEXT=AVELUS STR=Avelus FONT=RING CHARAC_SIZE=30 X=110 Y=125
			TEXT=AVELUS_DESC STR=The_Hunter FONT=RING CHARAC_SIZE=15 X=110 Y=175
			TEXT=AVELUS_STORY STR=Story: FONT=RING CHARAC_SIZE=20 X=110 Y=350
			TEXT=AVELUS_STORY_01 STR=Nobody_really_knows FONT=RING CHARAC_SIZE=15 X=53 Y=390
			TEXT=AVELUS_STORY_02 STR=who_is_Avelus. FONT=RING CHARAC_SIZE=15 X=53 Y=410
			TEXT=AVELUS_STORY_03 STR=_ FONT=RING CHARAC_SIZE=15 X=53 Y=430
			TEXT=AVELUS_STORY_04 STR=Rumors_say_he_is_looking FONT=RING CHARAC_SIZE=15 X=53 Y=450
			TEXT=AVELUS_STORY_05 STR=for_an_Ogre_leader,_who FONT=RING CHARAC_SIZE=15 X=53 Y=470
			TEXT=AVELUS_STORY_07 STR=would_have_razed_his FONT=RING CHARAC_SIZE=15 X=53 Y=490
			TEXT=AVELUS_STORY_08 STR=home_village. FONT=RING CHARAC_SIZE=15 X=53 Y=510
			TEXT=AVELUS_STORY_09 STR=Hunting__is_his_domain. FONT=RING CHARAC_SIZE=15 X=53 Y=530
			TEXT=AVELUS_VITALITY STR=:___150 FONT=RING CHARAC_SIZE=25 X=95 Y=218
			TEXT=AVELUS_ARMOR STR=:___5 FONT=RING CHARAC_SIZE=25 X=95 Y=245
			TEXT=AVELUS_SPECIAL STR=:___50 FONT=RING CHARAC_SIZE=25 X=95 Y=273
			TEXT=AVELUS_WEAPONS STR=:___bows FONT=RING CHARAC_SIZE=20 X=95 Y=307
			TEXT=VARYAN STR=Varyan FONT=RING CHARAC_SIZE=30 X=366 Y=125
			TEXT=VARYAN_DESC STR=The_Warrior FONT=RING CHARAC_SIZE=15 X=366 Y=175
			TEXT=VARYAN_STORY STR=Story: FONT=RING CHARAC_SIZE=20 X=366 Y=350
			TEXT=VARYAN_STORY_01 STR=Varyan_was_a_well-known FONT=RING CHARAC_SIZE=15 X=307 Y=390
			TEXT=VARYAN_STORY_02 STR=and_respected_warrior. FONT=RING CHARAC_SIZE=15 X=307 Y=410
			TEXT=VARYAN_STORY_03 STR=He_left_his_sword_for FONT=RING CHARAC_SIZE=15 X=307 Y=430
			TEXT=VARYAN_STORY_04 STR=his_newborn_daughter. FONT=RING CHARAC_SIZE=15 X=307 Y=450
			TEXT=VARYAN_STORY_05 STR=But_one_day_thieves FONT=RING CHARAC_SIZE=15 X=307 Y=470
			TEXT=VARYAN_STORY_07 STR=murdered_the_girl._Since FONT=RING CHARAC_SIZE=15 X=307 Y=490
			TEXT=VARYAN_STORY_08 STR=then,_revenge_is_his FONT=RING CHARAC_SIZE=15 X=307 Y=510
			TEXT=VARYAN_STORY_09 STR=life_purpose. FONT=RING CHARAC_SIZE=15 X=307 Y=530
			TEXT=VARYAN_VITALITY STR=:___200 FONT=RING CHARAC_SIZE=25 X=347 Y=218
			TEXT=VARYAN_ARMOR STR=:___10 FONT=RING CHARAC_SIZE=25 X=347 Y=245
			TEXT=VARYAN_SPECIAL STR=:___35 FONT=RING CHARAC_SIZE=25 X=347 Y=273
			TEXT=VARYAN_WEAPONS STR=:___swords FONT=RING CHARAC_SIZE=20 X=347 Y=307
			TEXT=JAINA STR=Jaina FONT=RING CHARAC_SIZE=30 X=622 Y=125
			TEXT=JAINA_DESC STR=The_Mage FONT=RING CHARAC_SIZE=15 X=622 Y=175
			TEXT=JAINA_STORY STR=Story: FONT=RING CHARAC_SIZE=20 X=622 Y=350
			TEXT=JAINA_STORY_01 STR=Jaina_is_a_talented_and FONT=RING CHARAC_SIZE=15 X=557 Y=390
			TEXT=JAINA_STORY_02 STR=passionate_magician. FONT=RING CHARAC_SIZE=15 X=557 Y=410
			TEXT=JAINA_STORY_03 STR=She_is_always_looking_for FONT=RING CHARAC_SIZE=15 X=557 Y=430
			TEXT=JAINA_STORY_04 STR=knowledge._Currently, FONT=RING CHARAC_SIZE=15 X=557 Y=450
			TEXT=JAINA_STORY_05 STR=she_is_looking_for_a FONT=RING CHARAC_SIZE=15 X=557 Y=470
			TEXT=JAINA_STORY_07 STR=quest_that_will_make FONT=RING CHARAC_SIZE=15 X=557 Y=490
			TEXT=JAINA_STORY_08 STR=her_father_proud_of FONT=RING CHARAC_SIZE=15 X=557 Y=510
			TEXT=JAINA_STORY_09 STR=the_path_she_chooses. FONT=RING CHARAC_SIZE=15 X=557 Y=530
			TEXT=JAINA_VITALITY STR=:___130 FONT=RING CHARAC_SIZE=25 X=600 Y=218
			TEXT=JAINA_ARMOR STR=:___4 FONT=RING CHARAC_SIZE=25 X=600 Y=245
			TEXT=JAINA_SPECIAL STR=:___45 FONT=RING CHARAC_SIZE=25 X=600 Y=273
			TEXT=JAINA_WEAPONS STR=:___staffs FONT=RING CHARAC_SIZE=20 X=600 Y=307
			TEXT=HOME STR=HOME FONT=ARCADE CHARAC_SIZE=35 X=610 Y=10

________________________________________________________________________________
-LOAD
	SCENE=LOAD PRIORITY=5
		LIST=OBJS
			OBJ=BACKGROUND TEXTURE=MENU_BG BUTTON=0 X=0 Y=0
			OBJ=BG_LOAD TEXTURE=LOAD_BG BUTTON=0 X=55 Y=10
			OBJ=HOME TEXTURE=BUTTON_EMPTY BUTTON=1 X=272 Y=450
		LIST=TEXTS
			TEXT=HOME STR=HOME FONT=ARCADE CHARAC_SIZE=30 X=370 Y=460


________________________________________________________________________________
-OPTION_GAME
	SCENE=OPTION_GAME PRIORITY=6
		LIST=OBJS
			OBJ=BACKGROUND TEXTURE=MENU_BG BUTTON=0 X=0 Y=0
			OBJ=OPTION_BG TEXTURE=OPTION_BG BUTTON=0 X=200 Y=50
			OBJ=HOME TEXTURE=BUTTON_EMPTY BUTTON=1 X=272 Y=500
			OBJ=CONTROL TEXTURE=BUTTON_EMPTY BUTTON=1 X=272 Y=360
			OBJ=HOW_TO_PLAY TEXTURE=BUTTON_EMPTY BUTTON=1 X=272 Y=430
			OBJ=SONG TEXTURE=BUTTON_EMPTY BUTTON=1 X=272 Y=180
			OBJ=FRAME_RATE_LESS TEXTURE=BUTTON_MINUS BUTTON=1 X=290 Y=280
			OBJ=FRAME_RATE_MORE TEXTURE=BUTTON_PLUS BUTTON=1 X=450 Y=280
		LIST=TEXTS
			TEXT=HOME STR=HOME FONT=ARCADE CHARAC_SIZE=30 X=370 Y=510
			TEXT=CONTROL STR=CONTROL FONT=ARCADE CHARAC_SIZE=30 X=350 Y=370
			TEXT=HOW_TO_PLAY STR=How__To__Play FONT=ARCADE CHARAC_SIZE=30 X=330 Y=440
			TEXT=FRAM_RATE STR=FRAM_RATE FONT=ARCADE CHARAC_SIZE=20 X=355 Y=260
			TEXT=FRAME STR=0 FONT=ARCADE CHARAC_SIZE=30 X=390 Y=290
			TEXT=SONG STR=SONG FONT=ARCADE CHARAC_SIZE=30 X=340 Y=190
			TEXT=OFFON STR=ON FONT=ARCADE CHARAC_SIZE=30 X=435 Y=190

________________________________________________________________________________

-HOW_TO_PLAY
	SCENE=HOW_TO_PLAY PRIORITY=6
		LIST=OBJS
			OBJ=BACKGROUND TEXTURE=MENU_BG BUTTON=0 X=0 Y=0
			OBJ=HOME TEXTURE=BUTTON_EMPTY BUTTON=1 X=272 Y=510
			OBJ=BG_HTP TEXTURE=BG_HTP BUTTON=0 X=65 Y=10
		LIST=TEXTS
			TEXT=HOME STR=HOME FONT=ARCADE CHARAC_SIZE=30 X=370 Y=520

________________________________________________________________________________

-CREDITS
	SCENE=CREDITS PRIORITY=2
		LIST=OBJS
			OBJ=HOME TEXTURE=BUTTON_EMPTY BUTTON=1 X=250 Y=520
			OBJ=BACKGROUND TEXTURE=MENU_BG BUTTON=0 X=0 Y=0
			OBJ=BG_CREDITS TEXTURE=BG_CREDITS BUTTON=0 X=65 Y=10
		LIST=TEXTS
			TEXT=HOME STR=HOME FONT=ARCADE CHARAC_SIZE=35 X=345 Y=525

________________________________________________________________________
-QUIT
	SCENE=QUIT PRIORITY=2

________________________________________________________________________________
-MAP
	SCENE=MAP PRIORITY=2

________________________________________________________________________________
-INVENTORY
	SCENE=INVENTORY PRIORITY=2
		LIST=OBJS
			OBJ=BACKGROUND TEXTURE=DEFAULT_BG BUTTON=0 X=544 Y=25
			OBJ=SLOT_HELMET TEXTURE=SLOT_UP BUTTON=0 X=630 Y=80
			OBJ=SLOT_CHEST TEXTURE=SLOT_MIDDLE BUTTON=0 X=626 Y=124
			OBJ=SLOT_PANTS TEXTURE=SLOT_DOWN BUTTON=0 X=630 Y=164
			OBJ=SLOT_GAUNTLETS TEXTURE=SLOT_LEFT BUTTON=0 X=572 Y=124
			OBJ=SLOT_WEAPON TEXTURE=SLOT_RIGHT BUTTON=0 X=670 Y=124
			OBJ=SLOT_00 TEXTURE=INVENTORY_CORNER_01 BUTTON=0 X=558 Y=285
			OBJ=SLOT_01 TEXTURE=INVENTORY_UP BUTTON=0 X=596 Y=285
			OBJ=SLOT_02 TEXTURE=INVENTORY_UP BUTTON=0 X=632 Y=285
			OBJ=SLOT_03 TEXTURE=INVENTORY_UP BUTTON=0 X=668 Y=285
			OBJ=SLOT_04 TEXTURE=INVENTORY_CORNER_02 BUTTON=0 X=704 Y=285
			OBJ=SLOT_10 TEXTURE=INVENTORY_LEFT BUTTON=0 X=558 Y=323
			OBJ=SLOT_11 TEXTURE=INVENTORY_MIDDLE BUTTON=0 X=596 Y=323
			OBJ=SLOT_12 TEXTURE=INVENTORY_MIDDLE BUTTON=0 X=632 Y=323
			OBJ=SLOT_13 TEXTURE=INVENTORY_MIDDLE BUTTON=0 X=668 Y=323
			OBJ=SLOT_14 TEXTURE=INVENTORY_RIGHT BUTTON=0 X=704 Y=323
			OBJ=SLOT_20 TEXTURE=INVENTORY_LEFT BUTTON=0 X=558 Y=359
			OBJ=SLOT_21 TEXTURE=INVENTORY_MIDDLE BUTTON=0 X=596 Y=359
			OBJ=SLOT_22 TEXTURE=INVENTORY_MIDDLE BUTTON=0 X=632 Y=359
			OBJ=SLOT_23 TEXTURE=INVENTORY_MIDDLE BUTTON=0 X=668 Y=359
			OBJ=SLOT_24 TEXTURE=INVENTORY_RIGHT BUTTON=0 X=704 Y=359
			OBJ=SLOT_30 TEXTURE=INVENTORY_LEFT BUTTON=0 X=558 Y=395
			OBJ=SLOT_31 TEXTURE=INVENTORY_MIDDLE BUTTON=0 X=596 Y=395
			OBJ=SLOT_32 TEXTURE=INVENTORY_MIDDLE BUTTON=0 X=632 Y=395
			OBJ=SLOT_33 TEXTURE=INVENTORY_MIDDLE BUTTON=0 X=668 Y=395
			OBJ=SLOT_34 TEXTURE=INVENTORY_RIGHT BUTTON=0 X=704 Y=395
			OBJ=SLOT_40 TEXTURE=INVENTORY_CORNER_04 BUTTON=0 X=558 Y=431
			OBJ=SLOT_41 TEXTURE=INVENTORY_DOWN BUTTON=0 X=596 Y=431
			OBJ=SLOT_42 TEXTURE=INVENTORY_DOWN BUTTON=0 X=632 Y=431
			OBJ=SLOT_43 TEXTURE=INVENTORY_DOWN BUTTON=0 X=668 Y=431
			OBJ=SLOT_44 TEXTURE=INVENTORY_CORNER_03 BUTTON=0 X=704 Y=431

________________________________________________________________________________
-QUETES
	SCENE=QUESTS PRIORITY=2
		LIST=OBJS
			OBJ=BACKGROUND TEXTURE=DEFAULT_BG BUTTON=0 X=40 Y=25
		LIST=TEXTS
			TEXT=QUESTS STR=Quests_: FONT=RING CHARAC_SIZE=30 X=90 Y=60
			TEXT=MAIN STR=The_rumors_(main)_: FONT=RING CHARAC_SIZE=15 X=50 Y=300
			TEXT=MORE STR=You_heard_about_a FONT=FRITZ CHARAC_SIZE=15 X=50 Y=320
			TEXT=MORE_01 STR=kidnapping_in_the_region. FONT=FRITZ CHARAC_SIZE=15 X=50 Y=340
			TEXT=MORE_02 STR=The_tavern_is_a_good_start FONT=FRITZ CHARAC_SIZE=15 X=50 Y=360
			TEXT=MORE_03 STR=for_investigations FONT=FRITZ CHARAC_SIZE=15 X=50 Y=380

_____________________________________________________________________________
-STATS
	SCENE=STATS PRIORITY=2
		LIST=OBJS
			OBJ=BACKGROUND TEXTURE=STATS_BG BUTTON=0 X=294 Y=25
			OBJ=ITEM_ICO TEXTURE=EMPTY_ITEM BUTTON=0 X=385 Y=290
		LIST=TEXTS
			TEXT=CHARAC STR=None FONT=RING CHARAC_SIZE=30 X=366 Y=60
			TEXT=CHARAC_DESC STR=The_Nobody FONT=RING CHARAC_SIZE=15 X=366 Y=105
			TEXT=LEVEL_STR STR=Level FONT=RING CHARAC_SIZE=20 X=368 Y=128
			TEXT=LEVEL STR=Level: FONT=RING CHARAC_SIZE=25 X=420 Y=125
			TEXT=HEALTH STR=:___0 FONT=RING CHARAC_SIZE=25 X=347 Y=158
			TEXT=ARMOR STR=:___0 FONT=RING CHARAC_SIZE=25 X=347 Y=182
			TEXT=SPECIAL STR=:___0 FONT=RING CHARAC_SIZE=25 X=347 Y=208
			TEXT=XP STR=:___0 FONT=RING CHARAC_SIZE=25 X=347 Y=234
			TEXT=NAME_ITEM STR=_ FONT=FRITZ CHARAC_SIZE=12 X=305 Y=345
			TEXT=HEALTH_ITEM STR=_ FONT=FRITZ CHARAC_SIZE=14 X=305 Y=370
			TEXT=ARMOR_ITEM STR=_ FONT=FRITZ CHARAC_SIZE=14 X=410 Y=370
			TEXT=SPECIAL_ITEM STR=_ FONT=FRITZ CHARAC_SIZE=14 X=305 Y=400
			TEXT=DAMAGES_ITEM STR=_ FONT=FRITZ CHARAC_SIZE=14 X=305 Y=430
			TEXT=QUEST_ITEM STR=_ FONT=FRITZ CHARAC_SIZE=14 X=305 Y=450
			TEXT=CONSUMBALE_ITEM STR=_ FONT=FRITZ CHARAC_SIZE=14 X=305 Y=480

_____________________________________________________________________________
-MENU_PRINCIPAL
	SCENE=MAIN_MENU PRIORITY=1
		LIST=OBJS
			OBJ=BACKGROUND TEXTURE=MENU_BG BUTTON=0 X=0 Y=0
			OBJ=TITLE TEXTURE=TITLE_GAME BUTTON=0 X=100 Y=0
			OBJ=NEW_GAME TEXTURE=BUTTON_EMPTY BUTTON=1 X=260 Y=140
			OBJ=LOAD TEXTURE=BUTTON_EMPTY BUTTON=1 X=260 Y=230
			OBJ=OPTION TEXTURE=BUTTON_EMPTY BUTTON=1 X=260 Y=320
			OBJ=CREDITS TEXTURE=BUTTON_EMPTY BUTTON=1 X=260 Y=410
			OBJ=EXIT TEXTURE=BUTTON_EMPTY BUTTON=1 X=260 Y=500
		LIST=TEXTS
			TEXT=NEW_GAME STR=NEW_GAME FONT=ARCADE CHARAC_SIZE=30 X=335 Y=150
			TEXT=LOAD STR=LOAD FONT=ARCADE CHARAC_SIZE=30 X=365 Y=240
			TEXT=OPTION STR=OPTION FONT=ARCADE CHARAC_SIZE=30 X=345 Y=330
			TEXT=CREDITS STR=CREDITS FONT=ARCADE CHARAC_SIZE=30 X=340 Y=420
			TEXT=EXIT STR=EXIT FONT=ARCADE CHARAC_SIZE=30 X=365 Y=510

_____________________________________________________________________________
-CONTROL
	SCENE=CONTROL_KEY PRIORITY=1
		LIST=OBJS
			OBJ=BACKGROUND TEXTURE=MENU_BG BUTTON=0 X=0 Y=0
			OBJ=OPTION TEXTURE=BUTTON_EMPTY BUTTON=1 X=260 Y=520
			OBJ=KEY_ZQSD TEXTURE=BUTTON_FRENCH_KEYBOARD BUTTON=1 X=40 Y=320
			OBJ=KEY_WASD TEXTURE=BUTTON_ENGLISH_KEYBOARD BUTTON=1 X=460 Y=320
			OBJ=FRENCH TEXTURE=FRENCH_FLAG BUTTON=0 X=40 Y=10
			OBJ=ENGLISH TEXTURE=ENGLISH_FLAG BUTTON=0 X=490 Y=20
		LIST=TEXTS
			TEXT=OPTION STR=OPTION FONT=ARCADE CHARAC_SIZE=30 X=345 Y=530
			TEXT=USER_KEY STR=FRENCH FONT=ARCADE CHARAC_SIZE=30 X=340 Y=250
			TEXT=KEYBOARD STR=KEYBOARD FONT=ARCADE CHARAC_SIZE=30 X=340 Y=290

_____________________________________________________________________________
-BATTLE
	SCENE=BATTLE PRIORITY=0
		LIST=OBJS
			OBJ=BG TEXTURE=PLAINS_BATTLE_BG BUTTON=0 X=0 Y=0
			OBJ=PANEL TEXTURE=BUTTON_BATTLE_BG BUTTON=0 X=0 Y=430
			OBJ=BACKGROUND TEXTURE=HUD_HEALTH BUTTON=0 X=0 Y=350
			OBJ=BG_LIFE TEXTURE=BG_LIFE_BAR BUTTON=0 X=90 Y=360
			OBJ=HEALTH_BAR TEXTURE=LIFE BUTTON=0 X=90 Y=360
			OBJ=END_LIFE_BAR TEXTURE=END_LIFE_BAR BUTTON=0 X=190 Y=357
			OBJ=BG_XP TEXTURE=BG_LIFE_BAR BUTTON=0 X=90 Y=400
			OBJ=XP_BAR TEXTURE=XP BUTTON=0 X=90 Y=400
			OBJ=END_XP_BAR TEXTURE=END_XP_BAR BUTTON=0 X=190 Y=397
			OBJ=STATS TEXTURE=JAINA_ICON BUTTON=1 X=20 Y=368
			OBJ=VERSUS_ICO TEXTURE=VERSUS BUTTON=0 X=280 Y=-50
		LIST=TEXTS
			TEXT=HIT STR=_ FONT=LIFECRAFT CHARAC_SIZE=40 X=500 Y=-100
		MUSIC=BATTLE_MUSIC LOOP=1

_____________________________________________________________________________
-BATTLE_BUTTONS
	SCENE=BATTLE_BASIC_BUTTONS PRIORITY=1
		LIST=OBJS
			OBJ=ATTACK TEXTURE=BUTTON_EMPTY BUTTON=1 X=70 Y=443
			OBJ=ITEMS TEXTURE=BUTTON_EMPTY BUTTON=1 X=70 Y=504
			OBJ=SPECIAL TEXTURE=BUTTON_EMPTY BUTTON=1 X=450 Y=443
			OBJ=RUN_AWAY TEXTURE=BUTTON_EMPTY BUTTON=1 X=450 Y=504
		LIST=TEXTS
			TEXT=ATTACK STR=ATTACK FONT=ARCADE CHARAC_SIZE=30 X=160 Y=452
			TEXT=ITEMS STR=ITEMS FONT=ARCADE CHARAC_SIZE=30 X=170 Y=514
			TEXT=SPECIAL STR=SPECIAL FONT=ARCADE CHARAC_SIZE=30 X=540 Y=452
			TEXT=RUN_AWAY STR=RUN_____AWAY FONT=ARCADE CHARAC_SIZE=30 X=525 Y=514

_____________________________________________________________________________
-ATTACK
	SCENE=ATTACK PRIORITY=1
		LIST=OBJS
			OBJ=SELECTOR TEXTURE=SELECTOR BUTTON=0 X=600 Y=175
		LIST=TEXTS
			TEXT=WHO STR=WHO____DO____YOU____WANT____TO____ATTACK FONT=ARCADE CHARAC_SIZE=40 X=130 Y=455
			TEXT=HOW STR=PRESS____ENTER____TO____CHOSE FONT=ARCADE CHARAC_SIZE=40 X=170 Y=500

_____________________________________________________________________________
-ENEMY_TURN
	SCENE=ENEMY_TURN PRIORITY=1
		LIST=TEXTS
			TEXT=WHO STR=ENEMY____TURN FONT=ARCADE CHARAC_SIZE=40 X=290 Y=475

_____________________________________________________________________________
-USE_SPECIAL
	SCENE=USE_SPECIAL PRIORITY=1
		LIST=TEXTS
			TEXT=SPECIAL STR=YOU____HIT____ALL____ENEMIES FONT=ARCADE CHARAC_SIZE=40 X=210 Y=475
			TEXT=WHO STR=_ FONT=ARCADE CHARAC_SIZE=40 X=170 Y=475

_____________________________________________________________________________
-CRITICAL_HIT
	SCENE=CRITICAL_HIT PRIORITY=1
		LIST=TEXTS
			TEXT=WHO STR=IT__S____A____CRITICAL____HIT FONT=ARCADE CHARAC_SIZE=40 X=210 Y=475

_____________________________________________________________________________
-ATTACK_FAILED
	SCENE=ATTACK_FAILED PRIORITY=1
		LIST=TEXTS
			TEXT=WHO STR=ATTACK____FAILED FONT=ARCADE CHARAC_SIZE=40 X=260 Y=475

_____________________________________________________________________________
-RUN_SUCCESS
	SCENE=RUN_SUCCESS PRIORITY=1
		LIST=TEXTS
			TEXT=WHO STR=SUCCEED____TO____RUN____AWAY FONT=ARCADE CHARAC_SIZE=40 X=200 Y=475

_____________________________________________________________________________
-RUN_FAIL
	SCENE=RUN_FAIL PRIORITY=1
		LIST=TEXTS
			TEXT=WHO STR=FAILED____TO____RUN____AWAY FONT=ARCADE CHARAC_SIZE=40 X=210 Y=475

_____________________________________________________________________________
-WIN_SCREEN
	SCENE=WIN_SCREEN PRIORITY=1
		LIST=OBJS
			OBJ=BG TEXTURE=DEFAULT_BG BUTTON=0 X=294 Y=90
			OBJ=END_SCREEN_CROSS TEXTURE=RED_CROSS BUTTON=1 X=500 Y=85
			OBJ=GOLD TEXTURE=GOLD_ICON BUTTON=0 X=315 Y=208
			OBJ=XP TEXTURE=XP_ICON BUTTON=0 X=315 Y=234
			OBJ=ITEM TEXTURE=EMPTY_ITEM BUTTON=0 X=380 Y=390
		LIST=TEXTS
			TEXT=RESULT STR=YOU__LOSE FONT=ARCADE CHARAC_SIZE=30 X=340 Y=120
			TEXT=GOLD STR=:___0 FONT=RING CHARAC_SIZE=25 X=347 Y=208
			TEXT=XP STR=:___0 FONT=RING CHARAC_SIZE=25 X=347 Y=234
			TEXT=FOUND STR=NO_ITEMS_FOUND FONT=ARCADE CHARAC_SIZE=25 X=305 Y=360
			TEXT=TYPE STR=_ FONT=ARCADE CHARAC_SIZE=25 X=305 Y=420
			TEXT=RARITY STR=_ FONT=ARCADE CHARAC_SIZE=25 X=305 Y=450

_____________________________________________________________________________
-LEVEL_UP
	SCENE=LEVEL_UP PRIORITY=1
		LIST=OBJS
			OBJ=BG TEXTURE=LEVEL_UP_BG BUTTON=0 X=544 Y=90
			OBJ=LVL_UP_CROSS TEXTURE=RED_CROSS BUTTON=1 X=750 Y=85
			OBJ=SPECIALITY TEXTURE=STRENGHT_ICON BUTTON=0 X=574 Y=470
		LIST=TEXTS
			TEXT=YOU_ARE STR=YOU____ARE____NOW FONT=ARCADE CHARAC_SIZE=30 X=560 Y=240
			TEXT=LVL STR=LVL____0 FONT=ARCADE CHARAC_SIZE=30 X=590 Y=280
			TEXT=HEALTH STR=_ FONT=RING CHARAC_SIZE=25 X=610 Y=380
			TEXT=ARMOR STR=_ FONT=RING CHARAC_SIZE=25 X=610 Y=425
			TEXT=SPECIALITY STR=_ FONT=RING CHARAC_SIZE=25 X=610 Y=465
			TEXT=ATTACK STR=_ FONT=RING CHARAC_SIZE=25 X=610 Y=510

_____________________________________________________________________________
-HEALTH_HUD
	SCENE=HEALTH_HUD PRIORITY=1
		LIST=OBJS
			OBJ=HEALTH_BAR TEXTURE=LIFE BUTTON=0 X=90 Y=10
			OBJ=BACKGROUND TEXTURE=HUD_HEALTH BUTTON=0 X=0 Y=0
			OBJ=END_LIFE_BAR TEXTURE=END_LIFE_BAR BUTTON=0 X=190 Y=7
			OBJ=BG_LIFE TEXTURE=BG_LIFE_BAR BUTTON=0 X=90 Y=10
			OBJ=STATS TEXTURE=JAINA_ICON BUTTON=1 X=20 Y=18
			OBJ=XP_BAR TEXTURE=XP BUTTON=0 X=90 Y=50
			OBJ=BG_XP TEXTURE=BG_LIFE_BAR BUTTON=0 X=90 Y=50
			OBJ=END_XP_BAR TEXTURE=END_XP_BAR BUTTON=0 X=190 Y=47

_____________________________________________________________________________
-LOADING
	SCENE=LOADING PRIORITY=1
		LIST=OBJS
			OBJ=TITLE TEXTURE=TITLE_GAME BUTTON=0 X=140 Y=0
			OBJ=BACKGROUND TEXTURE=WALLP_LOADING BUTTON=0 X=0 Y=0
			OBJ=BAR_LOADING TEXTURE=BG_lOADING BUTTON=0 X=120 Y=309
			OBJ=BG_BAR TEXTURE=BG_PROGRESSBAR BUTTON=0 X=100 Y=300
		LIST=TEXTS
			TEXT=PERCENT STR=0 FONT=RING CHARAC_SIZE=30 X=610 Y=301
			TEXT=VERSION STR=V_1.0 FONT=RING CHARAC_SIZE=30 X=115 Y=360
			TEXT=NEXT_ZONE STR=En_route_vers FONT=RING CHARAC_SIZE=20 X=120 Y=270

_____________________________________________________________________________
-AREA_HUD
	SCENE=AREA_HUD PRIORITY=1
		LIST=TEXTS
			TEXT=POS STR=00 FONT=RING CHARAC_SIZE=50 X=730 Y=-10

_____________________________________________________________________________
-DIALOGUE_HUD
	SCENE=DIALOGUE_HUD PRIORITY=2
		LIST=OBJS
			OBJ=DIALOGUE_BOX TEXTURE=DIALOGUE_BOX BUTTON=0 X=0 Y=440
		LIST=TEXTS
			TEXT=NAME STR=VARYAN:_ FONT=FRITZ CHARAC_SIZE=25 X=50 Y=462
			TEXT=LINE_01 STR=I_wanna_be_the_guy. FONT=FRITZ CHARAC_SIZE=25 X=175 Y=462
			TEXT=LINE_02 STR=I_wanna_save_the_girl,_and_then, FONT=FRITZ CHARAC_SIZE=25 X=50 Y=497
			TEXT=LINE_03 STR=I_wanna_be_the_hero. FONT=FRITZ CHARAC_SIZE=25 X=50 Y=532

### END OF FILE ###
