### FILE : Fichier d'initialisation de zone. ###
//Format: INIT_CHAR + description (voir .h)
//Format: 	AREA=nom de la région + ENCOUTER=0 ou 1 + X=coord_x + Y=coord_y (voir .h pour x y max)
//Format: 		TILE=DATA + BLOCK=bloque ou pas le passage + X=coord_x + Y=coord_y (voir .h pour x y max)
//Format: 			TEXTURE=ID texture du tile

-D_LAKE
	AREA=D_LAKE_01 ENCOUNTER=1 X=0 Y=2
		TILE=DATA BLOCK=0 X=0 Y=0
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=1 Y=0
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=2 Y=0
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=3 Y=0
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=4 Y=0
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=5 Y=0
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=6 Y=0
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=7 Y=0
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=8 Y=0
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=9 Y=0
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=10 Y=0
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=11 Y=0
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=12 Y=0
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=13 Y=0
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=14 Y=0
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=15 Y=0
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=0 Y=1
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=1 Y=1
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=2 Y=1
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=3 Y=1
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=4 Y=1
			TEXTURE=SAND_01
			TEXTURE=WATER_SIDE_02
			TEXTURE=WATER_SIDE_03
		TILE=DATA BLOCK=0 X=5 Y=1
			TEXTURE=SAND_01
			TEXTURE=WATER_SIDE_03
		TILE=DATA BLOCK=0 X=6 Y=1
			TEXTURE=SAND_03
			TEXTURE=WATER_SIDE_03
		TILE=DATA BLOCK=0 X=7 Y=1
			TEXTURE=SAND_01
			TEXTURE=WATER_SIDE_03
		TILE=DATA BLOCK=0 X=8 Y=1
			TEXTURE=SAND_01
			TEXTURE=WATER_SIDE_03
		TILE=DATA BLOCK=0 X=9 Y=1
			TEXTURE=SAND_01
			TEXTURE=WATER_SIDE_03
		TILE=DATA BLOCK=0 X=10 Y=1
			TEXTURE=SAND_04
			TEXTURE=WATER_SIDE_03
		TILE=DATA BLOCK=0 X=11 Y=1
			TEXTURE=SAND_01
			TEXTURE=WATER_SIDE_04
			TEXTURE=WATER_SIDE_03
		TILE=DATA BLOCK=1 X=12 Y=1
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=13 Y=1
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=14 Y=1
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=15 Y=1
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=0 Y=2
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=1 Y=2
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=2 Y=2
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=3 Y=2
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=4 Y=2
			TEXTURE=SAND_01
			TEXTURE=WATER_SIDE_02
		TILE=DATA BLOCK=0 X=5 Y=2
			TEXTURE=SAND_04
		TILE=DATA BLOCK=0 X=6 Y=2
			TEXTURE=SAND_04
		TILE=DATA BLOCK=0 X=7 Y=2
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=8 Y=2
			TEXTURE=SAND_02
		TILE=DATA BLOCK=0 X=9 Y=2
			TEXTURE=SAND_01
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=10 Y=2
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=11 Y=2
			TEXTURE=SAND_01
			TEXTURE=WATER_SIDE_04
		TILE=DATA BLOCK=1 X=12 Y=2
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=13 Y=2
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=14 Y=2
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=15 Y=2
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=0 Y=3
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=1 Y=3
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=2 Y=3
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=3 Y=3
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=4 Y=3
			TEXTURE=SAND_01
			TEXTURE=WATER_SIDE_02
		TILE=DATA BLOCK=0 X=5 Y=3
			TEXTURE=SAND_03
		TILE=DATA BLOCK=0 X=6 Y=3
			TEXTURE=SAND_01
			TEXTURE=WATER_CORNER_01
		TILE=DATA BLOCK=1 X=7 Y=3
			TEXTURE=SAND_01
			TEXTURE=WATER_SIDE_01
		TILE=DATA BLOCK=0 X=8 Y=3
			TEXTURE=SAND_01
			TEXTURE=WATER_CORNER_02
		TILE=DATA BLOCK=0 X=9 Y=3
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=10 Y=3
			TEXTURE=SAND_03
		TILE=DATA BLOCK=0 X=11 Y=3
			TEXTURE=SAND_01
			TEXTURE=WATER_SIDE_04
		TILE=DATA BLOCK=1 X=12 Y=3
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=13 Y=3
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=14 Y=3
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=15 Y=3
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=0 Y=4
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=1 Y=4
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=2 Y=4
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=3 Y=4
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=4 Y=4
			TEXTURE=SAND_01
			TEXTURE=WATER_SIDE_02
		TILE=DATA BLOCK=0 X=5 Y=4
			TEXTURE=SAND_01
		TILE=DATA BLOCK=1 X=6 Y=4
			TEXTURE=SAND_02
			TEXTURE=WATER_SIDE_04
		TILE=DATA BLOCK=1 X=7 Y=4
			TEXTURE=WATER_01
		TILE=DATA BLOCK=1 X=8 Y=4
			TEXTURE=SAND_01
			TEXTURE=WATER_SIDE_02
		TILE=DATA BLOCK=0 X=9 Y=4
			TEXTURE=SAND_01
			TEXTURE=WELL_UP_01
		TILE=DATA BLOCK=0 X=10 Y=4
			TEXTURE=SAND_04
		TILE=DATA BLOCK=0 X=11 Y=4
			TEXTURE=SAND_01
			TEXTURE=WATER_SIDE_04
		TILE=DATA BLOCK=1 X=12 Y=4
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=13 Y=4
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=14 Y=4
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=15 Y=4
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=0 Y=5
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=1 Y=5
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=2 Y=5
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=3 Y=5
			TEXTURE=SAND_01
			TEXTURE=WATER_SIDE_02
			TEXTURE=WATER_SIDE_03
		TILE=DATA BLOCK=0 X=4 Y=5
			TEXTURE=SAND_01
			TEXTURE=WATER_CORNER_03
		TILE=DATA BLOCK=0 X=5 Y=5
			TEXTURE=SAND_01
		TILE=DATA BLOCK=1 X=6 Y=5
			TEXTURE=SAND_01
			TEXTURE=WATER_SIDE_04
		TILE=DATA BLOCK=1 X=7 Y=5
			TEXTURE=WATER_01
		TILE=DATA BLOCK=1 X=8 Y=5
			TEXTURE=SAND_01
			TEXTURE=WATER_SIDE_02
		TILE=DATA BLOCK=1 X=9 Y=5
			TEXTURE=SAND_01
			TEXTURE=WELL_DOWN_01
		TILE=DATA BLOCK=0 X=10 Y=5
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=11 Y=5
			TEXTURE=SAND_01
			TEXTURE=WATER_CORNER_04
		TILE=DATA BLOCK=0 X=12 Y=5
			TEXTURE=SAND_01
			TEXTURE=WATER_SIDE_04
			TEXTURE=WATER_SIDE_03
		TILE=DATA BLOCK=1 X=13 Y=5
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=14 Y=5
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=15 Y=5
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=0 Y=6
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=1 Y=6
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=2 Y=6
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=3 Y=6
			TEXTURE=SAND_01
			TEXTURE=WATER_SIDE_02
		TILE=DATA BLOCK=0 X=4 Y=6
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=5 Y=6
			TEXTURE=SAND_03
		TILE=DATA BLOCK=0 X=6 Y=6
			TEXTURE=SAND_01
			TEXTURE=WATER_CORNER_04
		TILE=DATA BLOCK=1 X=7 Y=6
			TEXTURE=SAND_01
			TEXTURE=WATER_SIDE_03
		TILE=DATA BLOCK=0 X=8 Y=6
			TEXTURE=SAND_01
			TEXTURE=WATER_CORNER_03
		TILE=DATA BLOCK=0 X=9 Y=6
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=10 Y=6
			TEXTURE=SAND_03
		TILE=DATA BLOCK=0 X=11 Y=6
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=12 Y=6
			TEXTURE=SAND_01
			TEXTURE=WATER_SIDE_04
		TILE=DATA BLOCK=1 X=13 Y=6
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=14 Y=6
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=15 Y=6
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=0 Y=7
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=1 Y=7
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=2 Y=7
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=3 Y=7
			TEXTURE=SAND_01
			TEXTURE=WATER_SIDE_02
		TILE=DATA BLOCK=0 X=4 Y=7
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=5 Y=7
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=6 Y=7
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=7 Y=7
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=8 Y=7
			TEXTURE=SAND_02
		TILE=DATA BLOCK=0 X=9 Y=7
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=10 Y=7
			TEXTURE=SAND_04
		TILE=DATA BLOCK=0 X=11 Y=7
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=12 Y=7
			TEXTURE=SAND_01
			TEXTURE=WATER_SIDE_04
		TILE=DATA BLOCK=1 X=13 Y=7
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=14 Y=7
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=15 Y=7
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=0 Y=8
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=1 Y=8
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=2 Y=8
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=3 Y=8
			TEXTURE=SAND_01
			TEXTURE=WATER_SIDE_02
		TILE=DATA BLOCK=0 X=4 Y=8
			TEXTURE=SAND_02
		TILE=DATA BLOCK=0 X=5 Y=8
			TEXTURE=SAND_02
		TILE=DATA BLOCK=0 X=6 Y=8
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=7 Y=8
			TEXTURE=SAND_04
		TILE=DATA BLOCK=0 X=8 Y=8
			TEXTURE=SAND_03
		TILE=DATA BLOCK=0 X=9 Y=8
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=10 Y=8
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=11 Y=8
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=12 Y=8
			TEXTURE=SAND_01
			TEXTURE=WATER_SIDE_04
		TILE=DATA BLOCK=1 X=13 Y=8
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=14 Y=8
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=15 Y=8
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=0 Y=9
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=1 Y=9
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=2 Y=9
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=3 Y=9
			TEXTURE=SAND_02
			TEXTURE=WATER_SIDE_02
		TILE=DATA BLOCK=0 X=4 Y=9
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=5 Y=9
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=6 Y=9
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=7 Y=9
			TEXTURE=SAND_04
		TILE=DATA BLOCK=0 X=8 Y=9
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=9 Y=9
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=10 Y=9
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=11 Y=9
			TEXTURE=SAND_04
		TILE=DATA BLOCK=0 X=12 Y=9
			TEXTURE=SAND_01
			TEXTURE=WATER_SIDE_04
		TILE=DATA BLOCK=1 X=13 Y=9
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=14 Y=9
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=15 Y=9
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=0 Y=10
			TEXTURE=SAND_02
			TEXTURE=WATER_SIDE_03
			TEXTURE=ROCK_UP_01
		TILE=DATA BLOCK=0 X=1 Y=10
			TEXTURE=SAND_02
			TEXTURE=WATER_SIDE_03
		TILE=DATA BLOCK=0 X=2 Y=10
			TEXTURE=SAND_01
			TEXTURE=WATER_SIDE_03
		TILE=DATA BLOCK=0 X=3 Y=10
			TEXTURE=SAND_01
			TEXTURE=WATER_CORNER_03
		TILE=DATA BLOCK=0 X=4 Y=10
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=5 Y=10
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=6 Y=10
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=7 Y=10
			TEXTURE=SAND_04
		TILE=DATA BLOCK=0 X=8 Y=10
			TEXTURE=SAND_03
		TILE=DATA BLOCK=0 X=9 Y=10
			TEXTURE=SAND_02
		TILE=DATA BLOCK=0 X=10 Y=10
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=11 Y=10
			TEXTURE=SAND_03
		TILE=DATA BLOCK=0 X=12 Y=10
			TEXTURE=SAND_03
			TEXTURE=WATER_CORNER_04
		TILE=DATA BLOCK=0 X=13 Y=10
			TEXTURE=SAND_01
			TEXTURE=WATER_SIDE_03
		TILE=DATA BLOCK=0 X=14 Y=10
			TEXTURE=SAND_01
			TEXTURE=WATER_SIDE_03
		TILE=DATA BLOCK=0 X=15 Y=10
			TEXTURE=SAND_01
			TEXTURE=WATER_SIDE_03
		TILE=DATA BLOCK=1 X=0 Y=11
			TEXTURE=SAND_01
			TEXTURE=ROCK_DOWN_01
		TILE=DATA BLOCK=1 X=1 Y=11
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=2 Y=11
			TEXTURE=SAND_02
			TEXTURE=SAND_02
		TILE=DATA BLOCK=0 X=3 Y=11
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=4 Y=11
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=5 Y=11
			TEXTURE=SAND_02
		TILE=DATA BLOCK=0 X=6 Y=11
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=7 Y=11
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=8 Y=11
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=9 Y=11
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=10 Y=11
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=11 Y=11
			TEXTURE=SAND_04
		TILE=DATA BLOCK=0 X=12 Y=11
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=13 Y=11
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=14 Y=11
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=15 Y=11
			TEXTURE=SAND_01
	AREA=D_LAKE_02 ENCOUNTER=1 X=2 Y=2
		TILE=DATA BLOCK=0 X=0 Y=0
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=1 Y=0
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=2 Y=0
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=3 Y=0
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=4 Y=0
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=5 Y=0
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=6 Y=0
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=7 Y=0
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=8 Y=0
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=9 Y=0
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=10 Y=0
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=11 Y=0
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=12 Y=0
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=13 Y=0
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=14 Y=0
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=15 Y=0
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=0 Y=1
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=1 Y=1
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=2 Y=1
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=3 Y=1
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=4 Y=1
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=5 Y=1
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=6 Y=1
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=7 Y=1
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=8 Y=1
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=9 Y=1
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=10 Y=1
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=11 Y=1
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=12 Y=1
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=13 Y=1
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=14 Y=1
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=15 Y=1
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=0 Y=2
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=1 Y=2
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=2 Y=2
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=3 Y=2
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=4 Y=2
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=5 Y=2
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=6 Y=2
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=7 Y=2
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=8 Y=2
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=9 Y=2
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=10 Y=2
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=11 Y=2
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=12 Y=2
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=13 Y=2
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=14 Y=2
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=15 Y=2
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=0 Y=3
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=1 Y=3
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=2 Y=3
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=3 Y=3
			TEXTURE=WATER_02
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=4 Y=3
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=5 Y=3
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=6 Y=3
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=7 Y=3
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=8 Y=3
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=9 Y=3
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=10 Y=3
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=11 Y=3
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=12 Y=3
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=13 Y=3
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=14 Y=3
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=15 Y=3
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=0 Y=4
			TEXTURE=SAND_01
			TEXTURE=WATER_SIDE_03
		TILE=DATA BLOCK=0 X=1 Y=4
			TEXTURE=SAND_01
			TEXTURE=WATER_SIDE_03
		TILE=DATA BLOCK=0 X=2 Y=4
			TEXTURE=SAND_03
			TEXTURE=WATER_SIDE_03
		TILE=DATA BLOCK=0 X=3 Y=4
			TEXTURE=SAND_03
			TEXTURE=WATER_SIDE_03
		TILE=DATA BLOCK=0 X=4 Y=4
			TEXTURE=SAND_03
			TEXTURE=WATER_SIDE_03
		TILE=DATA BLOCK=0 X=5 Y=4
			TEXTURE=SAND_01
			TEXTURE=WATER_SIDE_03
		TILE=DATA BLOCK=0 X=6 Y=4
			TEXTURE=SAND_01
			TEXTURE=WATER_SIDE_03
		TILE=DATA BLOCK=0 X=7 Y=4
			TEXTURE=SAND_01
			TEXTURE=WATER_SIDE_04
			TEXTURE=WATER_SIDE_03
		TILE=DATA BLOCK=1 X=8 Y=4
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=9 Y=4
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=10 Y=4
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=11 Y=4
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=12 Y=4
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=13 Y=4
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=14 Y=4
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=15 Y=4
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=0 Y=5
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=1 Y=5
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=2 Y=5
			TEXTURE=SAND_04
		TILE=DATA BLOCK=0 X=3 Y=5
			TEXTURE=SAND_04
		TILE=DATA BLOCK=0 X=4 Y=5
			TEXTURE=SAND_02
		TILE=DATA BLOCK=0 X=5 Y=5
			TEXTURE=SAND_02
		TILE=DATA BLOCK=0 X=6 Y=5
			TEXTURE=SAND_02
		TILE=DATA BLOCK=0 X=7 Y=5
			TEXTURE=SAND_01
			TEXTURE=WATER_SIDE_04
		TILE=DATA BLOCK=1 X=8 Y=5
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=9 Y=5
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=10 Y=5
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=11 Y=5
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=12 Y=5
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=13 Y=5
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=14 Y=5
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=15 Y=5
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=0 Y=6
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=1 Y=6
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=2 Y=6
			TEXTURE=SAND_04
		TILE=DATA BLOCK=0 X=3 Y=6
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=4 Y=6
			TEXTURE=SAND_02
		TILE=DATA BLOCK=0 X=5 Y=6
			TEXTURE=SAND_02
		TILE=DATA BLOCK=0 X=6 Y=6
			TEXTURE=SAND_02
		TILE=DATA BLOCK=0 X=7 Y=6
			TEXTURE=SAND_02
			TEXTURE=WATER_CORNER_04
		TILE=DATA BLOCK=0 X=8 Y=6
			TEXTURE=SAND_02
			TEXTURE=WATER_SIDE_04
			TEXTURE=WATER_SIDE_03
		TILE=DATA BLOCK=1 X=9 Y=6
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=10 Y=6
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=11 Y=6
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=12 Y=6
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=13 Y=6
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=14 Y=6
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=15 Y=6
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=0 Y=7
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=1 Y=7
			TEXTURE=SAND_01
		TILE=DATA BLOCK=1 X=2 Y=7
			TEXTURE=SAND_04
			TEXTURE=BARREL_02
		TILE=DATA BLOCK=1 X=3 Y=7
			TEXTURE=SAND_03
			TEXTURE=BARREL_02
		TILE=DATA BLOCK=0 X=4 Y=7
			TEXTURE=SAND_03
		TILE=DATA BLOCK=0 X=5 Y=7
			TEXTURE=SAND_04
		TILE=DATA BLOCK=0 X=6 Y=7
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=7 Y=7
			TEXTURE=SAND_02
		TILE=DATA BLOCK=0 X=8 Y=7
			TEXTURE=SAND_02
			TEXTURE=WATER_SIDE_04
		TILE=DATA BLOCK=1 X=9 Y=7
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=10 Y=7
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=11 Y=7
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=12 Y=7
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=13 Y=7
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=14 Y=7
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=15 Y=7
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=0 Y=8
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=1 Y=8
			TEXTURE=SAND_01
		TILE=DATA BLOCK=1 X=2 Y=8
			TEXTURE=SAND_04
			TEXTURE=BARREL_01
		TILE=DATA BLOCK=0 X=3 Y=8
			TEXTURE=SAND_01
		TILE=DATA BLOCK=1 X=4 Y=8
			TEXTURE=SAND_01
			TEXTURE=CAMPFIRE_02
		TILE=DATA BLOCK=0 X=5 Y=8
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=6 Y=8
			TEXTURE=SAND_02
		TILE=DATA BLOCK=0 X=7 Y=8
			TEXTURE=SAND_02
		TILE=DATA BLOCK=0 X=8 Y=8
			TEXTURE=SAND_02
			TEXTURE=WATER_SIDE_04
		TILE=DATA BLOCK=1 X=9 Y=8
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=10 Y=8
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=11 Y=8
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=12 Y=8
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=13 Y=8
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=14 Y=8
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=15 Y=8
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=0 Y=9
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=1 Y=9
			TEXTURE=SAND_04
		TILE=DATA BLOCK=0 X=2 Y=9
			TEXTURE=SAND_04
		TILE=DATA BLOCK=0 X=3 Y=9
			TEXTURE=SAND_01
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=4 Y=9
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=5 Y=9
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=6 Y=9
			TEXTURE=SAND_02
		TILE=DATA BLOCK=0 X=7 Y=9
			TEXTURE=SAND_02
		TILE=DATA BLOCK=0 X=8 Y=9
			TEXTURE=SAND_01
			TEXTURE=WATER_CORNER_04
		TILE=DATA BLOCK=0 X=9 Y=9
			TEXTURE=SAND_02
			TEXTURE=WATER_SIDE_04
			TEXTURE=WATER_SIDE_03
		TILE=DATA BLOCK=1 X=10 Y=9
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=11 Y=9
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=12 Y=9
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=13 Y=9
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=14 Y=9
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=15 Y=9
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=0 Y=10
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=1 Y=10
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=2 Y=10
			TEXTURE=SAND_03
		TILE=DATA BLOCK=0 X=3 Y=10
			TEXTURE=SAND_03
		TILE=DATA BLOCK=0 X=4 Y=10
			TEXTURE=SAND_04
		TILE=DATA BLOCK=0 X=5 Y=10
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=6 Y=10
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=7 Y=10
			TEXTURE=SAND_03
		TILE=DATA BLOCK=0 X=8 Y=10
			TEXTURE=SAND_03
		TILE=DATA BLOCK=0 X=9 Y=10
			TEXTURE=SAND_02
			TEXTURE=WATER_CORNER_04
		TILE=DATA BLOCK=0 X=10 Y=10
			TEXTURE=SAND_01
			TEXTURE=WATER_SIDE_03
		TILE=DATA BLOCK=0 X=11 Y=10
			TEXTURE=SAND_01
			TEXTURE=WATER_SIDE_03
		TILE=DATA BLOCK=0 X=12 Y=10
			TEXTURE=SAND_02
			TEXTURE=WATER_SIDE_03
		TILE=DATA BLOCK=0 X=13 Y=10
			TEXTURE=SAND_01
			TEXTURE=WATER_SIDE_03
		TILE=DATA BLOCK=0 X=14 Y=10
			TEXTURE=SAND_01
			TEXTURE=WATER_SIDE_03
			TEXTURE=ROCK_UP_01
		TILE=DATA BLOCK=1 X=15 Y=10
			TEXTURE=SAND_01
			TEXTURE=WATER_SIDE_03
		TILE=DATA BLOCK=0 X=0 Y=11
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=1 Y=11
			TEXTURE=SAND_04
		TILE=DATA BLOCK=0 X=2 Y=11
			TEXTURE=SAND_04
		TILE=DATA BLOCK=0 X=3 Y=11
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=4 Y=11
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=5 Y=11
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=6 Y=11
			TEXTURE=SAND_03
		TILE=DATA BLOCK=0 X=7 Y=11
			TEXTURE=SAND_01
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=8 Y=11
			TEXTURE=SAND_04
		TILE=DATA BLOCK=0 X=9 Y=11
			TEXTURE=SAND_02
		TILE=DATA BLOCK=0 X=10 Y=11
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=11 Y=11
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=12 Y=11
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=13 Y=11
			TEXTURE=SAND_01
		TILE=DATA BLOCK=1 X=14 Y=11
			TEXTURE=SAND_01
			TEXTURE=ROCK_DOWN_01
		TILE=DATA BLOCK=1 X=15 Y=11
			TEXTURE=SAND_01
	AREA=D_LAKE_03 ENCOUNTER=1 X=1 Y=2
		TILE=DATA BLOCK=0 X=0 Y=0
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=1 Y=0
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=2 Y=0
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=3 Y=0
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=4 Y=0
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=5 Y=0
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=6 Y=0
			TEXTURE=SAND_01
			TEXTURE=WATER_SIDE_02
		TILE=DATA BLOCK=0 X=7 Y=0
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=8 Y=0
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=9 Y=0
			TEXTURE=SAND_01
			TEXTURE=WATER_SIDE_04
		TILE=DATA BLOCK=1 X=10 Y=0
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=11 Y=0
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=12 Y=0
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=13 Y=0
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=14 Y=0
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=15 Y=0
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=0 Y=1
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=1 Y=1
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=2 Y=1
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=3 Y=1
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=4 Y=1
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=5 Y=1
			TEXTURE=SAND_01
			TEXTURE=WATER_SIDE_02
			TEXTURE=WATER_SIDE_03
		TILE=DATA BLOCK=0 X=6 Y=1
			TEXTURE=SAND_01
			TEXTURE=WATER_CORNER_03
		TILE=DATA BLOCK=0 X=7 Y=1
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=8 Y=1
			TEXTURE=SAND_02
		TILE=DATA BLOCK=0 X=9 Y=1
			TEXTURE=SAND_01
			TEXTURE=WATER_CORNER_04
		TILE=DATA BLOCK=0 X=10 Y=1
			TEXTURE=SAND_01
			TEXTURE=WATER_SIDE_04
			TEXTURE=WATER_SIDE_03
		TILE=DATA BLOCK=1 X=11 Y=1
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=12 Y=1
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=13 Y=1
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=14 Y=1
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=15 Y=1
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=0 Y=2
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=1 Y=2
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=2 Y=2
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=3 Y=2
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=4 Y=2
			TEXTURE=SAND_01
			TEXTURE=WATER_SIDE_02
			TEXTURE=WATER_SIDE_03
		TILE=DATA BLOCK=0 X=5 Y=2
			TEXTURE=SAND_01
			TEXTURE=WATER_CORNER_03
		TILE=DATA BLOCK=0 X=6 Y=2
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=7 Y=2
			TEXTURE=SAND_02
		TILE=DATA BLOCK=0 X=8 Y=2
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=9 Y=2
			TEXTURE=SAND_01
			TEXTURE=SAND_01
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=10 Y=2
			TEXTURE=SAND_01
			TEXTURE=WATER_CORNER_04
		TILE=DATA BLOCK=0 X=11 Y=2
			TEXTURE=SAND_01
			TEXTURE=WATER_SIDE_04
			TEXTURE=WATER_SIDE_03
		TILE=DATA BLOCK=1 X=12 Y=2
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=13 Y=2
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=14 Y=2
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=15 Y=2
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=0 Y=3
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=1 Y=3
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=2 Y=3
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=3 Y=3
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=4 Y=3
			TEXTURE=SAND_01
			TEXTURE=WATER_SIDE_02
		TILE=DATA BLOCK=0 X=5 Y=3
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=6 Y=3
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=7 Y=3
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=8 Y=3
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=9 Y=3
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=10 Y=3
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=11 Y=3
			TEXTURE=SAND_01
			TEXTURE=WATER_SIDE_04
		TILE=DATA BLOCK=1 X=12 Y=3
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=13 Y=3
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=14 Y=3
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=15 Y=3
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=0 Y=4
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=1 Y=4
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=2 Y=4
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=3 Y=4
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=4 Y=4
			TEXTURE=SAND_01
			TEXTURE=WATER_SIDE_02
		TILE=DATA BLOCK=0 X=5 Y=4
			TEXTURE=SAND_02
		TILE=DATA BLOCK=0 X=6 Y=4
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=7 Y=4
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=8 Y=4
			TEXTURE=SAND_04
		TILE=DATA BLOCK=0 X=9 Y=4
			TEXTURE=SAND_03
		TILE=DATA BLOCK=0 X=10 Y=4
			TEXTURE=SAND_03
		TILE=DATA BLOCK=0 X=11 Y=4
			TEXTURE=SAND_01
			TEXTURE=WATER_CORNER_04
		TILE=DATA BLOCK=0 X=12 Y=4
			TEXTURE=SAND_01
			TEXTURE=WATER_SIDE_03
		TILE=DATA BLOCK=0 X=13 Y=4
			TEXTURE=SAND_03
			TEXTURE=WATER_SIDE_03
		TILE=DATA BLOCK=0 X=14 Y=4
			TEXTURE=SAND_03
			TEXTURE=WATER_SIDE_03
		TILE=DATA BLOCK=0 X=15 Y=4
			TEXTURE=SAND_01
			TEXTURE=WATER_SIDE_03
		TILE=DATA BLOCK=0 X=0 Y=5
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=1 Y=5
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=2 Y=5
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=3 Y=5
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=4 Y=5
			TEXTURE=SAND_02
			TEXTURE=WATER_SIDE_02
		TILE=DATA BLOCK=0 X=5 Y=5
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=6 Y=5
			TEXTURE=SAND_01
			TEXTURE=DIRT_CORNER_01
		TILE=DATA BLOCK=0 X=7 Y=5
			TEXTURE=SAND_01
			TEXTURE=DIRT_SIDE_01
		TILE=DATA BLOCK=0 X=8 Y=5
			TEXTURE=SAND_04
			TEXTURE=DIRT_SIDE_02
		TILE=DATA BLOCK=0 X=9 Y=5
			TEXTURE=SAND_04
			TEXTURE=DIRT_SIDE_01
		TILE=DATA BLOCK=0 X=10 Y=5
			TEXTURE=SAND_03
			TEXTURE=DIRT_SIDE_01
		TILE=DATA BLOCK=0 X=11 Y=5
			TEXTURE=SAND_01
			TEXTURE=DIRT_SIDE_02
		TILE=DATA BLOCK=0 X=12 Y=5
			TEXTURE=SAND_03
			TEXTURE=DIRT_CORNER_02
		TILE=DATA BLOCK=0 X=13 Y=5
			TEXTURE=SAND_03
		TILE=DATA BLOCK=0 X=14 Y=5
			TEXTURE=SAND_03
		TILE=DATA BLOCK=0 X=15 Y=5
			TEXTURE=SAND_02
		TILE=DATA BLOCK=0 X=0 Y=6
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=1 Y=6
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=2 Y=6
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=3 Y=6
			TEXTURE=SAND_01
			TEXTURE=WATER_SIDE_02
			TEXTURE=WATER_SIDE_03
		TILE=DATA BLOCK=0 X=4 Y=6
			TEXTURE=SAND_02
			TEXTURE=WATER_CORNER_03
		TILE=DATA BLOCK=0 X=5 Y=6
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=6 Y=6
			TEXTURE=SAND_01
			TEXTURE=DIRT_SIDE_07
		TILE=DATA BLOCK=0 X=7 Y=6
			TEXTURE=DIRT_01
			TEXTURE=GRASS_CORNER_04
		TILE=DATA BLOCK=0 X=8 Y=6
			TEXTURE=DIRT_01
			TEXTURE=GRASS_SIDE_01
		TILE=DATA BLOCK=0 X=9 Y=6
			TEXTURE=DIRT_01
			TEXTURE=GRASS_SIDE_02
			TEXTURE=TREE_UP_01
		TILE=DATA BLOCK=0 X=10 Y=6
			TEXTURE=DIRT_01
			TEXTURE=GRASS_SIDE_02
		TILE=DATA BLOCK=0 X=11 Y=6
			TEXTURE=DIRT_01
			TEXTURE=GRASS_CORNER_01
		TILE=DATA BLOCK=0 X=12 Y=6
			TEXTURE=SAND_02
			TEXTURE=DIRT_SIDE_03
		TILE=DATA BLOCK=0 X=13 Y=6
			TEXTURE=SAND_03
		TILE=DATA BLOCK=0 X=14 Y=6
			TEXTURE=SAND_02
		TILE=DATA BLOCK=0 X=15 Y=6
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=0 Y=7
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=1 Y=7
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=2 Y=7
			TEXTURE=SAND_03
			TEXTURE=WATER_SIDE_02
			TEXTURE=WATER_SIDE_03
		TILE=DATA BLOCK=0 X=3 Y=7
			TEXTURE=SAND_04
			TEXTURE=WATER_CORNER_03
		TILE=DATA BLOCK=0 X=4 Y=7
			TEXTURE=SAND_03
		TILE=DATA BLOCK=0 X=5 Y=7
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=6 Y=7
			TEXTURE=SAND_01
			TEXTURE=DIRT_SIDE_08
		TILE=DATA BLOCK=0 X=7 Y=7
			TEXTURE=ROAD_04
			TEXTURE=GRASS_SIDE_07
		TILE=DATA BLOCK=0 X=8 Y=7
			TEXTURE=GRASS_02
		TILE=DATA BLOCK=0 X=9 Y=7
			TEXTURE=GRASS_01
		TILE=DATA BLOCK=0 X=10 Y=7
			TEXTURE=GRASS_01
		TILE=DATA BLOCK=0 X=11 Y=7
			TEXTURE=ROAD_04
			TEXTURE=GRASS_SIDE_03
		TILE=DATA BLOCK=0 X=12 Y=7
			TEXTURE=SAND_04
			TEXTURE=DIRT_SIDE_04
		TILE=DATA BLOCK=0 X=13 Y=7
			TEXTURE=SAND_04
		TILE=DATA BLOCK=0 X=14 Y=7
			TEXTURE=SAND_02
		TILE=DATA BLOCK=0 X=15 Y=7
			TEXTURE=SAND_02
		TILE=DATA BLOCK=0 X=0 Y=8
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=1 Y=8
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=2 Y=8
			TEXTURE=SAND_04
			TEXTURE=WATER_SIDE_02
		TILE=DATA BLOCK=0 X=3 Y=8
			TEXTURE=SAND_03
		TILE=DATA BLOCK=0 X=4 Y=8
			TEXTURE=SAND_04
		TILE=DATA BLOCK=0 X=5 Y=8
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=6 Y=8
			TEXTURE=SAND_01
			TEXTURE=DIRT_SIDE_07
		TILE=DATA BLOCK=0 X=7 Y=8
			TEXTURE=ROAD_04
			TEXTURE=GRASS_SIDE_08
		TILE=DATA BLOCK=0 X=8 Y=8
			TEXTURE=ROCK_03
		TILE=DATA BLOCK=1 X=9 Y=8
			TEXTURE=GRASS_01
			TEXTURE=TREE_DOWN_01
		TILE=DATA BLOCK=1 X=10 Y=8
			TEXTURE=GRASS_02
		TILE=DATA BLOCK=0 X=11 Y=8
			TEXTURE=ROAD_04
			TEXTURE=GRASS_SIDE_04
		TILE=DATA BLOCK=0 X=12 Y=8
			TEXTURE=SAND_01
			TEXTURE=DIRT_SIDE_03
		TILE=DATA BLOCK=0 X=13 Y=8
			TEXTURE=SAND_02
		TILE=DATA BLOCK=0 X=14 Y=8
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=15 Y=8
			TEXTURE=SAND_01
		TILE=DATA BLOCK=1 X=0 Y=9
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=1 Y=9
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=2 Y=9
			TEXTURE=SAND_02
			TEXTURE=WATER_SIDE_02
		TILE=DATA BLOCK=0 X=3 Y=9
			TEXTURE=SAND_04
		TILE=DATA BLOCK=0 X=4 Y=9
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=5 Y=9
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=6 Y=9
			TEXTURE=SAND_01
			TEXTURE=DIRT_SIDE_08
		TILE=DATA BLOCK=0 X=7 Y=9
			TEXTURE=ROAD_03
			TEXTURE=GRASS_CORNER_03
		TILE=DATA BLOCK=0 X=8 Y=9
			TEXTURE=ROAD_03
			TEXTURE=GRASS_SIDE_06
		TILE=DATA BLOCK=0 X=9 Y=9
			TEXTURE=ROAD_03
			TEXTURE=GRASS_SIDE_05
		TILE=DATA BLOCK=0 X=10 Y=9
			TEXTURE=ROAD_03
			TEXTURE=GRASS_SIDE_06
		TILE=DATA BLOCK=0 X=11 Y=9
			TEXTURE=ROAD_03
			TEXTURE=GRASS_CORNER_02
		TILE=DATA BLOCK=0 X=12 Y=9
			TEXTURE=SAND_02
			TEXTURE=DIRT_SIDE_04
		TILE=DATA BLOCK=0 X=13 Y=9
			TEXTURE=SAND_02
		TILE=DATA BLOCK=0 X=14 Y=9
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=15 Y=9
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=0 Y=10
			TEXTURE=SAND_01
			TEXTURE=WATER_SIDE_03
		TILE=DATA BLOCK=0 X=1 Y=10
			TEXTURE=SAND_01
			TEXTURE=WATER_SIDE_03
		TILE=DATA BLOCK=0 X=2 Y=10
			TEXTURE=SAND_02
			TEXTURE=WATER_CORNER_03
		TILE=DATA BLOCK=0 X=3 Y=10
			TEXTURE=SAND_03
		TILE=DATA BLOCK=0 X=4 Y=10
			TEXTURE=SAND_03
		TILE=DATA BLOCK=0 X=5 Y=10
			TEXTURE=SAND_03
		TILE=DATA BLOCK=0 X=6 Y=10
			TEXTURE=SAND_01
			TEXTURE=DIRT_CORNER_04
		TILE=DATA BLOCK=0 X=7 Y=10
			TEXTURE=SAND_02
			TEXTURE=DIRT_SIDE_05
		TILE=DATA BLOCK=0 X=8 Y=10
			TEXTURE=SAND_01
			TEXTURE=DIRT_SIDE_05
		TILE=DATA BLOCK=0 X=9 Y=10
			TEXTURE=SAND_02
			TEXTURE=DIRT_SIDE_05
		TILE=DATA BLOCK=0 X=10 Y=10
			TEXTURE=SAND_04
			TEXTURE=DIRT_SIDE_05
		TILE=DATA BLOCK=0 X=11 Y=10
			TEXTURE=SAND_03
			TEXTURE=DIRT_SIDE_05
		TILE=DATA BLOCK=0 X=12 Y=10
			TEXTURE=SAND_02
			TEXTURE=DIRT_CORNER_03
		TILE=DATA BLOCK=0 X=13 Y=10
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=14 Y=10
			TEXTURE=SAND_02
		TILE=DATA BLOCK=0 X=15 Y=10
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=0 Y=11
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=1 Y=11
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=2 Y=11
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=3 Y=11
			TEXTURE=SAND_04
		TILE=DATA BLOCK=0 X=4 Y=11
			TEXTURE=SAND_04
		TILE=DATA BLOCK=0 X=5 Y=11
			TEXTURE=SAND_04
		TILE=DATA BLOCK=0 X=6 Y=11
			TEXTURE=SAND_02
		TILE=DATA BLOCK=0 X=7 Y=11
			TEXTURE=SAND_02
		TILE=DATA BLOCK=0 X=8 Y=11
			TEXTURE=SAND_02
		TILE=DATA BLOCK=0 X=9 Y=11
			TEXTURE=SAND_02
		TILE=DATA BLOCK=0 X=10 Y=11
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=11 Y=11
			TEXTURE=SAND_04
		TILE=DATA BLOCK=0 X=12 Y=11
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=13 Y=11
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=14 Y=11
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=15 Y=11
			TEXTURE=SAND_01
	AREA=D_LAKE_04 ENCOUNTER=1 X=1 Y=1
		TILE=DATA BLOCK=1 X=0 Y=0
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=1 Y=0
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=2 Y=0
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=3 Y=0
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=4 Y=0
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=5 Y=0
			TEXTURE=SAND_02
			TEXTURE=WATER_SIDE_02
			TEXTURE=WATER_SIDE_01
		TILE=DATA BLOCK=0 X=6 Y=0
			TEXTURE=SAND_02
			TEXTURE=WATER_CORNER_02
		TILE=DATA BLOCK=0 X=7 Y=0
			TEXTURE=SAND_03
		TILE=DATA BLOCK=0 X=8 Y=0
			TEXTURE=SAND_03
		TILE=DATA BLOCK=0 X=9 Y=0
			TEXTURE=SAND_02
			TEXTURE=WATER_CORNER_01
		TILE=DATA BLOCK=0 X=10 Y=0
			TEXTURE=SAND_02
			TEXTURE=WATER_SIDE_04
			TEXTURE=WATER_SIDE_01
		TILE=DATA BLOCK=1 X=11 Y=0
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=12 Y=0
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=13 Y=0
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=14 Y=0
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=15 Y=0
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=0 Y=1
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=1 Y=1
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=2 Y=1
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=3 Y=1
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=4 Y=1
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=5 Y=1
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=6 Y=1
			TEXTURE=SAND_02
			TEXTURE=WATER_SIDE_02
			TEXTURE=WATER_SIDE_01
		TILE=DATA BLOCK=1 X=7 Y=1
			TEXTURE=SAND_04
			TEXTURE=WATER_SIDE_01
		TILE=DATA BLOCK=1 X=8 Y=1
			TEXTURE=SAND_04
			TEXTURE=WATER_SIDE_01
		TILE=DATA BLOCK=1 X=9 Y=1
			TEXTURE=SAND_01
			TEXTURE=WATER_SIDE_04
			TEXTURE=WATER_SIDE_01
		TILE=DATA BLOCK=1 X=10 Y=1
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=11 Y=1
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=12 Y=1
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=13 Y=1
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=14 Y=1
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=15 Y=1
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=0 Y=2
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=1 Y=2
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=2 Y=2
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=3 Y=2
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=4 Y=2
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=5 Y=2
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=6 Y=2
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=7 Y=2
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=8 Y=2
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=9 Y=2
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=10 Y=2
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=11 Y=2
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=12 Y=2
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=13 Y=2
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=14 Y=2
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=15 Y=2
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=0 Y=3
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=1 Y=3
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=2 Y=3
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=3 Y=3
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=4 Y=3
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=5 Y=3
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=6 Y=3
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=7 Y=3
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=8 Y=3
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=9 Y=3
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=10 Y=3
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=11 Y=3
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=12 Y=3
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=13 Y=3
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=14 Y=3
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=15 Y=3
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=0 Y=4
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=1 Y=4
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=2 Y=4
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=3 Y=4
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=4 Y=4
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=5 Y=4
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=6 Y=4
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=7 Y=4
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=8 Y=4
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=9 Y=4
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=10 Y=4
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=11 Y=4
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=12 Y=4
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=13 Y=4
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=14 Y=4
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=15 Y=4
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=0 Y=5
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=1 Y=5
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=2 Y=5
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=3 Y=5
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=4 Y=5
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=5 Y=5
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=6 Y=5
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=7 Y=5
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=8 Y=5
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=9 Y=5
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=10 Y=5
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=11 Y=5
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=12 Y=5
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=13 Y=5
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=14 Y=5
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=15 Y=5
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=0 Y=6
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=1 Y=6
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=2 Y=6
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=3 Y=6
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=4 Y=6
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=5 Y=6
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=6 Y=6
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=7 Y=6
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=8 Y=6
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=9 Y=6
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=10 Y=6
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=11 Y=6
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=12 Y=6
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=13 Y=6
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=14 Y=6
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=15 Y=6
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=0 Y=7
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=1 Y=7
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=2 Y=7
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=3 Y=7
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=4 Y=7
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=5 Y=7
			TEXTURE=SAND_01
			TEXTURE=WATER_SIDE_02
			TEXTURE=WATER_SIDE_03
		TILE=DATA BLOCK=0 X=6 Y=7
			TEXTURE=SAND_01
			TEXTURE=WATER_SIDE_03
		TILE=DATA BLOCK=0 X=7 Y=7
			TEXTURE=SAND_01
			TEXTURE=WATER_SIDE_03
		TILE=DATA BLOCK=0 X=8 Y=7
			TEXTURE=SAND_04
			TEXTURE=WATER_SIDE_03
		TILE=DATA BLOCK=0 X=9 Y=7
			TEXTURE=SAND_03
			TEXTURE=WATER_SIDE_03
		TILE=DATA BLOCK=0 X=10 Y=7
			TEXTURE=SAND_03
			TEXTURE=WATER_SIDE_04
			TEXTURE=WATER_SIDE_03
		TILE=DATA BLOCK=1 X=11 Y=7
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=12 Y=7
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=13 Y=7
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=14 Y=7
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=15 Y=7
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=0 Y=8
			TEXTURE=SAND_02
			TEXTURE=WATER_SIDE_03
		TILE=DATA BLOCK=0 X=1 Y=8
			TEXTURE=SAND_02
			TEXTURE=WATER_SIDE_03
		TILE=DATA BLOCK=0 X=2 Y=8
			TEXTURE=SAND_02
			TEXTURE=WATER_SIDE_03
		TILE=DATA BLOCK=0 X=3 Y=8
			TEXTURE=SAND_03
			TEXTURE=WATER_SIDE_03
		TILE=DATA BLOCK=0 X=4 Y=8
			TEXTURE=SAND_03
			TEXTURE=WATER_SIDE_03
		TILE=DATA BLOCK=0 X=5 Y=8
			TEXTURE=SAND_02
			TEXTURE=WATER_CORNER_03
		TILE=DATA BLOCK=0 X=6 Y=8
			TEXTURE=SAND_02
		TILE=DATA BLOCK=0 X=7 Y=8
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=8 Y=8
			TEXTURE=SAND_04
		TILE=DATA BLOCK=0 X=9 Y=8
			TEXTURE=SAND_04
		TILE=DATA BLOCK=0 X=10 Y=8
			TEXTURE=SAND_03
			TEXTURE=WATER_CORNER_04
		TILE=DATA BLOCK=0 X=11 Y=8
			TEXTURE=SAND_02
			TEXTURE=WATER_SIDE_03
		TILE=DATA BLOCK=0 X=12 Y=8
			TEXTURE=SAND_02
			TEXTURE=WATER_SIDE_03
		TILE=DATA BLOCK=0 X=13 Y=8
			TEXTURE=SAND_02
			TEXTURE=WATER_SIDE_03
		TILE=DATA BLOCK=0 X=14 Y=8
			TEXTURE=SAND_02
			TEXTURE=WATER_SIDE_03
		TILE=DATA BLOCK=0 X=15 Y=8
			TEXTURE=SAND_02
			TEXTURE=WATER_SIDE_03
		TILE=DATA BLOCK=0 X=0 Y=9
			TEXTURE=SAND_03
		TILE=DATA BLOCK=0 X=1 Y=9
			TEXTURE=SAND_03
		TILE=DATA BLOCK=0 X=2 Y=9
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=3 Y=9
			TEXTURE=SAND_04
		TILE=DATA BLOCK=0 X=4 Y=9
			TEXTURE=SAND_03
		TILE=DATA BLOCK=0 X=5 Y=9
			TEXTURE=SAND_02
		TILE=DATA BLOCK=0 X=6 Y=9
			TEXTURE=SAND_02
		TILE=DATA BLOCK=0 X=7 Y=9
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=8 Y=9
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=9 Y=9
			TEXTURE=SAND_02
		TILE=DATA BLOCK=0 X=10 Y=9
			TEXTURE=SAND_02
		TILE=DATA BLOCK=0 X=11 Y=9
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=12 Y=9
			TEXTURE=SAND_03
		TILE=DATA BLOCK=0 X=13 Y=9
			TEXTURE=SAND_03
		TILE=DATA BLOCK=0 X=14 Y=9
			TEXTURE=SAND_04
		TILE=DATA BLOCK=0 X=15 Y=9
			TEXTURE=SAND_02
		TILE=DATA BLOCK=0 X=0 Y=10
			TEXTURE=SAND_04
			TEXTURE=WATER_SIDE_01
		TILE=DATA BLOCK=0 X=1 Y=10
			TEXTURE=SAND_04
			TEXTURE=WATER_SIDE_01
		TILE=DATA BLOCK=0 X=2 Y=10
			TEXTURE=SAND_01
			TEXTURE=WATER_SIDE_01
		TILE=DATA BLOCK=0 X=3 Y=10
			TEXTURE=SAND_01
			TEXTURE=WATER_SIDE_01
		TILE=DATA BLOCK=0 X=4 Y=10
			TEXTURE=SAND_04
			TEXTURE=WATER_SIDE_01
		TILE=DATA BLOCK=0 X=5 Y=10
			TEXTURE=SAND_02
			TEXTURE=WATER_SIDE_01
		TILE=DATA BLOCK=0 X=6 Y=10
			TEXTURE=SAND_02
			TEXTURE=WATER_CORNER_02
		TILE=DATA BLOCK=0 X=7 Y=10
			TEXTURE=SAND_03
		TILE=DATA BLOCK=0 X=8 Y=10
			TEXTURE=SAND_03
		TILE=DATA BLOCK=0 X=9 Y=10
			TEXTURE=SAND_01
			TEXTURE=WATER_CORNER_01
		TILE=DATA BLOCK=0 X=10 Y=10
			TEXTURE=SAND_02
			TEXTURE=WATER_SIDE_01
		TILE=DATA BLOCK=0 X=11 Y=10
			TEXTURE=SAND_01
			TEXTURE=WATER_SIDE_01
		TILE=DATA BLOCK=0 X=12 Y=10
			TEXTURE=SAND_04
			TEXTURE=WATER_SIDE_01
		TILE=DATA BLOCK=0 X=13 Y=10
			TEXTURE=SAND_03
			TEXTURE=WATER_SIDE_01
		TILE=DATA BLOCK=0 X=14 Y=10
			TEXTURE=SAND_02
			TEXTURE=WATER_SIDE_01
		TILE=DATA BLOCK=0 X=15 Y=10
			TEXTURE=SAND_02
			TEXTURE=WATER_SIDE_01
		TILE=DATA BLOCK=1 X=0 Y=11
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=1 Y=11
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=2 Y=11
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=3 Y=11
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=4 Y=11
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=5 Y=11
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=6 Y=11
			TEXTURE=SAND_01
			TEXTURE=WATER_SIDE_02
		TILE=DATA BLOCK=0 X=7 Y=11
			TEXTURE=SAND_04
		TILE=DATA BLOCK=0 X=8 Y=11
			TEXTURE=SAND_03
		TILE=DATA BLOCK=0 X=9 Y=11
			TEXTURE=SAND_01
			TEXTURE=WATER_SIDE_04
		TILE=DATA BLOCK=1 X=10 Y=11
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=11 Y=11
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=12 Y=11
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=13 Y=11
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=14 Y=11
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=15 Y=11
			TEXTURE=WATER_02
	AREA=D_LAKE_05 ENCOUNTER=1 X=0 Y=1
		TILE=DATA BLOCK=1 X=0 Y=0
			TEXTURE=GRASS_01
			TEXTURE=TREE_DOWN_01
		TILE=DATA BLOCK=1 X=1 Y=0
			TEXTURE=GRASS_02
		TILE=DATA BLOCK=1 X=2 Y=0
			TEXTURE=GRASS_01
			TEXTURE=TREE_DOWN_01
		TILE=DATA BLOCK=1 X=3 Y=0
			TEXTURE=GRASS_01
			TEXTURE=TREE_UP_01
		TILE=DATA BLOCK=1 X=4 Y=0
			TEXTURE=GRASS_01
			TEXTURE=TREE_DOWN_01
		TILE=DATA BLOCK=1 X=5 Y=0
			TEXTURE=GRASS_01
		TILE=DATA BLOCK=1 X=6 Y=0
			TEXTURE=ROAD_03
			TEXTURE=GRASS_SIDE_03
		TILE=DATA BLOCK=1 X=7 Y=0
			TEXTURE=SAND_02
			TEXTURE=ROCK_DOWN_01
			TEXTURE=DIRT_SIDE_04
		TILE=DATA BLOCK=1 X=8 Y=0
			TEXTURE=SAND_02
			TEXTURE=WATER_SIDE_04
		TILE=DATA BLOCK=1 X=9 Y=0
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=10 Y=0
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=11 Y=0
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=12 Y=0
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=13 Y=0
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=14 Y=0
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=15 Y=0
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=0 Y=1
			TEXTURE=GRASS_01
			TEXTURE=CAMPFIRE_02
		TILE=DATA BLOCK=0 X=1 Y=1
			TEXTURE=GRASS_01
			TEXTURE=TREE_UP_01
		TILE=DATA BLOCK=0 X=2 Y=1
			TEXTURE=GRASS_01
		TILE=DATA BLOCK=0 X=3 Y=1
			TEXTURE=GRASS_01
		TILE=DATA BLOCK=0 X=4 Y=1
			TEXTURE=GRASS_01
		TILE=DATA BLOCK=0 X=5 Y=1
			TEXTURE=GRASS_01
		TILE=DATA BLOCK=0 X=6 Y=1
			TEXTURE=ROAD_05
			TEXTURE=GRASS_SIDE_04
		TILE=DATA BLOCK=0 X=7 Y=1
			TEXTURE=SAND_01
			TEXTURE=DIRT_SIDE_03
		TILE=DATA BLOCK=0 X=8 Y=1
			TEXTURE=SAND_02
			TEXTURE=WATER_SIDE_04
		TILE=DATA BLOCK=1 X=9 Y=1
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=10 Y=1
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=11 Y=1
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=12 Y=1
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=13 Y=1
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=14 Y=1
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=15 Y=1
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=0 Y=2
			TEXTURE=GRASS_01
			TEXTURE=CAMPFIRE_01
		TILE=DATA BLOCK=0 X=1 Y=2
			TEXTURE=GRASS_01
		TILE=DATA BLOCK=0 X=2 Y=2
			TEXTURE=GRASS_01
		TILE=DATA BLOCK=0 X=3 Y=2
			TEXTURE=GRASS_01
			TEXTURE=TREE_DOWN_01
		TILE=DATA BLOCK=0 X=4 Y=2
			TEXTURE=GRASS_01
		TILE=DATA BLOCK=0 X=5 Y=2
			TEXTURE=GRASS_01
		TILE=DATA BLOCK=0 X=6 Y=2
			TEXTURE=ROAD_03
			TEXTURE=GRASS_SIDE_03
		TILE=DATA BLOCK=0 X=7 Y=2
			TEXTURE=SAND_03
			TEXTURE=DIRT_SIDE_04
		TILE=DATA BLOCK=0 X=8 Y=2
			TEXTURE=SAND_02
			TEXTURE=WATER_CORNER_04
		TILE=DATA BLOCK=0 X=9 Y=2
			TEXTURE=SAND_03
			TEXTURE=WATER_SIDE_03
			TEXTURE=WATER_SIDE_04
		TILE=DATA BLOCK=1 X=10 Y=2
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=11 Y=2
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=12 Y=2
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=13 Y=2
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=14 Y=2
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=15 Y=2
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=0 Y=3
			TEXTURE=ROCK_04
		TILE=DATA BLOCK=0 X=1 Y=3
			TEXTURE=GRASS_01
			TEXTURE=TREE_DOWN_01
		TILE=DATA BLOCK=0 X=2 Y=3
			TEXTURE=GRASS_01
		TILE=DATA BLOCK=0 X=3 Y=3
			TEXTURE=GRASS_02
		TILE=DATA BLOCK=0 X=4 Y=3
			TEXTURE=GRASS_01
		TILE=DATA BLOCK=0 X=5 Y=3
			TEXTURE=GRASS_01
		TILE=DATA BLOCK=0 X=6 Y=3
			TEXTURE=ROAD_03
			TEXTURE=GRASS_SIDE_04
		TILE=DATA BLOCK=0 X=7 Y=3
			TEXTURE=SAND_04
			TEXTURE=DIRT_SIDE_03
		TILE=DATA BLOCK=0 X=8 Y=3
			TEXTURE=SAND_02
			TEXTURE=SAND_02
		TILE=DATA BLOCK=0 X=9 Y=3
			TEXTURE=SAND_03
			TEXTURE=WATER_SIDE_04
		TILE=DATA BLOCK=1 X=10 Y=3
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=11 Y=3
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=12 Y=3
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=13 Y=3
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=14 Y=3
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=15 Y=3
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=0 Y=4
			TEXTURE=ROCK_04
		TILE=DATA BLOCK=0 X=1 Y=4
			TEXTURE=GRASS_01
		TILE=DATA BLOCK=0 X=2 Y=4
			TEXTURE=GRASS_01
		TILE=DATA BLOCK=0 X=3 Y=4
			TEXTURE=GRASS_01
		TILE=DATA BLOCK=0 X=4 Y=4
			TEXTURE=GRASS_01
		TILE=DATA BLOCK=0 X=5 Y=4
			TEXTURE=ROAD_03
			TEXTURE=GRASS_SIDE_04
			TEXTURE=GRASS_SIDE_05
		TILE=DATA BLOCK=0 X=6 Y=4
			TEXTURE=ROAD_05
			TEXTURE=GRASS_CORNER_02
		TILE=DATA BLOCK=0 X=7 Y=4
			TEXTURE=SAND_02
			TEXTURE=DIRT_SIDE_04
		TILE=DATA BLOCK=0 X=8 Y=4
			TEXTURE=SAND_02
		TILE=DATA BLOCK=0 X=9 Y=4
			TEXTURE=SAND_02
			TEXTURE=WATER_SIDE_04
		TILE=DATA BLOCK=1 X=10 Y=4
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=11 Y=4
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=12 Y=4
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=13 Y=4
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=14 Y=4
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=15 Y=4
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=0 Y=5
			TEXTURE=ROCK_04
		TILE=DATA BLOCK=0 X=1 Y=5
			TEXTURE=GRASS_02
		TILE=DATA BLOCK=0 X=2 Y=5
			TEXTURE=GRASS_01
		TILE=DATA BLOCK=0 X=3 Y=5
			TEXTURE=ROAD_01
			TEXTURE=GRASS_SIDE_04
			TEXTURE=GRASS_SIDE_05
		TILE=DATA BLOCK=0 X=4 Y=5
			TEXTURE=ROAD_03
			TEXTURE=GRASS_SIDE_05
		TILE=DATA BLOCK=0 X=5 Y=5
			TEXTURE=ROAD_05
			TEXTURE=GRASS_CORNER_02
		TILE=DATA BLOCK=0 X=6 Y=5
			TEXTURE=SAND_04
			TEXTURE=DIRT_SIDE_05
			TEXTURE=DIRT_SIDE_04
		TILE=DATA BLOCK=0 X=7 Y=5
			TEXTURE=SAND_01
			TEXTURE=DIRT_CORNER_03
		TILE=DATA BLOCK=0 X=8 Y=5
			TEXTURE=SAND_02
		TILE=DATA BLOCK=0 X=9 Y=5
			TEXTURE=SAND_02
			TEXTURE=WATER_SIDE_04
		TILE=DATA BLOCK=1 X=10 Y=5
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=11 Y=5
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=12 Y=5
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=13 Y=5
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=14 Y=5
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=15 Y=5
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=0 Y=6
			TEXTURE=DIRT_01
			TEXTURE=GRASS_SIDE_05
		TILE=DATA BLOCK=0 X=1 Y=6
			TEXTURE=ROAD_03
			TEXTURE=GRASS_SIDE_05
		TILE=DATA BLOCK=0 X=2 Y=6
			TEXTURE=DIRT_01
			TEXTURE=GRASS_SIDE_05
		TILE=DATA BLOCK=0 X=3 Y=6
			TEXTURE=ROAD_01
			TEXTURE=GRASS_CORNER_02
		TILE=DATA BLOCK=0 X=4 Y=6
			TEXTURE=SAND_01
			TEXTURE=DIRT_SIDE_04
			TEXTURE=DIRT_SIDE_05
		TILE=DATA BLOCK=0 X=5 Y=6
			TEXTURE=SAND_01
			TEXTURE=DIRT_SIDE_05
		TILE=DATA BLOCK=0 X=6 Y=6
			TEXTURE=SAND_02
			TEXTURE=DIRT_CORNER_03
		TILE=DATA BLOCK=0 X=7 Y=6
			TEXTURE=SAND_02
		TILE=DATA BLOCK=0 X=8 Y=6
			TEXTURE=SAND_02
		TILE=DATA BLOCK=0 X=9 Y=6
			TEXTURE=SAND_01
			TEXTURE=WATER_SIDE_04
		TILE=DATA BLOCK=1 X=10 Y=6
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=11 Y=6
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=12 Y=6
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=13 Y=6
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=14 Y=6
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=15 Y=6
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=0 Y=7
			TEXTURE=SAND_02
			TEXTURE=DIRT_SIDE_06
		TILE=DATA BLOCK=0 X=1 Y=7
			TEXTURE=SAND_02
			TEXTURE=DIRT_SIDE_05
		TILE=DATA BLOCK=0 X=2 Y=7
			TEXTURE=SAND_02
			TEXTURE=DIRT_SIDE_06
		TILE=DATA BLOCK=0 X=3 Y=7
			TEXTURE=SAND_01
			TEXTURE=DIRT_SIDE_05
		TILE=DATA BLOCK=0 X=4 Y=7
			TEXTURE=SAND_02
			TEXTURE=DIRT_CORNER_03
		TILE=DATA BLOCK=0 X=5 Y=7
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=6 Y=7
			TEXTURE=SAND_02
		TILE=DATA BLOCK=0 X=7 Y=7
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=8 Y=7
			TEXTURE=SAND_02
		TILE=DATA BLOCK=0 X=9 Y=7
			TEXTURE=SAND_01
			TEXTURE=WATER_CORNER_04
		TILE=DATA BLOCK=0 X=10 Y=7
			TEXTURE=SAND_01
			TEXTURE=WATER_SIDE_03
		TILE=DATA BLOCK=0 X=11 Y=7
			TEXTURE=SAND_02
			TEXTURE=WATER_SIDE_03
		TILE=DATA BLOCK=0 X=12 Y=7
			TEXTURE=SAND_02
			TEXTURE=WATER_SIDE_03
		TILE=DATA BLOCK=0 X=13 Y=7
			TEXTURE=SAND_02
			TEXTURE=WATER_SIDE_03
		TILE=DATA BLOCK=0 X=14 Y=7
			TEXTURE=SAND_01
			TEXTURE=WATER_SIDE_03
		TILE=DATA BLOCK=0 X=15 Y=7
			TEXTURE=SAND_01
			TEXTURE=WATER_SIDE_03
		TILE=DATA BLOCK=1 X=0 Y=8
			TEXTURE=SAND_02
		TILE=DATA BLOCK=0 X=1 Y=8
			TEXTURE=SAND_02
		TILE=DATA BLOCK=0 X=2 Y=8
			TEXTURE=SAND_03
		TILE=DATA BLOCK=0 X=3 Y=8
			TEXTURE=SAND_03
		TILE=DATA BLOCK=0 X=4 Y=8
			TEXTURE=SAND_03
		TILE=DATA BLOCK=0 X=5 Y=8
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=6 Y=8
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=7 Y=8
			TEXTURE=SAND_03
		TILE=DATA BLOCK=0 X=8 Y=8
			TEXTURE=SAND_04
		TILE=DATA BLOCK=0 X=9 Y=8
			TEXTURE=SAND_03
		TILE=DATA BLOCK=0 X=10 Y=8
			TEXTURE=SAND_03
		TILE=DATA BLOCK=0 X=11 Y=8
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=12 Y=8
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=13 Y=8
			TEXTURE=SAND_03
		TILE=DATA BLOCK=0 X=14 Y=8
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=15 Y=8
			TEXTURE=SAND_04
		TILE=DATA BLOCK=1 X=0 Y=9
			TEXTURE=SAND_02
			TEXTURE=WATER_SIDE_01
		TILE=DATA BLOCK=0 X=1 Y=9
			TEXTURE=SAND_02
			TEXTURE=WATER_SIDE_01
		TILE=DATA BLOCK=0 X=2 Y=9
			TEXTURE=SAND_04
			TEXTURE=WATER_SIDE_01
		TILE=DATA BLOCK=0 X=3 Y=9
			TEXTURE=SAND_04
			TEXTURE=WATER_SIDE_01
		TILE=DATA BLOCK=0 X=4 Y=9
			TEXTURE=SAND_02
			TEXTURE=WATER_SIDE_01
		TILE=DATA BLOCK=0 X=5 Y=9
			TEXTURE=SAND_02
			TEXTURE=WATER_SIDE_01
		TILE=DATA BLOCK=0 X=6 Y=9
			TEXTURE=SAND_02
			TEXTURE=WATER_SIDE_01
		TILE=DATA BLOCK=0 X=7 Y=9
			TEXTURE=SAND_04
			TEXTURE=WATER_SIDE_01
		TILE=DATA BLOCK=0 X=8 Y=9
			TEXTURE=SAND_02
			TEXTURE=WATER_CORNER_02
		TILE=DATA BLOCK=0 X=9 Y=9
			TEXTURE=SAND_03
		TILE=DATA BLOCK=0 X=10 Y=9
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=11 Y=9
			TEXTURE=SAND_02
		TILE=DATA BLOCK=0 X=12 Y=9
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=13 Y=9
			TEXTURE=SAND_04
		TILE=DATA BLOCK=0 X=14 Y=9
			TEXTURE=SAND_03
		TILE=DATA BLOCK=0 X=15 Y=9
			TEXTURE=SAND_03
		TILE=DATA BLOCK=1 X=0 Y=10
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=1 Y=10
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=2 Y=10
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=3 Y=10
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=4 Y=10
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=5 Y=10
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=6 Y=10
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=7 Y=10
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=8 Y=10
			TEXTURE=SAND_04
			TEXTURE=WATER_SIDE_01
			TEXTURE=WATER_SIDE_02
		TILE=DATA BLOCK=0 X=9 Y=10
			TEXTURE=SAND_02
			TEXTURE=WATER_SIDE_01
		TILE=DATA BLOCK=0 X=10 Y=10
			TEXTURE=SAND_02
			TEXTURE=WATER_SIDE_01
		TILE=DATA BLOCK=0 X=11 Y=10
			TEXTURE=SAND_01
			TEXTURE=WATER_SIDE_01
		TILE=DATA BLOCK=0 X=12 Y=10
			TEXTURE=SAND_01
			TEXTURE=WATER_SIDE_01
		TILE=DATA BLOCK=0 X=13 Y=10
			TEXTURE=SAND_01
			TEXTURE=WATER_SIDE_01
		TILE=DATA BLOCK=0 X=14 Y=10
			TEXTURE=SAND_03
			TEXTURE=WATER_SIDE_01
		TILE=DATA BLOCK=0 X=15 Y=10
			TEXTURE=SAND_01
			TEXTURE=WATER_SIDE_01
		TILE=DATA BLOCK=1 X=0 Y=11
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=1 Y=11
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=2 Y=11
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=3 Y=11
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=4 Y=11
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=5 Y=11
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=6 Y=11
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=7 Y=11
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=8 Y=11
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=9 Y=11
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=10 Y=11
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=11 Y=11
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=12 Y=11
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=13 Y=11
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=14 Y=11
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=15 Y=11
			TEXTURE=WATER_02
	AREA=D_LAKE_06 ENCOUNTER=1 X=2 Y=1
		TILE=DATA BLOCK=1 X=0 Y=0
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=1 Y=0
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=2 Y=0
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=3 Y=0
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=4 Y=0
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=5 Y=0
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=6 Y=0
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=7 Y=0
			TEXTURE=SAND_02
			TEXTURE=WATER_SIDE_02
		TILE=DATA BLOCK=1 X=8 Y=0
			TEXTURE=SAND_01
			TEXTURE=ROCK_DOWN_01
			TEXTURE=DIRT_SIDE_08
		TILE=DATA BLOCK=1 X=9 Y=0
			TEXTURE=DIRT_01
			TEXTURE=TREE_DOWN_01
			TEXTURE=GRASS_SIDE_07
		TILE=DATA BLOCK=1 X=10 Y=0
			TEXTURE=GRASS_01
			TEXTURE=TREE_DOWN_01
		TILE=DATA BLOCK=1 X=11 Y=0
			TEXTURE=GRASS_02
			TEXTURE=TREE_DOWN_01
		TILE=DATA BLOCK=1 X=12 Y=0
			TEXTURE=GRASS_01
			TEXTURE=TREE_DOWN_01
		TILE=DATA BLOCK=1 X=13 Y=0
			TEXTURE=GRASS_02
			TEXTURE=TREE_DOWN_01
		TILE=DATA BLOCK=1 X=14 Y=0
			TEXTURE=GRASS_01
			TEXTURE=TREE_DOWN_01
		TILE=DATA BLOCK=1 X=15 Y=0
			TEXTURE=GRASS_01
			TEXTURE=TREE_UP_01
		TILE=DATA BLOCK=1 X=0 Y=1
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=1 Y=1
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=2 Y=1
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=3 Y=1
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=4 Y=1
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=5 Y=1
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=6 Y=1
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=7 Y=1
			TEXTURE=SAND_01
			TEXTURE=WATER_SIDE_02
		TILE=DATA BLOCK=0 X=8 Y=1
			TEXTURE=SAND_04
			TEXTURE=DIRT_SIDE_07
		TILE=DATA BLOCK=0 X=9 Y=1
			TEXTURE=DIRT_01
			TEXTURE=GRASS_SIDE_08
		TILE=DATA BLOCK=0 X=10 Y=1
			TEXTURE=GRASS_01
		TILE=DATA BLOCK=0 X=11 Y=1
			TEXTURE=GRASS_01
		TILE=DATA BLOCK=0 X=12 Y=1
			TEXTURE=GRASS_01
		TILE=DATA BLOCK=0 X=13 Y=1
			TEXTURE=GRASS_01
		TILE=DATA BLOCK=0 X=14 Y=1
			TEXTURE=GRASS_01
		TILE=DATA BLOCK=1 X=15 Y=1
			TEXTURE=GRASS_01
			TEXTURE=TREE_UP_01
		TILE=DATA BLOCK=1 X=0 Y=2
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=1 Y=2
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=2 Y=2
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=3 Y=2
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=4 Y=2
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=5 Y=2
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=6 Y=2
			TEXTURE=SAND_02
			TEXTURE=WATER_SIDE_03
			TEXTURE=WATER_SIDE_02
		TILE=DATA BLOCK=0 X=7 Y=2
			TEXTURE=SAND_02
			TEXTURE=WATER_CORNER_03
		TILE=DATA BLOCK=0 X=8 Y=2
			TEXTURE=SAND_01
			TEXTURE=DIRT_SIDE_08
		TILE=DATA BLOCK=0 X=9 Y=2
			TEXTURE=DIRT_01
			TEXTURE=GRASS_SIDE_07
		TILE=DATA BLOCK=0 X=10 Y=2
			TEXTURE=GRASS_01
		TILE=DATA BLOCK=0 X=11 Y=2
			TEXTURE=GRASS_02
		TILE=DATA BLOCK=0 X=12 Y=2
			TEXTURE=GRASS_01
		TILE=DATA BLOCK=0 X=13 Y=2
			TEXTURE=GRASS_01
		TILE=DATA BLOCK=0 X=14 Y=2
			TEXTURE=GRASS_01
		TILE=DATA BLOCK=1 X=15 Y=2
			TEXTURE=GRASS_02
			TEXTURE=TREE_DOWN_01
		TILE=DATA BLOCK=1 X=0 Y=3
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=1 Y=3
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=2 Y=3
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=3 Y=3
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=4 Y=3
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=5 Y=3
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=6 Y=3
			TEXTURE=SAND_02
			TEXTURE=WATER_SIDE_02
		TILE=DATA BLOCK=0 X=7 Y=3
			TEXTURE=SAND_04
		TILE=DATA BLOCK=0 X=8 Y=3
			TEXTURE=SAND_01
			TEXTURE=DIRT_SIDE_07
		TILE=DATA BLOCK=0 X=9 Y=3
			TEXTURE=DIRT_01
			TEXTURE=GRASS_SIDE_08
		TILE=DATA BLOCK=0 X=10 Y=3
			TEXTURE=GRASS_01
		TILE=DATA BLOCK=1 X=11 Y=3
			TEXTURE=GRASS_01
			TEXTURE=CAMPFIRE_01
		TILE=DATA BLOCK=0 X=12 Y=3
			TEXTURE=GRASS_01
		TILE=DATA BLOCK=1 X=13 Y=3
			TEXTURE=GRASS_01
			TEXTURE=BARREL_02
		TILE=DATA BLOCK=0 X=14 Y=3
			TEXTURE=GRASS_01
		TILE=DATA BLOCK=1 X=15 Y=3
			TEXTURE=GRASS_01
			TEXTURE=TREE_DOWN_01
			TEXTURE=TREE_UP_01
		TILE=DATA BLOCK=1 X=0 Y=4
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=1 Y=4
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=2 Y=4
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=3 Y=4
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=4 Y=4
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=5 Y=4
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=6 Y=4
			TEXTURE=SAND_02
			TEXTURE=WATER_SIDE_02
		TILE=DATA BLOCK=0 X=7 Y=4
			TEXTURE=SAND_03
		TILE=DATA BLOCK=0 X=8 Y=4
			TEXTURE=SAND_01
			TEXTURE=DIRT_SIDE_08
		TILE=DATA BLOCK=0 X=9 Y=4
			TEXTURE=DIRT_01
			TEXTURE=GRASS_CORNER_03
		TILE=DATA BLOCK=0 X=10 Y=4
			TEXTURE=DIRT_01
			TEXTURE=GRASS_SIDE_06
			TEXTURE=GRASS_SIDE_07
		TILE=DATA BLOCK=0 X=11 Y=4
			TEXTURE=GRASS_01
		TILE=DATA BLOCK=1 X=12 Y=4
			TEXTURE=GRASS_02
			TEXTURE=CHAIR
		TILE=DATA BLOCK=0 X=13 Y=4
			TEXTURE=GRASS_01
		TILE=DATA BLOCK=0 X=14 Y=4
			TEXTURE=GRASS_01
		TILE=DATA BLOCK=1 X=15 Y=4
			TEXTURE=GRASS_02
		TILE=DATA BLOCK=1 X=0 Y=5
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=1 Y=5
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=2 Y=5
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=3 Y=5
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=4 Y=5
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=5 Y=5
			TEXTURE=SAND_02
			TEXTURE=WATER_SIDE_03
			TEXTURE=WATER_SIDE_02
		TILE=DATA BLOCK=0 X=6 Y=5
			TEXTURE=SAND_04
			TEXTURE=WATER_CORNER_03
		TILE=DATA BLOCK=0 X=7 Y=5
			TEXTURE=SAND_04
		TILE=DATA BLOCK=0 X=8 Y=5
			TEXTURE=SAND_01
			TEXTURE=DIRT_CORNER_04
		TILE=DATA BLOCK=0 X=9 Y=5
			TEXTURE=SAND_03
			TEXTURE=DIRT_SIDE_06
			TEXTURE=DIRT_SIDE_07
		TILE=DATA BLOCK=0 X=10 Y=5
			TEXTURE=DIRT_01
			TEXTURE=DIRT_01
			TEXTURE=GRASS_SIDE_08
		TILE=DATA BLOCK=0 X=11 Y=5
			TEXTURE=GRASS_02
		TILE=DATA BLOCK=0 X=12 Y=5
			TEXTURE=GRASS_01
		TILE=DATA BLOCK=0 X=13 Y=5
			TEXTURE=GRASS_01
		TILE=DATA BLOCK=0 X=14 Y=5
			TEXTURE=GRASS_01
		TILE=DATA BLOCK=1 X=15 Y=5
			TEXTURE=GRASS_01
			TEXTURE=TREE_DOWN_01
		TILE=DATA BLOCK=1 X=0 Y=6
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=1 Y=6
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=2 Y=6
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=3 Y=6
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=4 Y=6
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=5 Y=6
			TEXTURE=SAND_04
			TEXTURE=WATER_SIDE_02
		TILE=DATA BLOCK=0 X=6 Y=6
			TEXTURE=SAND_03
		TILE=DATA BLOCK=1 X=7 Y=6
			TEXTURE=SAND_02
			TEXTURE=BARREL_01
		TILE=DATA BLOCK=1 X=8 Y=6
			TEXTURE=SAND_04
			TEXTURE=BARREL_02
		TILE=DATA BLOCK=0 X=9 Y=6
			TEXTURE=SAND_03
			TEXTURE=DIRT_SIDE_08
		TILE=DATA BLOCK=0 X=10 Y=6
			TEXTURE=DIRT_01
			TEXTURE=GRASS_CORNER_03
		TILE=DATA BLOCK=0 X=11 Y=6
			TEXTURE=DIRT_01
			TEXTURE=GRASS_SIDE_06
		TILE=DATA BLOCK=0 X=12 Y=6
			TEXTURE=DIRT_01
			TEXTURE=GRASS_SIDE_05
		TILE=DATA BLOCK=0 X=13 Y=6
			TEXTURE=DIRT_01
			TEXTURE=GRASS_SIDE_06
		TILE=DATA BLOCK=0 X=14 Y=6
			TEXTURE=DIRT_01
			TEXTURE=GRASS_SIDE_05
		TILE=DATA BLOCK=1 X=15 Y=6
			TEXTURE=DIRT_01
			TEXTURE=GRASS_SIDE_06
			TEXTURE=ROCK_UP_01
		TILE=DATA BLOCK=0 X=0 Y=7
			TEXTURE=SAND_01
			TEXTURE=WATER_SIDE_03
		TILE=DATA BLOCK=0 X=1 Y=7
			TEXTURE=SAND_02
			TEXTURE=WATER_SIDE_03
		TILE=DATA BLOCK=0 X=2 Y=7
			TEXTURE=SAND_02
			TEXTURE=WATER_SIDE_03
		TILE=DATA BLOCK=0 X=3 Y=7
			TEXTURE=SAND_01
			TEXTURE=WATER_SIDE_03
		TILE=DATA BLOCK=0 X=4 Y=7
			TEXTURE=SAND_02
			TEXTURE=WATER_SIDE_03
		TILE=DATA BLOCK=0 X=5 Y=7
			TEXTURE=SAND_03
			TEXTURE=WATER_CORNER_03
		TILE=DATA BLOCK=0 X=6 Y=7
			TEXTURE=SAND_02
		TILE=DATA BLOCK=0 X=7 Y=7
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=8 Y=7
			TEXTURE=SAND_03
		TILE=DATA BLOCK=0 X=9 Y=7
			TEXTURE=SAND_03
			TEXTURE=SAND_04
			TEXTURE=DIRT_CORNER_04
		TILE=DATA BLOCK=0 X=10 Y=7
			TEXTURE=SAND_02
			TEXTURE=DIRT_SIDE_06
		TILE=DATA BLOCK=0 X=11 Y=7
			TEXTURE=SAND_02
			TEXTURE=DIRT_SIDE_05
		TILE=DATA BLOCK=0 X=12 Y=7
			TEXTURE=SAND_02
			TEXTURE=DIRT_SIDE_05
		TILE=DATA BLOCK=0 X=13 Y=7
			TEXTURE=SAND_02
			TEXTURE=SAND_03
			TEXTURE=DIRT_SIDE_05
		TILE=DATA BLOCK=0 X=14 Y=7
			TEXTURE=SAND_02
			TEXTURE=DIRT_SIDE_05
		TILE=DATA BLOCK=1 X=15 Y=7
			TEXTURE=SAND_03
			TEXTURE=ROCK_DOWN_01
			TEXTURE=DIRT_SIDE_05
		TILE=DATA BLOCK=0 X=0 Y=8
			TEXTURE=SAND_04
		TILE=DATA BLOCK=0 X=1 Y=8
			TEXTURE=SAND_03
		TILE=DATA BLOCK=0 X=2 Y=8
			TEXTURE=SAND_03
		TILE=DATA BLOCK=0 X=3 Y=8
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=4 Y=8
			TEXTURE=SAND_02
			TEXTURE=SAND_04
		TILE=DATA BLOCK=0 X=5 Y=8
			TEXTURE=SAND_03
		TILE=DATA BLOCK=0 X=6 Y=8
			TEXTURE=SAND_04
		TILE=DATA BLOCK=0 X=7 Y=8
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=8 Y=8
			TEXTURE=SAND_04
		TILE=DATA BLOCK=0 X=9 Y=8
			TEXTURE=SAND_03
		TILE=DATA BLOCK=0 X=10 Y=8
			TEXTURE=SAND_01
			TEXTURE=WATER_CORNER_01
		TILE=DATA BLOCK=0 X=11 Y=8
			TEXTURE=SAND_01
			TEXTURE=WATER_SIDE_01
		TILE=DATA BLOCK=0 X=12 Y=8
			TEXTURE=SAND_03
			TEXTURE=WATER_SIDE_01
		TILE=DATA BLOCK=0 X=13 Y=8
			TEXTURE=SAND_04
			TEXTURE=WATER_SIDE_01
		TILE=DATA BLOCK=0 X=14 Y=8
			TEXTURE=SAND_03
			TEXTURE=WATER_SIDE_01
		TILE=DATA BLOCK=1 X=15 Y=8
			TEXTURE=SAND_04
			TEXTURE=WATER_SIDE_01
		TILE=DATA BLOCK=0 X=0 Y=9
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=1 Y=9
			TEXTURE=SAND_03
		TILE=DATA BLOCK=0 X=2 Y=9
			TEXTURE=SAND_04
		TILE=DATA BLOCK=0 X=3 Y=9
			TEXTURE=SAND_03
		TILE=DATA BLOCK=0 X=4 Y=9
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=5 Y=9
			TEXTURE=SAND_02
		TILE=DATA BLOCK=0 X=6 Y=9
			TEXTURE=SAND_02
		TILE=DATA BLOCK=0 X=7 Y=9
			TEXTURE=SAND_03
			TEXTURE=WATER_CORNER_01
		TILE=DATA BLOCK=0 X=8 Y=9
			TEXTURE=SAND_02
			TEXTURE=WATER_SIDE_01
		TILE=DATA BLOCK=0 X=9 Y=9
			TEXTURE=SAND_02
			TEXTURE=SAND_01
			TEXTURE=WATER_SIDE_01
		TILE=DATA BLOCK=0 X=10 Y=9
			TEXTURE=SAND_02
			TEXTURE=WATER_SIDE_01
			TEXTURE=WATER_SIDE_04
		TILE=DATA BLOCK=1 X=11 Y=9
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=12 Y=9
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=13 Y=9
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=14 Y=9
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=15 Y=9
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=0 Y=10
			TEXTURE=SAND_01
			TEXTURE=WATER_SIDE_01
		TILE=DATA BLOCK=0 X=1 Y=10
			TEXTURE=SAND_01
			TEXTURE=WATER_SIDE_01
		TILE=DATA BLOCK=0 X=2 Y=10
			TEXTURE=SAND_02
			TEXTURE=WATER_SIDE_01
		TILE=DATA BLOCK=0 X=3 Y=10
			TEXTURE=SAND_02
			TEXTURE=WATER_SIDE_01
		TILE=DATA BLOCK=0 X=4 Y=10
			TEXTURE=SAND_01
			TEXTURE=WATER_SIDE_01
		TILE=DATA BLOCK=0 X=5 Y=10
			TEXTURE=SAND_03
			TEXTURE=WATER_SIDE_01
		TILE=DATA BLOCK=0 X=6 Y=10
			TEXTURE=SAND_01
			TEXTURE=WATER_SIDE_01
		TILE=DATA BLOCK=0 X=7 Y=10
			TEXTURE=SAND_02
			TEXTURE=WATER_SIDE_01
			TEXTURE=WATER_SIDE_04
		TILE=DATA BLOCK=1 X=8 Y=10
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=9 Y=10
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=10 Y=10
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=11 Y=10
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=12 Y=10
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=13 Y=10
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=14 Y=10
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=15 Y=10
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=0 Y=11
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=1 Y=11
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=2 Y=11
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=3 Y=11
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=4 Y=11
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=5 Y=11
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=6 Y=11
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=7 Y=11
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=8 Y=11
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=9 Y=11
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=10 Y=11
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=11 Y=11
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=12 Y=11
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=13 Y=11
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=14 Y=11
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=15 Y=11
			TEXTURE=WATER_02
	AREA=D_LAKE_07 ENCOUNTER=0 X=1 Y=0
		TILE=DATA BLOCK=1 X=0 Y=0
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=1 Y=0
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=2 Y=0
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=3 Y=0
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=4 Y=0
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=5 Y=0
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=6 Y=0
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=7 Y=0
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=8 Y=0
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=9 Y=0
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=10 Y=0
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=11 Y=0
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=12 Y=0
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=13 Y=0
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=14 Y=0
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=15 Y=0
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=0 Y=1
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=1 Y=1
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=2 Y=1
			TEXTURE=SAND_02
			TEXTURE=WATER_SIDE_03
			TEXTURE=WATER_SIDE_02
		TILE=DATA BLOCK=0 X=3 Y=1
			TEXTURE=SAND_01
			TEXTURE=WATER_SIDE_03
		TILE=DATA BLOCK=0 X=4 Y=1
			TEXTURE=SAND_02
			TEXTURE=WATER_SIDE_03
		TILE=DATA BLOCK=0 X=5 Y=1
			TEXTURE=SAND_02
			TEXTURE=WATER_SIDE_03
		TILE=DATA BLOCK=0 X=6 Y=1
			TEXTURE=SAND_03
			TEXTURE=WATER_SIDE_03
		TILE=DATA BLOCK=0 X=7 Y=1
			TEXTURE=SAND_03
			TEXTURE=WATER_SIDE_03
		TILE=DATA BLOCK=0 X=8 Y=1
			TEXTURE=SAND_02
			TEXTURE=WATER_SIDE_03
		TILE=DATA BLOCK=0 X=9 Y=1
			TEXTURE=SAND_03
			TEXTURE=WATER_SIDE_03
		TILE=DATA BLOCK=0 X=10 Y=1
			TEXTURE=SAND_03
			TEXTURE=WATER_SIDE_03
		TILE=DATA BLOCK=0 X=11 Y=1
			TEXTURE=SAND_02
			TEXTURE=WATER_SIDE_03
		TILE=DATA BLOCK=0 X=12 Y=1
			TEXTURE=SAND_02
			TEXTURE=WATER_SIDE_03
		TILE=DATA BLOCK=0 X=13 Y=1
			TEXTURE=SAND_02
			TEXTURE=WATER_SIDE_03
			TEXTURE=WATER_SIDE_04
		TILE=DATA BLOCK=1 X=14 Y=1
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=15 Y=1
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=0 Y=2
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=1 Y=2
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=2 Y=2
			TEXTURE=SAND_02
			TEXTURE=WATER_SIDE_02
		TILE=DATA BLOCK=0 X=3 Y=2
			TEXTURE=SAND_03
			TEXTURE=DIRT_CORNER_01
		TILE=DATA BLOCK=0 X=4 Y=2
			TEXTURE=SAND_03
			TEXTURE=DIRT_SIDE_01
		TILE=DATA BLOCK=0 X=5 Y=2
			TEXTURE=DIRT_01
			TEXTURE=SAND_02
			TEXTURE=DIRT_SIDE_02
		TILE=DATA BLOCK=0 X=6 Y=2
			TEXTURE=SAND_04
			TEXTURE=DIRT_SIDE_01
		TILE=DATA BLOCK=0 X=7 Y=2
			TEXTURE=SAND_04
			TEXTURE=DIRT_SIDE_02
		TILE=DATA BLOCK=0 X=8 Y=2
			TEXTURE=SAND_01
			TEXTURE=DIRT_SIDE_01
		TILE=DATA BLOCK=0 X=9 Y=2
			TEXTURE=SAND_04
			TEXTURE=DIRT_SIDE_02
			TEXTURE=DEAD_TREE_UP_01
		TILE=DATA BLOCK=0 X=10 Y=2
			TEXTURE=SAND_04
			TEXTURE=DIRT_SIDE_01
		TILE=DATA BLOCK=0 X=11 Y=2
			TEXTURE=SAND_01
			TEXTURE=DIRT_SIDE_02
		TILE=DATA BLOCK=0 X=12 Y=2
			TEXTURE=SAND_01
			TEXTURE=DIRT_CORNER_02
		TILE=DATA BLOCK=0 X=13 Y=2
			TEXTURE=SAND_02
			TEXTURE=WATER_SIDE_04
		TILE=DATA BLOCK=1 X=14 Y=2
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=15 Y=2
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=0 Y=3
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=1 Y=3
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=2 Y=3
			TEXTURE=SAND_03
			TEXTURE=WATER_SIDE_02
		TILE=DATA BLOCK=0 X=3 Y=3
			TEXTURE=SAND_03
			TEXTURE=DIRT_SIDE_07
		TILE=DATA BLOCK=1 X=4 Y=3
			TEXTURE=DIRT_01
			TEXTURE=BARREL_01
		TILE=DATA BLOCK=1 X=5 Y=3
			TEXTURE=DIRT_01
			TEXTURE=BARREL_02
		TILE=DATA BLOCK=1 X=6 Y=3
			TEXTURE=DIRT_01
			TEXTURE=SAC_01
		TILE=DATA BLOCK=0 X=7 Y=3
			TEXTURE=DIRT_01
		TILE=DATA BLOCK=0 X=8 Y=3
			TEXTURE=DIRT_01
		TILE=DATA BLOCK=0 X=9 Y=3
			TEXTURE=DIRT_01
		TILE=DATA BLOCK=1 X=10 Y=3
			TEXTURE=DIRT_01
			TEXTURE=TONS_02
		TILE=DATA BLOCK=1 X=11 Y=3
			TEXTURE=DIRT_01
			TEXTURE=BARREL_02
		TILE=DATA BLOCK=0 X=12 Y=3
			TEXTURE=SAND_02
			TEXTURE=DIRT_SIDE_03
		TILE=DATA BLOCK=0 X=13 Y=3
			TEXTURE=SAND_03
			TEXTURE=WATER_SIDE_04
		TILE=DATA BLOCK=1 X=14 Y=3
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=15 Y=3
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=0 Y=4
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=1 Y=4
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=2 Y=4
			TEXTURE=SAND_04
			TEXTURE=WATER_SIDE_02
		TILE=DATA BLOCK=0 X=3 Y=4
			TEXTURE=SAND_01
			TEXTURE=DIRT_SIDE_08
		TILE=DATA BLOCK=1 X=4 Y=4
			TEXTURE=DIRT_01
			TEXTURE=BARREL_01
			TEXTURE=DEAD_TREE_UP_01
		TILE=DATA BLOCK=0 X=5 Y=4
			TEXTURE=DIRT_01
		TILE=DATA BLOCK=0 X=6 Y=4
			TEXTURE=DIRT_01
		TILE=DATA BLOCK=0 X=7 Y=4
			TEXTURE=DIRT_01
		TILE=DATA BLOCK=0 X=8 Y=4
			TEXTURE=DIRT_01
		TILE=DATA BLOCK=1 X=9 Y=4
			TEXTURE=DIRT_01
			TEXTURE=DEAD_TREE_DOWN_01
		TILE=DATA BLOCK=1 X=10 Y=4
			TEXTURE=DIRT_01
			TEXTURE=DEAD_TREE_UP_01
		TILE=DATA BLOCK=1 X=11 Y=4
			TEXTURE=DIRT_01
			TEXTURE=BARREL_01
		TILE=DATA BLOCK=0 X=12 Y=4
			TEXTURE=SAND_02
			TEXTURE=DIRT_SIDE_04
		TILE=DATA BLOCK=0 X=13 Y=4
			TEXTURE=SAND_03
			TEXTURE=WATER_SIDE_04
		TILE=DATA BLOCK=1 X=14 Y=4
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=15 Y=4
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=0 Y=5
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=1 Y=5
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=2 Y=5
			TEXTURE=SAND_02
			TEXTURE=WATER_SIDE_02
		TILE=DATA BLOCK=0 X=3 Y=5
			TEXTURE=SAND_02
			TEXTURE=DIRT_SIDE_08
		TILE=DATA BLOCK=0 X=4 Y=5
			TEXTURE=DIRT_01
		TILE=DATA BLOCK=0 X=5 Y=5
			TEXTURE=DIRT_01
			TEXTURE=DEAD_TREE_UP_02
		TILE=DATA BLOCK=0 X=6 Y=5
			TEXTURE=DIRT_01
		TILE=DATA BLOCK=0 X=7 Y=5
			TEXTURE=DIRT_01
		TILE=DATA BLOCK=0 X=8 Y=5
			TEXTURE=DIRT_01
		TILE=DATA BLOCK=0 X=9 Y=5
			TEXTURE=DIRT_01
			TEXTURE=DIRT_01
			TEXTURE=DEAD_TREE_UP_02
		TILE=DATA BLOCK=0 X=10 Y=5
			TEXTURE=DIRT_01
		TILE=DATA BLOCK=0 X=11 Y=5
			TEXTURE=DIRT_01
		TILE=DATA BLOCK=0 X=12 Y=5
			TEXTURE=SAND_02
			TEXTURE=DIRT_SIDE_03
		TILE=DATA BLOCK=0 X=13 Y=5
			TEXTURE=SAND_01
			TEXTURE=WATER_SIDE_04
		TILE=DATA BLOCK=1 X=14 Y=5
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=15 Y=5
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=0 Y=6
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=1 Y=6
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=2 Y=6
			TEXTURE=SAND_03
			TEXTURE=WATER_SIDE_02
		TILE=DATA BLOCK=0 X=3 Y=6
			TEXTURE=SAND_04
			TEXTURE=DIRT_SIDE_07
		TILE=DATA BLOCK=1 X=4 Y=6
			TEXTURE=DIRT_01
			TEXTURE=DEAD_TREE_DOWN_01
		TILE=DATA BLOCK=1 X=5 Y=6
			TEXTURE=DIRT_01
		TILE=DATA BLOCK=0 X=6 Y=6
			TEXTURE=DIRT_01
		TILE=DATA BLOCK=0 X=7 Y=6
			TEXTURE=DIRT_01
		TILE=DATA BLOCK=0 X=8 Y=6
			TEXTURE=DIRT_01
		TILE=DATA BLOCK=0 X=9 Y=6
			TEXTURE=DIRT_01
		TILE=DATA BLOCK=1 X=10 Y=6
			TEXTURE=DIRT_01
			TEXTURE=DEAD_TREE_DOWN_01
		TILE=DATA BLOCK=1 X=11 Y=6
			TEXTURE=DIRT_01
		TILE=DATA BLOCK=0 X=12 Y=6
			TEXTURE=SAND_02
			TEXTURE=DIRT_SIDE_04
		TILE=DATA BLOCK=0 X=13 Y=6
			TEXTURE=SAND_02
			TEXTURE=WATER_SIDE_04
		TILE=DATA BLOCK=1 X=14 Y=6
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=15 Y=6
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=0 Y=7
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=1 Y=7
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=2 Y=7
			TEXTURE=SAND_04
			TEXTURE=WATER_SIDE_02
		TILE=DATA BLOCK=0 X=3 Y=7
			TEXTURE=SAND_02
			TEXTURE=DIRT_SIDE_08
		TILE=DATA BLOCK=1 X=4 Y=7
			TEXTURE=DIRT_01
			TEXTURE=SAC_03
		TILE=DATA BLOCK=1 X=5 Y=7
			TEXTURE=DIRT_01
			TEXTURE=DEAD_TREE_DOWN_02
		TILE=DATA BLOCK=1 X=6 Y=7
			TEXTURE=DIRT_01
		TILE=DATA BLOCK=0 X=7 Y=7
			TEXTURE=DIRT_01
		TILE=DATA BLOCK=0 X=8 Y=7
			TEXTURE=DIRT_01
		TILE=DATA BLOCK=1 X=9 Y=7
			TEXTURE=DIRT_01
			TEXTURE=DEAD_TREE_DOWN_02
		TILE=DATA BLOCK=1 X=10 Y=7
			TEXTURE=DIRT_01
		TILE=DATA BLOCK=1 X=11 Y=7
			TEXTURE=DIRT_01
			TEXTURE=SAC_01
		TILE=DATA BLOCK=0 X=12 Y=7
			TEXTURE=SAND_02
			TEXTURE=DIRT_SIDE_04
		TILE=DATA BLOCK=0 X=13 Y=7
			TEXTURE=SAND_02
			TEXTURE=WATER_SIDE_04
		TILE=DATA BLOCK=1 X=14 Y=7
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=15 Y=7
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=0 Y=8
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=1 Y=8
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=2 Y=8
			TEXTURE=SAND_03
			TEXTURE=WATER_SIDE_02
		TILE=DATA BLOCK=0 X=3 Y=8
			TEXTURE=SAND_01
			TEXTURE=DIRT_CORNER_04
		TILE=DATA BLOCK=0 X=4 Y=8
			TEXTURE=SAND_02
			TEXTURE=DIRT_SIDE_06
		TILE=DATA BLOCK=0 X=5 Y=8
			TEXTURE=SAND_01
			TEXTURE=DIRT_SIDE_05
		TILE=DATA BLOCK=0 X=6 Y=8
			TEXTURE=SAND_02
			TEXTURE=DIRT_SIDE_06
		TILE=DATA BLOCK=0 X=7 Y=8
			TEXTURE=SAND_02
			TEXTURE=DIRT_SIDE_05
		TILE=DATA BLOCK=0 X=8 Y=8
			TEXTURE=SAND_03
			TEXTURE=DIRT_SIDE_06
		TILE=DATA BLOCK=0 X=9 Y=8
			TEXTURE=SAND_02
			TEXTURE=DIRT_SIDE_05
		TILE=DATA BLOCK=0 X=10 Y=8
			TEXTURE=SAND_02
			TEXTURE=DIRT_SIDE_06
		TILE=DATA BLOCK=0 X=11 Y=8
			TEXTURE=SAND_02
			TEXTURE=DIRT_SIDE_05
		TILE=DATA BLOCK=0 X=12 Y=8
			TEXTURE=SAND_01
			TEXTURE=DIRT_CORNER_03
		TILE=DATA BLOCK=0 X=13 Y=8
			TEXTURE=SAND_03
			TEXTURE=WATER_SIDE_04
		TILE=DATA BLOCK=1 X=14 Y=8
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=15 Y=8
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=0 Y=9
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=1 Y=9
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=2 Y=9
			TEXTURE=SAND_04
			TEXTURE=WATER_SIDE_01
			TEXTURE=WATER_SIDE_02
		TILE=DATA BLOCK=0 X=3 Y=9
			TEXTURE=SAND_03
			TEXTURE=WATER_SIDE_01
		TILE=DATA BLOCK=0 X=4 Y=9
			TEXTURE=SAND_02
			TEXTURE=WATER_SIDE_01
		TILE=DATA BLOCK=0 X=5 Y=9
			TEXTURE=SAND_02
			TEXTURE=WATER_CORNER_02
		TILE=DATA BLOCK=0 X=6 Y=9
			TEXTURE=SAND_02
		TILE=DATA BLOCK=0 X=7 Y=9
			TEXTURE=SAND_04
		TILE=DATA BLOCK=0 X=8 Y=9
			TEXTURE=SAND_04
		TILE=DATA BLOCK=0 X=9 Y=9
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=10 Y=9
			TEXTURE=SAND_03
			TEXTURE=WATER_CORNER_01
		TILE=DATA BLOCK=0 X=11 Y=9
			TEXTURE=SAND_02
			TEXTURE=WATER_SIDE_01
		TILE=DATA BLOCK=0 X=12 Y=9
			TEXTURE=SAND_04
			TEXTURE=WATER_SIDE_01
		TILE=DATA BLOCK=0 X=13 Y=9
			TEXTURE=SAND_03
			TEXTURE=WATER_SIDE_01
			TEXTURE=WATER_SIDE_04
		TILE=DATA BLOCK=1 X=14 Y=9
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=15 Y=9
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=0 Y=10
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=1 Y=10
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=2 Y=10
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=3 Y=10
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=4 Y=10
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=5 Y=10
			TEXTURE=SAND_03
			TEXTURE=WATER_SIDE_02
		TILE=DATA BLOCK=0 X=6 Y=10
			TEXTURE=SAND_03
		TILE=DATA BLOCK=0 X=7 Y=10
			TEXTURE=SAND_02
		TILE=DATA BLOCK=0 X=8 Y=10
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=9 Y=10
			TEXTURE=SAND_04
		TILE=DATA BLOCK=0 X=10 Y=10
			TEXTURE=SAND_04
			TEXTURE=WATER_SIDE_04
		TILE=DATA BLOCK=1 X=11 Y=10
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=12 Y=10
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=13 Y=10
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=14 Y=10
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=15 Y=10
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=0 Y=11
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=1 Y=11
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=2 Y=11
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=3 Y=11
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=4 Y=11
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=5 Y=11
			TEXTURE=SAND_04
			TEXTURE=WATER_SIDE_02
		TILE=DATA BLOCK=0 X=6 Y=11
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=7 Y=11
			TEXTURE=SAND_02
		TILE=DATA BLOCK=0 X=8 Y=11
			TEXTURE=SAND_02
		TILE=DATA BLOCK=0 X=9 Y=11
			TEXTURE=SAND_01
		TILE=DATA BLOCK=0 X=10 Y=11
			TEXTURE=SAND_02
			TEXTURE=WATER_SIDE_04
		TILE=DATA BLOCK=1 X=11 Y=11
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=12 Y=11
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=13 Y=11
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=14 Y=11
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=15 Y=11
			TEXTURE=WATER_02

### END OF FILE ###