### FILE : Fichier d'initialisation de zone. ###
//Format: INIT_INDICATOR + description (voir .h)
//Format: 	AREA=nom de la région + ENCOUTER=0 ou 1 + X=coord_x + Y=coord_y (voir .h pour x y max)
//Format: 		TILE=DATA + BLOCK=bloque ou pas le passage + X=coord_x + Y=coord_y (voir .h pour x y max)
//Format: 			TEXTURE=ID texture du tile

-TAVERN
	AREA=STARTING_TAVERN ENCOUNTER=0 X=0 Y=0
		TILE=DATA BLOCK=0 X=0 Y=0
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=1 Y=0
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=2 Y=0
			TEXTURE=VOID
			TEXTURE=WALL_01
		TILE=DATA BLOCK=1 X=3 Y=0
			TEXTURE=VOID
			TEXTURE=WALL_02
		TILE=DATA BLOCK=1 X=4 Y=0
			TEXTURE=VOID
			TEXTURE=WALL_02
			TEXTURE=WALL_02
		TILE=DATA BLOCK=1 X=5 Y=0
			TEXTURE=VOID
			TEXTURE=WALL_02
		TILE=DATA BLOCK=1 X=6 Y=0
			TEXTURE=VOID
			TEXTURE=WALL_02
		TILE=DATA BLOCK=1 X=7 Y=0
			TEXTURE=VOID
			TEXTURE=WALL_02
			TEXTURE=VENT_LEFT
		TILE=DATA BLOCK=1 X=8 Y=0
			TEXTURE=VOID
			TEXTURE=WALL_02
			TEXTURE=VENT_RIGHT
		TILE=DATA BLOCK=1 X=9 Y=0
			TEXTURE=VOID
			TEXTURE=WALL_02
		TILE=DATA BLOCK=1 X=10 Y=0
			TEXTURE=VOID
			TEXTURE=WALL_02
		TILE=DATA BLOCK=1 X=11 Y=0
			TEXTURE=VOID
			TEXTURE=WALL_02
		TILE=DATA BLOCK=1 X=12 Y=0
			TEXTURE=VOID
			TEXTURE=WALL_02
		TILE=DATA BLOCK=1 X=13 Y=0
			TEXTURE=VOID
			TEXTURE=WALL_05
		TILE=DATA BLOCK=0 X=14 Y=0
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=15 Y=0
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=0 Y=1
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=1 Y=1
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=2 Y=1
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=3 Y=1
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=4 Y=1
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=5 Y=1
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=6 Y=1
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=7 Y=1
			TEXTURE=FLOOR_01
			TEXTURE=CHIMNEY
		TILE=DATA BLOCK=1 X=8 Y=1
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=9 Y=1
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=10 Y=1
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=11 Y=1
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=12 Y=1
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=13 Y=1
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=14 Y=1
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=15 Y=1
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=0 Y=2
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=1 Y=2
			TEXTURE=VOID
			TEXTURE=WALL_UP_RIGHT
		TILE=DATA BLOCK=1 X=2 Y=2
			TEXTURE=FLOOR_01
			TEXTURE=BARREL_02
		TILE=DATA BLOCK=0 X=3 Y=2
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=4 Y=2
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=5 Y=2
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=6 Y=2
			TEXTURE=FLOOR_01
			TEXTURE=CHAIR
		TILE=DATA BLOCK=1 X=7 Y=2
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=8 Y=2
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=9 Y=2
			TEXTURE=FLOOR_01
			TEXTURE=CHAIR
		TILE=DATA BLOCK=0 X=10 Y=2
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=11 Y=2
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=12 Y=2
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=13 Y=2
			TEXTURE=FLOOR_01
			TEXTURE=BARREL_02
		TILE=DATA BLOCK=0 X=14 Y=2
			TEXTURE=VOID
			TEXTURE=WALL_DOWN_LEFT
		TILE=DATA BLOCK=0 X=15 Y=2
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=0 Y=3
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=1 Y=3
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=2 Y=3
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=3 Y=3
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=4 Y=3
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=5 Y=3
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=6 Y=3
			TEXTURE=FLOOR_01
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=7 Y=3
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=8 Y=3
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=9 Y=3
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=10 Y=3
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=11 Y=3
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=12 Y=3
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=13 Y=3
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=14 Y=3
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=15 Y=3
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=0 Y=4
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=1 Y=4
			TEXTURE=VOID
			TEXTURE=WALL_UP_RIGHT
		TILE=DATA BLOCK=1 X=2 Y=4
			TEXTURE=FLOOR_01
			TEXTURE=BAR_UP_LEFT_CORNER
		TILE=DATA BLOCK=0 X=3 Y=4
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=4 Y=4
			TEXTURE=FLOOR_01
			TEXTURE=BAR_UP_RIGHT_CORNER
		TILE=DATA BLOCK=1 X=5 Y=4
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=6 Y=4
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=7 Y=4
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=8 Y=4
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=9 Y=4
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=10 Y=4
			TEXTURE=FLOOR_01
			TEXTURE=BAR_UP_LEFT_CORNER
		TILE=DATA BLOCK=0 X=11 Y=4
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=12 Y=4
			TEXTURE=FLOOR_01
			TEXTURE=BAR_UP_RIGHT_CORNER
		TILE=DATA BLOCK=1 X=13 Y=4
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=14 Y=4
			TEXTURE=VOID
			TEXTURE=WALL_DOWN_LEFT
		TILE=DATA BLOCK=0 X=15 Y=4
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=0 Y=5
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=1 Y=5
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=2 Y=5
			TEXTURE=FLOOR_01
			TEXTURE=BAR_DOWN_LEFT
		TILE=DATA BLOCK=1 X=3 Y=5
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=4 Y=5
			TEXTURE=FLOOR_01
			TEXTURE=BAR_DOWN_RIGHT
		TILE=DATA BLOCK=1 X=5 Y=5
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=6 Y=5
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=7 Y=5
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=8 Y=5
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=9 Y=5
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=10 Y=5
			TEXTURE=FLOOR_01
			TEXTURE=BAR_DOWN_LEFT
		TILE=DATA BLOCK=1 X=11 Y=5
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=12 Y=5
			TEXTURE=FLOOR_01
			TEXTURE=BAR_DOWN_RIGHT
		TILE=DATA BLOCK=1 X=13 Y=5
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=14 Y=5
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=15 Y=5
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=0 Y=6
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=1 Y=6
			TEXTURE=VOID
			TEXTURE=WALL_UP_RIGHT
		TILE=DATA BLOCK=1 X=2 Y=6
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=3 Y=6
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=4 Y=6
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=5 Y=6
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=6 Y=6
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=7 Y=6
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=8 Y=6
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=9 Y=6
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=10 Y=6
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=11 Y=6
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=12 Y=6
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=13 Y=6
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=14 Y=6
			TEXTURE=VOID
			TEXTURE=WALL_DOWN_LEFT
		TILE=DATA BLOCK=0 X=15 Y=6
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=0 Y=7
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=1 Y=7
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=2 Y=7
			TEXTURE=FLOOR_01
			TEXTURE=BARREL_02
		TILE=DATA BLOCK=0 X=3 Y=7
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=4 Y=7
			TEXTURE=FLOOR_01
			TEXTURE=TABLE_01
		TILE=DATA BLOCK=1 X=5 Y=7
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=6 Y=7
			TEXTURE=FLOOR_01
			TEXTURE=BARREL_01
		TILE=DATA BLOCK=0 X=7 Y=7
			TEXTURE=FLOOR_01
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=8 Y=7
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=9 Y=7
			TEXTURE=FLOOR_01
			TEXTURE=TABLE_01
		TILE=DATA BLOCK=1 X=10 Y=7
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=11 Y=7
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=12 Y=7
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=13 Y=7
			TEXTURE=FLOOR_01
			TEXTURE=BARREL_02
		TILE=DATA BLOCK=0 X=14 Y=7
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=15 Y=7
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=0 Y=8
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=1 Y=8
			TEXTURE=VOID
			TEXTURE=WALL_UP_RIGHT
		TILE=DATA BLOCK=1 X=2 Y=8
			TEXTURE=FLOOR_01
			TEXTURE=BARREL_02
		TILE=DATA BLOCK=0 X=3 Y=8
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=4 Y=8
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=5 Y=8
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=6 Y=8
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=7 Y=8
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=8 Y=8
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=9 Y=8
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=10 Y=8
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=11 Y=8
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=12 Y=8
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=13 Y=8
			TEXTURE=FLOOR_01
			TEXTURE=BARREL_02
		TILE=DATA BLOCK=0 X=14 Y=8
			TEXTURE=VOID
			TEXTURE=WALL_DOWN_LEFT
		TILE=DATA BLOCK=0 X=15 Y=8
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=0 Y=9
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=1 Y=9
			TEXTURE=VOID
			TEXTURE=WALL_UP_RIGHT
		TILE=DATA BLOCK=1 X=2 Y=9
			TEXTURE=FLOOR_01
			TEXTURE=BARREL_02
			TEXTURE=BARREL_02
		TILE=DATA BLOCK=0 X=3 Y=9
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=4 Y=9
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=5 Y=9
			TEXTURE=FLOOR_01
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=6 Y=9
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=7 Y=9
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=8 Y=9
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=9 Y=9
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=10 Y=9
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=11 Y=9
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=12 Y=9
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=13 Y=9
			TEXTURE=FLOOR_01
			TEXTURE=BARREL_02
		TILE=DATA BLOCK=0 X=14 Y=9
			TEXTURE=VOID
			TEXTURE=WALL_DOWN_LEFT
		TILE=DATA BLOCK=0 X=15 Y=9
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=0 Y=10
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=1 Y=10
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=2 Y=10
			TEXTURE=FLOOR_01
			TEXTURE=BARREL_02
		TILE=DATA BLOCK=0 X=3 Y=10
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=4 Y=10
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=5 Y=10
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=6 Y=10
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=7 Y=10
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=8 Y=10
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=9 Y=10
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=10 Y=10
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=11 Y=10
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=12 Y=10
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=13 Y=10
			TEXTURE=FLOOR_01
			TEXTURE=BARREL_02
		TILE=DATA BLOCK=0 X=14 Y=10
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=15 Y=10
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=0 Y=11
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=1 Y=11
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=2 Y=11
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=3 Y=11
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=4 Y=11
			TEXTURE=VOID
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=5 Y=11
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=6 Y=11
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=7 Y=11
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=8 Y=11
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=9 Y=11
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=10 Y=11
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=11 Y=11
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=12 Y=11
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=13 Y=11
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=14 Y=11
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=15 Y=11
			TEXTURE=VOID
	AREA=HOUSE_2 ENCOUNTER=0 X=1 Y=0
		TILE=DATA BLOCK=0 X=0 Y=0
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=1 Y=0
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=2 Y=0
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=3 Y=0
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=4 Y=0
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=5 Y=0
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=6 Y=0
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=7 Y=0
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=8 Y=0
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=9 Y=0
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=10 Y=0
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=11 Y=0
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=12 Y=0
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=13 Y=0
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=14 Y=0
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=15 Y=0
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=0 Y=1
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=1 Y=1
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=2 Y=1
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=3 Y=1
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=4 Y=1
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=5 Y=1
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=6 Y=1
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=7 Y=1
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=8 Y=1
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=9 Y=1
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=10 Y=1
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=11 Y=1
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=12 Y=1
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=13 Y=1
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=14 Y=1
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=15 Y=1
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=0 Y=2
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=1 Y=2
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=2 Y=2
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=3 Y=2
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=4 Y=2
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=5 Y=2
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=6 Y=2
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=7 Y=2
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=8 Y=2
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=9 Y=2
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=10 Y=2
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=11 Y=2
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=12 Y=2
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=13 Y=2
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=14 Y=2
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=15 Y=2
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=0 Y=3
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=1 Y=3
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=2 Y=3
			TEXTURE=VOID
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=3 Y=3
			TEXTURE=VOID
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=4 Y=3
			TEXTURE=VOID
			TEXTURE=WALL_01
		TILE=DATA BLOCK=1 X=5 Y=3
			TEXTURE=VOID
			TEXTURE=VOID
			TEXTURE=WALL_02
		TILE=DATA BLOCK=1 X=6 Y=3
			TEXTURE=VOID
			TEXTURE=WALL_02
		TILE=DATA BLOCK=1 X=7 Y=3
			TEXTURE=VOID
			TEXTURE=WALL_02
		TILE=DATA BLOCK=1 X=8 Y=3
			TEXTURE=VOID
			TEXTURE=WALL_02
		TILE=DATA BLOCK=1 X=9 Y=3
			TEXTURE=VOID
			TEXTURE=VOID
			TEXTURE=WALL_02
		TILE=DATA BLOCK=1 X=10 Y=3
			TEXTURE=VOID
			TEXTURE=WALL_02
		TILE=DATA BLOCK=1 X=11 Y=3
			TEXTURE=VOID
			TEXTURE=WALL_05
		TILE=DATA BLOCK=1 X=12 Y=3
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=13 Y=3
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=14 Y=3
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=15 Y=3
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=0 Y=4
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=1 Y=4
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=2 Y=4
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=3 Y=4
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=4 Y=4
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=5 Y=4
			TEXTURE=VOID
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=6 Y=4
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=7 Y=4
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=8 Y=4
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=9 Y=4
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=10 Y=4
			TEXTURE=VOID
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=11 Y=4
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=12 Y=4
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=13 Y=4
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=14 Y=4
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=15 Y=4
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=0 Y=5
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=1 Y=5
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=2 Y=5
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=3 Y=5
			TEXTURE=VOID
			TEXTURE=WALL_UP_RIGHT
		TILE=DATA BLOCK=0 X=4 Y=5
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=5 Y=5
			TEXTURE=FLOOR_01
			TEXTURE=STAIRS_DOWN_LEFT
		TILE=DATA BLOCK=0 X=6 Y=5
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=7 Y=5
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=8 Y=5
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=9 Y=5
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=10 Y=5
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=11 Y=5
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=12 Y=5
			TEXTURE=VOID
			TEXTURE=WALL_DOWN_LEFT
		TILE=DATA BLOCK=0 X=13 Y=5
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=14 Y=5
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=15 Y=5
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=0 Y=6
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=1 Y=6
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=2 Y=6
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=3 Y=6
			TEXTURE=VOID
			TEXTURE=WALL_UP_RIGHT
		TILE=DATA BLOCK=0 X=4 Y=6
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=5 Y=6
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=6 Y=6
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=7 Y=6
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=8 Y=6
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=9 Y=6
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=10 Y=6
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=11 Y=6
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=12 Y=6
			TEXTURE=VOID
			TEXTURE=WALL_DOWN_LEFT
		TILE=DATA BLOCK=0 X=13 Y=6
			TEXTURE=VOID
			TEXTURE=VOID
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=14 Y=6
			TEXTURE=VOID
			TEXTURE=VOID
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=15 Y=6
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=0 Y=7
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=1 Y=7
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=2 Y=7
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=3 Y=7
			TEXTURE=VOID
			TEXTURE=WALL_UP_RIGHT
		TILE=DATA BLOCK=1 X=4 Y=7
			TEXTURE=FLOOR_01
			TEXTURE=TABLE_01
		TILE=DATA BLOCK=1 X=5 Y=7
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=6 Y=7
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=7 Y=7
			TEXTURE=FLOOR_01
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=8 Y=7
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=9 Y=7
			TEXTURE=FLOOR_01
			TEXTURE=TABLE_01
		TILE=DATA BLOCK=1 X=10 Y=7
			TEXTURE=FLOOR_01
			TEXTURE=CANDLE_MIDDLE
		TILE=DATA BLOCK=1 X=11 Y=7
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=12 Y=7
			TEXTURE=VOID
			TEXTURE=WALL_DOWN_LEFT
		TILE=DATA BLOCK=0 X=13 Y=7
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=14 Y=7
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=15 Y=7
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=0 Y=8
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=1 Y=8
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=2 Y=8
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=3 Y=8
			TEXTURE=VOID
			TEXTURE=WALL_UP_RIGHT
		TILE=DATA BLOCK=1 X=4 Y=8
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=5 Y=8
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=6 Y=8
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=7 Y=8
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=8 Y=8
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=9 Y=8
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=10 Y=8
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=11 Y=8
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=12 Y=8
			TEXTURE=VOID
			TEXTURE=WALL_DOWN_LEFT
		TILE=DATA BLOCK=1 X=13 Y=8
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=14 Y=8
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=15 Y=8
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=0 Y=9
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=1 Y=9
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=2 Y=9
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=3 Y=9
			TEXTURE=VOID
			TEXTURE=WALL_UP_RIGHT
		TILE=DATA BLOCK=0 X=4 Y=9
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=5 Y=9
			TEXTURE=FLOOR_01
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=6 Y=9
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=7 Y=9
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=8 Y=9
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=9 Y=9
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=10 Y=9
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=11 Y=9
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=12 Y=9
			TEXTURE=VOID
			TEXTURE=WALL_DOWN_LEFT
		TILE=DATA BLOCK=1 X=13 Y=9
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=14 Y=9
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=15 Y=9
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=0 Y=10
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=1 Y=10
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=2 Y=10
			TEXTURE=VOID
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=3 Y=10
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=4 Y=10
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=5 Y=10
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=6 Y=10
			TEXTURE=FLOOR_01
			TEXTURE=BARREL_02
		TILE=DATA BLOCK=0 X=7 Y=10
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=8 Y=10
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=9 Y=10
			TEXTURE=FLOOR_01
			TEXTURE=BARREL_02
		TILE=DATA BLOCK=0 X=10 Y=10
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=11 Y=10
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=12 Y=10
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=13 Y=10
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=14 Y=10
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=15 Y=10
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=0 Y=11
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=1 Y=11
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=2 Y=11
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=3 Y=11
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=4 Y=11
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=5 Y=11
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=6 Y=11
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=7 Y=11
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=8 Y=11
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=9 Y=11
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=10 Y=11
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=11 Y=11
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=12 Y=11
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=13 Y=11
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=14 Y=11
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=15 Y=11
			TEXTURE=VOID
	AREA=SOUS_SOL_HOUSE_2 ENCOUNTER=0 X=2 Y=0
		TILE=DATA BLOCK=0 X=0 Y=0
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=1 Y=0
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=2 Y=0
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=3 Y=0
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=4 Y=0
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=5 Y=0
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=6 Y=0
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=7 Y=0
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=8 Y=0
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=9 Y=0
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=10 Y=0
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=11 Y=0
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=12 Y=0
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=13 Y=0
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=14 Y=0
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=15 Y=0
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=0 Y=1
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=1 Y=1
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=2 Y=1
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=3 Y=1
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=4 Y=1
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=5 Y=1
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=6 Y=1
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=7 Y=1
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=8 Y=1
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=9 Y=1
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=10 Y=1
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=11 Y=1
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=12 Y=1
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=13 Y=1
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=14 Y=1
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=15 Y=1
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=0 Y=2
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=1 Y=2
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=2 Y=2
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=3 Y=2
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=4 Y=2
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=5 Y=2
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=6 Y=2
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=7 Y=2
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=8 Y=2
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=9 Y=2
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=10 Y=2
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=11 Y=2
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=12 Y=2
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=13 Y=2
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=14 Y=2
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=15 Y=2
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=0 Y=3
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=1 Y=3
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=2 Y=3
			TEXTURE=VOID
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=3 Y=3
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=4 Y=3
			TEXTURE=VOID
			TEXTURE=WALL_01
		TILE=DATA BLOCK=1 X=5 Y=3
			TEXTURE=VOID
			TEXTURE=VOID
			TEXTURE=WALL_02
		TILE=DATA BLOCK=1 X=6 Y=3
			TEXTURE=VOID
			TEXTURE=WALL_02
		TILE=DATA BLOCK=1 X=7 Y=3
			TEXTURE=VOID
			TEXTURE=WALL_02
		TILE=DATA BLOCK=1 X=8 Y=3
			TEXTURE=VOID
			TEXTURE=WALL_02
		TILE=DATA BLOCK=1 X=9 Y=3
			TEXTURE=VOID
			TEXTURE=VOID
			TEXTURE=WALL_02
		TILE=DATA BLOCK=1 X=10 Y=3
			TEXTURE=VOID
			TEXTURE=WALL_02
		TILE=DATA BLOCK=1 X=11 Y=3
			TEXTURE=VOID
			TEXTURE=WALL_05
		TILE=DATA BLOCK=1 X=12 Y=3
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=13 Y=3
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=14 Y=3
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=15 Y=3
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=0 Y=4
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=1 Y=4
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=2 Y=4
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=3 Y=4
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=4 Y=4
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=5 Y=4
			TEXTURE=VOID
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=6 Y=4
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=7 Y=4
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=8 Y=4
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=9 Y=4
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=10 Y=4
			TEXTURE=VOID
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=11 Y=4
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=12 Y=4
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=13 Y=4
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=14 Y=4
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=15 Y=4
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=0 Y=5
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=1 Y=5
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=2 Y=5
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=3 Y=5
			TEXTURE=VOID
			TEXTURE=WALL_UP_RIGHT
		TILE=DATA BLOCK=0 X=4 Y=5
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=5 Y=5
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=6 Y=5
			TEXTURE=FLOOR_01
			TEXTURE=BARREL_02
		TILE=DATA BLOCK=1 X=7 Y=5
			TEXTURE=FLOOR_01
			TEXTURE=CHAIR
		TILE=DATA BLOCK=1 X=8 Y=5
			TEXTURE=FLOOR_01
			TEXTURE=CHAIR
		TILE=DATA BLOCK=1 X=9 Y=5
			TEXTURE=FLOOR_01
			TEXTURE=BARREL_02
		TILE=DATA BLOCK=0 X=10 Y=5
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=11 Y=5
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=12 Y=5
			TEXTURE=VOID
			TEXTURE=WALL_DOWN_LEFT
		TILE=DATA BLOCK=0 X=13 Y=5
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=14 Y=5
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=15 Y=5
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=0 Y=6
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=1 Y=6
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=2 Y=6
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=3 Y=6
			TEXTURE=VOID
			TEXTURE=WALL_UP_RIGHT
		TILE=DATA BLOCK=0 X=4 Y=6
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=5 Y=6
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=6 Y=6
			TEXTURE=FLOOR_01
			TEXTURE=CHAIR
		TILE=DATA BLOCK=0 X=7 Y=6
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=8 Y=6
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=9 Y=6
			TEXTURE=FLOOR_01
			TEXTURE=CHAIR
		TILE=DATA BLOCK=0 X=10 Y=6
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=11 Y=6
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=12 Y=6
			TEXTURE=VOID
			TEXTURE=WALL_DOWN_LEFT
		TILE=DATA BLOCK=0 X=13 Y=6
			TEXTURE=VOID
			TEXTURE=VOID
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=14 Y=6
			TEXTURE=VOID
			TEXTURE=VOID
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=15 Y=6
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=0 Y=7
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=1 Y=7
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=2 Y=7
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=3 Y=7
			TEXTURE=VOID
			TEXTURE=WALL_UP_RIGHT
		TILE=DATA BLOCK=0 X=4 Y=7
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=5 Y=7
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=6 Y=7
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=7 Y=7
			TEXTURE=FLOOR_01
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=8 Y=7
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=9 Y=7
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=10 Y=7
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=11 Y=7
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=12 Y=7
			TEXTURE=VOID
			TEXTURE=WALL_DOWN_LEFT
		TILE=DATA BLOCK=0 X=13 Y=7
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=14 Y=7
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=15 Y=7
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=0 Y=8
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=1 Y=8
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=2 Y=8
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=3 Y=8
			TEXTURE=VOID
			TEXTURE=WALL_UP_RIGHT
		TILE=DATA BLOCK=0 X=4 Y=8
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=5 Y=8
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=6 Y=8
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=7 Y=8
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=8 Y=8
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=9 Y=8
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=10 Y=8
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=11 Y=8
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=12 Y=8
			TEXTURE=VOID
			TEXTURE=WALL_DOWN_LEFT
		TILE=DATA BLOCK=0 X=13 Y=8
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=14 Y=8
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=15 Y=8
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=0 Y=9
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=1 Y=9
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=2 Y=9
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=3 Y=9
			TEXTURE=VOID
			TEXTURE=WALL_UP_RIGHT
		TILE=DATA BLOCK=0 X=4 Y=9
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=5 Y=9
			TEXTURE=FLOOR_01
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=6 Y=9
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=7 Y=9
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=8 Y=9
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=9 Y=9
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=10 Y=9
			TEXTURE=FLOOR_01
			TEXTURE=STAIRS_DOWN_LEFT
		TILE=DATA BLOCK=0 X=11 Y=9
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=12 Y=9
			TEXTURE=VOID
			TEXTURE=WALL_DOWN_LEFT
		TILE=DATA BLOCK=0 X=13 Y=9
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=14 Y=9
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=15 Y=9
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=0 Y=10
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=1 Y=10
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=2 Y=10
			TEXTURE=VOID
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=3 Y=10
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=4 Y=10
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=5 Y=10
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=6 Y=10
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=7 Y=10
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=8 Y=10
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=9 Y=10
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=10 Y=10
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=11 Y=10
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=12 Y=10
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=13 Y=10
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=14 Y=10
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=15 Y=10
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=0 Y=11
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=1 Y=11
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=2 Y=11
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=3 Y=11
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=4 Y=11
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=5 Y=11
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=6 Y=11
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=7 Y=11
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=8 Y=11
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=9 Y=11
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=10 Y=11
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=11 Y=11
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=12 Y=11
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=13 Y=11
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=14 Y=11
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=15 Y=11
			TEXTURE=VOID
	AREA=HOUSE_1 ENCOUNTER=0 X=0 Y=1
		TILE=DATA BLOCK=0 X=0 Y=0
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=1 Y=0
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=2 Y=0
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=3 Y=0
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=4 Y=0
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=5 Y=0
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=6 Y=0
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=7 Y=0
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=8 Y=0
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=9 Y=0
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=10 Y=0
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=11 Y=0
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=12 Y=0
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=13 Y=0
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=14 Y=0
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=15 Y=0
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=0 Y=1
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=1 Y=1
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=2 Y=1
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=3 Y=1
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=4 Y=1
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=5 Y=1
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=6 Y=1
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=7 Y=1
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=8 Y=1
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=9 Y=1
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=10 Y=1
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=11 Y=1
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=12 Y=1
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=13 Y=1
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=14 Y=1
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=15 Y=1
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=0 Y=2
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=1 Y=2
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=2 Y=2
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=3 Y=2
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=4 Y=2
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=5 Y=2
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=6 Y=2
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=7 Y=2
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=8 Y=2
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=9 Y=2
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=10 Y=2
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=11 Y=2
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=12 Y=2
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=13 Y=2
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=14 Y=2
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=15 Y=2
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=0 Y=3
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=1 Y=3
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=2 Y=3
			TEXTURE=VOID
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=3 Y=3
			TEXTURE=VOID
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=4 Y=3
			TEXTURE=VOID
			TEXTURE=WALL_01
		TILE=DATA BLOCK=1 X=5 Y=3
			TEXTURE=VOID
			TEXTURE=VOID
			TEXTURE=WALL_02
		TILE=DATA BLOCK=1 X=6 Y=3
			TEXTURE=VOID
			TEXTURE=WALL_02
		TILE=DATA BLOCK=1 X=7 Y=3
			TEXTURE=VOID
			TEXTURE=WALL_02
		TILE=DATA BLOCK=1 X=8 Y=3
			TEXTURE=VOID
			TEXTURE=WALL_02
		TILE=DATA BLOCK=1 X=9 Y=3
			TEXTURE=VOID
			TEXTURE=VOID
			TEXTURE=WALL_02
		TILE=DATA BLOCK=1 X=10 Y=3
			TEXTURE=VOID
			TEXTURE=WALL_02
		TILE=DATA BLOCK=1 X=11 Y=3
			TEXTURE=VOID
			TEXTURE=WALL_05
		TILE=DATA BLOCK=1 X=12 Y=3
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=13 Y=3
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=14 Y=3
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=15 Y=3
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=0 Y=4
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=1 Y=4
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=2 Y=4
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=3 Y=4
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=4 Y=4
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=5 Y=4
			TEXTURE=VOID
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=6 Y=4
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=7 Y=4
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=8 Y=4
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=9 Y=4
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=10 Y=4
			TEXTURE=VOID
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=11 Y=4
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=12 Y=4
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=13 Y=4
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=14 Y=4
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=15 Y=4
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=0 Y=5
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=1 Y=5
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=2 Y=5
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=3 Y=5
			TEXTURE=VOID
			TEXTURE=WALL_UP_RIGHT
		TILE=DATA BLOCK=0 X=4 Y=5
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=5 Y=5
			TEXTURE=FLOOR_01
			TEXTURE=STAIRS_DOWN_LEFT
		TILE=DATA BLOCK=0 X=6 Y=5
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=7 Y=5
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=8 Y=5
			TEXTURE=FLOOR_01
			TEXTURE=CHAIR
		TILE=DATA BLOCK=1 X=9 Y=5
			TEXTURE=FLOOR_01
			TEXTURE=CHAIR
		TILE=DATA BLOCK=0 X=10 Y=5
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=11 Y=5
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=12 Y=5
			TEXTURE=VOID
			TEXTURE=WALL_DOWN_LEFT
		TILE=DATA BLOCK=0 X=13 Y=5
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=14 Y=5
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=15 Y=5
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=0 Y=6
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=1 Y=6
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=2 Y=6
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=3 Y=6
			TEXTURE=VOID
			TEXTURE=WALL_UP_RIGHT
		TILE=DATA BLOCK=0 X=4 Y=6
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=5 Y=6
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=6 Y=6
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=7 Y=6
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=8 Y=6
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=9 Y=6
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=10 Y=6
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=11 Y=6
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=12 Y=6
			TEXTURE=VOID
			TEXTURE=WALL_DOWN_LEFT
		TILE=DATA BLOCK=0 X=13 Y=6
			TEXTURE=VOID
			TEXTURE=VOID
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=14 Y=6
			TEXTURE=VOID
			TEXTURE=VOID
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=15 Y=6
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=0 Y=7
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=1 Y=7
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=2 Y=7
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=3 Y=7
			TEXTURE=VOID
			TEXTURE=WALL_UP_RIGHT
		TILE=DATA BLOCK=1 X=4 Y=7
			TEXTURE=FLOOR_01
			TEXTURE=TABLE_01
		TILE=DATA BLOCK=1 X=5 Y=7
			TEXTURE=FLOOR_01
			TEXTURE=CANDLE_PLATE
			TEXTURE=CANDLE_PLATE
		TILE=DATA BLOCK=1 X=6 Y=7
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=7 Y=7
			TEXTURE=FLOOR_01
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=8 Y=7
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=9 Y=7
			TEXTURE=FLOOR_01
			TEXTURE=TABLE_01
		TILE=DATA BLOCK=1 X=10 Y=7
			TEXTURE=FLOOR_01
			TEXTURE=CANDLE_PLATE
			TEXTURE=CANDLE_PLATE
			TEXTURE=CANDLE_PLATE
		TILE=DATA BLOCK=1 X=11 Y=7
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=12 Y=7
			TEXTURE=VOID
			TEXTURE=WALL_DOWN_LEFT
		TILE=DATA BLOCK=0 X=13 Y=7
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=14 Y=7
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=15 Y=7
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=0 Y=8
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=1 Y=8
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=2 Y=8
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=3 Y=8
			TEXTURE=VOID
			TEXTURE=WALL_UP_RIGHT
		TILE=DATA BLOCK=1 X=4 Y=8
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=5 Y=8
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=6 Y=8
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=7 Y=8
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=8 Y=8
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=9 Y=8
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=10 Y=8
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=11 Y=8
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=12 Y=8
			TEXTURE=VOID
			TEXTURE=WALL_DOWN_LEFT
		TILE=DATA BLOCK=1 X=13 Y=8
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=14 Y=8
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=15 Y=8
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=0 Y=9
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=1 Y=9
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=2 Y=9
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=3 Y=9
			TEXTURE=VOID
			TEXTURE=WALL_UP_RIGHT
		TILE=DATA BLOCK=1 X=4 Y=9
			TEXTURE=FLOOR_01
			TEXTURE=CHAIR
		TILE=DATA BLOCK=0 X=5 Y=9
			TEXTURE=FLOOR_01
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=6 Y=9
			TEXTURE=FLOOR_01
			TEXTURE=CANDLE_DOWN
		TILE=DATA BLOCK=0 X=7 Y=9
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=8 Y=9
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=9 Y=9
			TEXTURE=FLOOR_01
			TEXTURE=CANDLE_DOWN
		TILE=DATA BLOCK=0 X=10 Y=9
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=11 Y=9
			TEXTURE=FLOOR_01
			TEXTURE=CHAIR
		TILE=DATA BLOCK=1 X=12 Y=9
			TEXTURE=VOID
			TEXTURE=WALL_DOWN_LEFT
		TILE=DATA BLOCK=1 X=13 Y=9
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=14 Y=9
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=15 Y=9
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=0 Y=10
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=1 Y=10
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=2 Y=10
			TEXTURE=VOID
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=3 Y=10
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=4 Y=10
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=5 Y=10
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=6 Y=10
			TEXTURE=FLOOR_01
			TEXTURE=CANDLE_BASE
		TILE=DATA BLOCK=0 X=7 Y=10
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=8 Y=10
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=9 Y=10
			TEXTURE=FLOOR_01
			TEXTURE=CANDLE_BASE
		TILE=DATA BLOCK=0 X=10 Y=10
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=11 Y=10
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=12 Y=10
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=13 Y=10
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=14 Y=10
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=15 Y=10
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=0 Y=11
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=1 Y=11
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=2 Y=11
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=3 Y=11
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=4 Y=11
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=5 Y=11
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=6 Y=11
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=7 Y=11
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=8 Y=11
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=9 Y=11
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=10 Y=11
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=11 Y=11
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=12 Y=11
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=13 Y=11
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=14 Y=11
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=15 Y=11
			TEXTURE=VOID
	AREA=SOUS_SOL_HOUSE_1 ENCOUNTER=0 X=1 Y=1
		TILE=DATA BLOCK=0 X=0 Y=0
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=1 Y=0
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=2 Y=0
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=3 Y=0
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=4 Y=0
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=5 Y=0
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=6 Y=0
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=7 Y=0
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=8 Y=0
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=9 Y=0
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=10 Y=0
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=11 Y=0
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=12 Y=0
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=13 Y=0
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=14 Y=0
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=15 Y=0
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=0 Y=1
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=1 Y=1
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=2 Y=1
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=3 Y=1
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=4 Y=1
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=5 Y=1
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=6 Y=1
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=7 Y=1
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=8 Y=1
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=9 Y=1
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=10 Y=1
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=11 Y=1
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=12 Y=1
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=13 Y=1
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=14 Y=1
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=15 Y=1
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=0 Y=2
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=1 Y=2
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=2 Y=2
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=3 Y=2
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=4 Y=2
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=5 Y=2
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=6 Y=2
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=7 Y=2
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=8 Y=2
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=9 Y=2
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=10 Y=2
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=11 Y=2
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=12 Y=2
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=13 Y=2
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=14 Y=2
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=15 Y=2
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=0 Y=3
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=1 Y=3
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=2 Y=3
			TEXTURE=VOID
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=3 Y=3
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=4 Y=3
			TEXTURE=VOID
			TEXTURE=WALL_01
			TEXTURE=VENT_LEFT
		TILE=DATA BLOCK=1 X=5 Y=3
			TEXTURE=VOID
			TEXTURE=VOID
			TEXTURE=WALL_02
			TEXTURE=VENT_RIGHT
		TILE=DATA BLOCK=1 X=6 Y=3
			TEXTURE=VOID
			TEXTURE=WALL_02
		TILE=DATA BLOCK=1 X=7 Y=3
			TEXTURE=VOID
			TEXTURE=WALL_02
		TILE=DATA BLOCK=1 X=8 Y=3
			TEXTURE=VOID
			TEXTURE=WALL_02
		TILE=DATA BLOCK=1 X=9 Y=3
			TEXTURE=VOID
			TEXTURE=VOID
			TEXTURE=WALL_02
		TILE=DATA BLOCK=1 X=10 Y=3
			TEXTURE=VOID
			TEXTURE=WALL_02
			TEXTURE=VENT_LEFT
		TILE=DATA BLOCK=1 X=11 Y=3
			TEXTURE=VOID
			TEXTURE=WALL_05
			TEXTURE=VENT_RIGHT
		TILE=DATA BLOCK=1 X=12 Y=3
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=13 Y=3
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=14 Y=3
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=15 Y=3
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=0 Y=4
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=1 Y=4
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=2 Y=4
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=3 Y=4
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=4 Y=4
			TEXTURE=VOID
			TEXTURE=CHIMNEY
		TILE=DATA BLOCK=1 X=5 Y=4
			TEXTURE=VOID
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=6 Y=4
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=7 Y=4
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=8 Y=4
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=9 Y=4
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=10 Y=4
			TEXTURE=VOID
			TEXTURE=VOID
			TEXTURE=CHIMNEY
		TILE=DATA BLOCK=1 X=11 Y=4
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=12 Y=4
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=13 Y=4
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=14 Y=4
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=15 Y=4
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=0 Y=5
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=1 Y=5
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=2 Y=5
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=3 Y=5
			TEXTURE=VOID
			TEXTURE=WALL_UP_RIGHT
		TILE=DATA BLOCK=1 X=4 Y=5
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=5 Y=5
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=6 Y=5
			TEXTURE=FLOOR_01
			TEXTURE=BARREL_02
		TILE=DATA BLOCK=1 X=7 Y=5
			TEXTURE=FLOOR_01
			TEXTURE=CHAIR
		TILE=DATA BLOCK=1 X=8 Y=5
			TEXTURE=FLOOR_01
			TEXTURE=CHAIR
		TILE=DATA BLOCK=1 X=9 Y=5
			TEXTURE=FLOOR_01
			TEXTURE=BARREL_02
		TILE=DATA BLOCK=1 X=10 Y=5
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=11 Y=5
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=12 Y=5
			TEXTURE=VOID
			TEXTURE=WALL_DOWN_LEFT
		TILE=DATA BLOCK=0 X=13 Y=5
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=14 Y=5
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=15 Y=5
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=0 Y=6
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=1 Y=6
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=2 Y=6
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=3 Y=6
			TEXTURE=VOID
			TEXTURE=WALL_UP_RIGHT
		TILE=DATA BLOCK=0 X=4 Y=6
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=5 Y=6
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=6 Y=6
			TEXTURE=FLOOR_01
			TEXTURE=CHAIR
		TILE=DATA BLOCK=0 X=7 Y=6
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=8 Y=6
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=9 Y=6
			TEXTURE=FLOOR_01
			TEXTURE=CHAIR
		TILE=DATA BLOCK=0 X=10 Y=6
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=11 Y=6
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=12 Y=6
			TEXTURE=VOID
			TEXTURE=WALL_DOWN_LEFT
		TILE=DATA BLOCK=0 X=13 Y=6
			TEXTURE=VOID
			TEXTURE=VOID
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=14 Y=6
			TEXTURE=VOID
			TEXTURE=VOID
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=15 Y=6
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=0 Y=7
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=1 Y=7
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=2 Y=7
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=3 Y=7
			TEXTURE=VOID
			TEXTURE=WALL_UP_RIGHT
		TILE=DATA BLOCK=0 X=4 Y=7
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=5 Y=7
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=6 Y=7
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=7 Y=7
			TEXTURE=FLOOR_01
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=8 Y=7
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=9 Y=7
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=10 Y=7
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=11 Y=7
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=12 Y=7
			TEXTURE=VOID
			TEXTURE=WALL_DOWN_LEFT
		TILE=DATA BLOCK=0 X=13 Y=7
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=14 Y=7
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=15 Y=7
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=0 Y=8
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=1 Y=8
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=2 Y=8
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=3 Y=8
			TEXTURE=VOID
			TEXTURE=WALL_UP_RIGHT
		TILE=DATA BLOCK=0 X=4 Y=8
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=5 Y=8
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=6 Y=8
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=7 Y=8
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=8 Y=8
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=9 Y=8
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=10 Y=8
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=11 Y=8
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=12 Y=8
			TEXTURE=VOID
			TEXTURE=WALL_DOWN_LEFT
		TILE=DATA BLOCK=0 X=13 Y=8
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=14 Y=8
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=15 Y=8
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=0 Y=9
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=1 Y=9
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=2 Y=9
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=3 Y=9
			TEXTURE=VOID
			TEXTURE=WALL_UP_RIGHT
		TILE=DATA BLOCK=0 X=4 Y=9
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=5 Y=9
			TEXTURE=FLOOR_01
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=6 Y=9
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=7 Y=9
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=8 Y=9
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=9 Y=9
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=10 Y=9
			TEXTURE=FLOOR_01
			TEXTURE=STAIRS_DOWN_LEFT
		TILE=DATA BLOCK=0 X=11 Y=9
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=12 Y=9
			TEXTURE=VOID
			TEXTURE=WALL_DOWN_LEFT
		TILE=DATA BLOCK=0 X=13 Y=9
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=14 Y=9
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=15 Y=9
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=0 Y=10
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=1 Y=10
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=2 Y=10
			TEXTURE=VOID
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=3 Y=10
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=4 Y=10
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=5 Y=10
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=6 Y=10
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=7 Y=10
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=8 Y=10
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=9 Y=10
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=10 Y=10
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=11 Y=10
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=12 Y=10
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=13 Y=10
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=14 Y=10
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=15 Y=10
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=0 Y=11
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=1 Y=11
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=2 Y=11
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=3 Y=11
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=4 Y=11
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=5 Y=11
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=6 Y=11
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=7 Y=11
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=8 Y=11
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=9 Y=11
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=10 Y=11
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=11 Y=11
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=12 Y=11
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=13 Y=11
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=14 Y=11
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=15 Y=11
			TEXTURE=VOID
	AREA=SHOP_GAME ENCOUNTER=0 X=2 Y=1
		TILE=DATA BLOCK=0 X=0 Y=0
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=1 Y=0
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=2 Y=0
			TEXTURE=FLOOR_01
			TEXTURE=WALL_01
		TILE=DATA BLOCK=1 X=3 Y=0
			TEXTURE=FLOOR_01
			TEXTURE=WALL_02
		TILE=DATA BLOCK=1 X=4 Y=0
			TEXTURE=FLOOR_01
			TEXTURE=WALL_02
		TILE=DATA BLOCK=1 X=5 Y=0
			TEXTURE=VOID
			TEXTURE=WALL_02
		TILE=DATA BLOCK=1 X=6 Y=0
			TEXTURE=VOID
			TEXTURE=WALL_02
		TILE=DATA BLOCK=1 X=7 Y=0
			TEXTURE=VOID
			TEXTURE=WALL_02
		TILE=DATA BLOCK=1 X=8 Y=0
			TEXTURE=VOID
			TEXTURE=WALL_02
		TILE=DATA BLOCK=1 X=9 Y=0
			TEXTURE=VOID
			TEXTURE=WALL_02
		TILE=DATA BLOCK=1 X=10 Y=0
			TEXTURE=VOID
			TEXTURE=WALL_02
		TILE=DATA BLOCK=1 X=11 Y=0
			TEXTURE=SAND_01
			TEXTURE=WALL_02
		TILE=DATA BLOCK=1 X=12 Y=0
			TEXTURE=VOID
			TEXTURE=WALL_02
		TILE=DATA BLOCK=1 X=13 Y=0
			TEXTURE=VOID
			TEXTURE=WALL_05
		TILE=DATA BLOCK=0 X=14 Y=0
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=15 Y=0
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=0 Y=1
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=1 Y=1
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=2 Y=1
			TEXTURE=FLOOR_01
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=3 Y=1
			TEXTURE=FLOOR_01
			TEXTURE=FLOOR_01
			TEXTURE=FLOOR_01
			TEXTURE=FLOOR_01
			TEXTURE=FLOOR_01
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=4 Y=1
			TEXTURE=FLOOR_01
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=5 Y=1
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=6 Y=1
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=7 Y=1
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=8 Y=1
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=9 Y=1
			TEXTURE=FLOOR_01
			TEXTURE=FLOOR_01
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=10 Y=1
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=11 Y=1
			TEXTURE=ROAD_02
			TEXTURE=ROAD_02
			TEXTURE=ROAD_02
			TEXTURE=SAND_01
			TEXTURE=SAND_01
			TEXTURE=SAND_01
			TEXTURE=SAND_01
			TEXTURE=SAND_01
			TEXTURE=SAND_01
			TEXTURE=SAND_01
		TILE=DATA BLOCK=1 X=12 Y=1
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=13 Y=1
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=14 Y=1
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=15 Y=1
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=0 Y=2
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=1 Y=2
			TEXTURE=VOID
			TEXTURE=WALL_UP_RIGHT
		TILE=DATA BLOCK=0 X=2 Y=2
			TEXTURE=FLOOR_01
			TEXTURE=CANDLE_DOWN
		TILE=DATA BLOCK=0 X=3 Y=2
			TEXTURE=FLOOR_01
			TEXTURE=WATER_CORNER_01
		TILE=DATA BLOCK=0 X=4 Y=2
			TEXTURE=FLOOR_01
			TEXTURE=WATER_SIDE_01
		TILE=DATA BLOCK=0 X=5 Y=2
			TEXTURE=FLOOR_01
			TEXTURE=WATER_SIDE_01
		TILE=DATA BLOCK=0 X=6 Y=2
			TEXTURE=FLOOR_01
			TEXTURE=WATER_SIDE_01
		TILE=DATA BLOCK=0 X=7 Y=2
			TEXTURE=FLOOR_01
			TEXTURE=FLOOR_01
			TEXTURE=WATER_SIDE_01
		TILE=DATA BLOCK=0 X=8 Y=2
			TEXTURE=FLOOR_01
			TEXTURE=WATER_SIDE_01
		TILE=DATA BLOCK=0 X=9 Y=2
			TEXTURE=FLOOR_01
			TEXTURE=WATER_SIDE_01
		TILE=DATA BLOCK=0 X=10 Y=2
			TEXTURE=FLOOR_01
			TEXTURE=WATER_SIDE_01
		TILE=DATA BLOCK=0 X=11 Y=2
			TEXTURE=FLOOR_01
			TEXTURE=WATER_SIDE_01
		TILE=DATA BLOCK=0 X=12 Y=2
			TEXTURE=FLOOR_01
			TEXTURE=WATER_CORNER_02
		TILE=DATA BLOCK=0 X=13 Y=2
			TEXTURE=FLOOR_01
			TEXTURE=CANDLE_DOWN
		TILE=DATA BLOCK=1 X=14 Y=2
			TEXTURE=VOID
			TEXTURE=WALL_DOWN_LEFT
		TILE=DATA BLOCK=0 X=15 Y=2
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=0 Y=3
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=1 Y=3
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=2 Y=3
			TEXTURE=FLOOR_01
			TEXTURE=CANDLE_BASE
		TILE=DATA BLOCK=0 X=3 Y=3
			TEXTURE=FLOOR_01
			TEXTURE=WATER_SIDE_04
		TILE=DATA BLOCK=1 X=4 Y=3
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=5 Y=3
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=6 Y=3
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=7 Y=3
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=8 Y=3
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=9 Y=3
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=10 Y=3
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=11 Y=3
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=12 Y=3
			TEXTURE=FLOOR_01
			TEXTURE=WATER_SIDE_02
		TILE=DATA BLOCK=1 X=13 Y=3
			TEXTURE=FLOOR_01
			TEXTURE=CANDLE_BASE
		TILE=DATA BLOCK=1 X=14 Y=3
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=15 Y=3
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=0 Y=4
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=1 Y=4
			TEXTURE=VOID
			TEXTURE=WALL_UP_RIGHT
		TILE=DATA BLOCK=0 X=2 Y=4
			TEXTURE=FLOOR_01
			TEXTURE=CANDLE_DOWN
		TILE=DATA BLOCK=0 X=3 Y=4
			TEXTURE=FLOOR_01
			TEXTURE=WATER_SIDE_04
		TILE=DATA BLOCK=1 X=4 Y=4
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=5 Y=4
			TEXTURE=WATER_02
			TEXTURE=WATER_02
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=6 Y=4
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=7 Y=4
			TEXTURE=WATER_02
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=8 Y=4
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=9 Y=4
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=10 Y=4
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=11 Y=4
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=12 Y=4
			TEXTURE=FLOOR_01
			TEXTURE=WATER_SIDE_02
		TILE=DATA BLOCK=0 X=13 Y=4
			TEXTURE=FLOOR_01
			TEXTURE=CANDLE_DOWN
		TILE=DATA BLOCK=1 X=14 Y=4
			TEXTURE=VOID
			TEXTURE=WALL_DOWN_LEFT
		TILE=DATA BLOCK=0 X=15 Y=4
			TEXTURE=VOID
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=0 Y=5
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=1 Y=5
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=2 Y=5
			TEXTURE=FLOOR_01
			TEXTURE=CANDLE_BASE
		TILE=DATA BLOCK=0 X=3 Y=5
			TEXTURE=FLOOR_01
			TEXTURE=WATER_CORNER_04
		TILE=DATA BLOCK=0 X=4 Y=5
			TEXTURE=FLOOR_01
			TEXTURE=WATER_SIDE_03
		TILE=DATA BLOCK=0 X=5 Y=5
			TEXTURE=FLOOR_01
			TEXTURE=WATER_SIDE_03
		TILE=DATA BLOCK=0 X=6 Y=5
			TEXTURE=FLOOR_01
			TEXTURE=WATER_SIDE_03
		TILE=DATA BLOCK=0 X=7 Y=5
			TEXTURE=FLOOR_01
			TEXTURE=WATER_SIDE_03
		TILE=DATA BLOCK=0 X=8 Y=5
			TEXTURE=FLOOR_01
			TEXTURE=WATER_SIDE_03
		TILE=DATA BLOCK=0 X=9 Y=5
			TEXTURE=FLOOR_01
			TEXTURE=WATER_SIDE_03
		TILE=DATA BLOCK=0 X=10 Y=5
			TEXTURE=FLOOR_01
			TEXTURE=WATER_SIDE_03
		TILE=DATA BLOCK=0 X=11 Y=5
			TEXTURE=FLOOR_01
			TEXTURE=WATER_SIDE_03
		TILE=DATA BLOCK=0 X=12 Y=5
			TEXTURE=FLOOR_01
			TEXTURE=WATER_CORNER_03
		TILE=DATA BLOCK=1 X=13 Y=5
			TEXTURE=FLOOR_01
			TEXTURE=CANDLE_BASE
		TILE=DATA BLOCK=1 X=14 Y=5
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=15 Y=5
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=0 Y=6
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=1 Y=6
			TEXTURE=VOID
			TEXTURE=WALL_UP_RIGHT
		TILE=DATA BLOCK=0 X=2 Y=6
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=3 Y=6
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=4 Y=6
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=5 Y=6
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=6 Y=6
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=7 Y=6
			TEXTURE=FLOOR_01
			TEXTURE=BARREL_01
		TILE=DATA BLOCK=1 X=8 Y=6
			TEXTURE=FLOOR_01
			TEXTURE=BARREL_02
		TILE=DATA BLOCK=0 X=9 Y=6
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=10 Y=6
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=11 Y=6
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=12 Y=6
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=13 Y=6
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=14 Y=6
			TEXTURE=VOID
			TEXTURE=WALL_DOWN_LEFT
		TILE=DATA BLOCK=0 X=15 Y=6
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=0 Y=7
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=1 Y=7
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=2 Y=7
			TEXTURE=FLOOR_01
			TEXTURE=CHAIR
		TILE=DATA BLOCK=1 X=3 Y=7
			TEXTURE=FLOOR_01
			TEXTURE=CHAIR
		TILE=DATA BLOCK=0 X=4 Y=7
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=5 Y=7
			TEXTURE=FLOOR_01
			TEXTURE=BAR_UP_LEFT_CORNER
		TILE=DATA BLOCK=0 X=6 Y=7
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=7 Y=7
			TEXTURE=FLOOR_01
			TEXTURE=FLOOR_01
			TEXTURE=BAR_UP_RIGHT_CORNER
		TILE=DATA BLOCK=1 X=8 Y=7
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=9 Y=7
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=10 Y=7
			TEXTURE=FLOOR_01
			TEXTURE=BARREL_02
		TILE=DATA BLOCK=1 X=11 Y=7
			TEXTURE=FLOOR_01
			TEXTURE=BARREL_02
		TILE=DATA BLOCK=1 X=12 Y=7
			TEXTURE=FLOOR_01
			TEXTURE=CHAIR
		TILE=DATA BLOCK=1 X=13 Y=7
			TEXTURE=FLOOR_01
			TEXTURE=CHAIR
		TILE=DATA BLOCK=1 X=14 Y=7
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=15 Y=7
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=0 Y=8
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=1 Y=8
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=2 Y=8
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=3 Y=8
			TEXTURE=VOID
			TEXTURE=WALL_UP_RIGHT
		TILE=DATA BLOCK=0 X=4 Y=8
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=5 Y=8
			TEXTURE=FLOOR_01
			TEXTURE=BAR_DOWN_LEFT
		TILE=DATA BLOCK=1 X=6 Y=8
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=7 Y=8
			TEXTURE=FLOOR_01
			TEXTURE=BAR_DOWN_RIGHT
		TILE=DATA BLOCK=1 X=8 Y=8
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=9 Y=8
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=10 Y=8
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=11 Y=8
			TEXTURE=FLOOR_01
			TEXTURE=BARREL_02
		TILE=DATA BLOCK=1 X=12 Y=8
			TEXTURE=VOID
			TEXTURE=WALL_DOWN_LEFT
		TILE=DATA BLOCK=1 X=13 Y=8
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=14 Y=8
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=15 Y=8
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=0 Y=9
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=1 Y=9
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=2 Y=9
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=3 Y=9
			TEXTURE=VOID
			TEXTURE=WALL_UP_RIGHT
		TILE=DATA BLOCK=0 X=4 Y=9
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=5 Y=9
			TEXTURE=FLOOR_01
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=6 Y=9
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=7 Y=9
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=8 Y=9
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=9 Y=9
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=10 Y=9
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=11 Y=9
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=12 Y=9
			TEXTURE=VOID
			TEXTURE=WALL_DOWN_LEFT
		TILE=DATA BLOCK=1 X=13 Y=9
			TEXTURE=VOID
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=14 Y=9
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=15 Y=9
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=0 Y=10
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=1 Y=10
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=2 Y=10
			TEXTURE=VOID
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=3 Y=10
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=4 Y=10
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=5 Y=10
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=6 Y=10
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=7 Y=10
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=8 Y=10
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=9 Y=10
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=10 Y=10
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=11 Y=10
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=12 Y=10
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=13 Y=10
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=14 Y=10
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=15 Y=10
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=0 Y=11
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=1 Y=11
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=2 Y=11
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=3 Y=11
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=4 Y=11
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=5 Y=11
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=6 Y=11
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=7 Y=11
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=8 Y=11
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=9 Y=11
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=10 Y=11
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=11 Y=11
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=12 Y=11
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=13 Y=11
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=14 Y=11
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=15 Y=11
			TEXTURE=VOID
	AREA=HOUSE_3 ENCOUNTER=0 X=2 Y=2
		TILE=DATA BLOCK=0 X=0 Y=0
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=1 Y=0
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=2 Y=0
			TEXTURE=VOID
			TEXTURE=WALL_01
		TILE=DATA BLOCK=1 X=3 Y=0
			TEXTURE=VOID
			TEXTURE=WALL_02
		TILE=DATA BLOCK=1 X=4 Y=0
			TEXTURE=VOID
			TEXTURE=WALL_03
		TILE=DATA BLOCK=1 X=5 Y=0
			TEXTURE=VOID
			TEXTURE=WALL_03
		TILE=DATA BLOCK=1 X=6 Y=0
			TEXTURE=VOID
			TEXTURE=WALL_03
		TILE=DATA BLOCK=0 X=7 Y=0
			TEXTURE=VOID
			TEXTURE=WALL_03
		TILE=DATA BLOCK=1 X=8 Y=0
			TEXTURE=VOID
			TEXTURE=WALL_03
		TILE=DATA BLOCK=1 X=9 Y=0
			TEXTURE=VOID
			TEXTURE=WALL_03
		TILE=DATA BLOCK=1 X=10 Y=0
			TEXTURE=VOID
			TEXTURE=WALL_03
		TILE=DATA BLOCK=1 X=11 Y=0
			TEXTURE=VOID
			TEXTURE=WALL_03
		TILE=DATA BLOCK=1 X=12 Y=0
			TEXTURE=VOID
			TEXTURE=WALL_03
		TILE=DATA BLOCK=1 X=13 Y=0
			TEXTURE=VOID
			TEXTURE=WALL_05
		TILE=DATA BLOCK=0 X=14 Y=0
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=15 Y=0
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=0 Y=1
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=1 Y=1
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=2 Y=1
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=3 Y=1
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=4 Y=1
			TEXTURE=VOID
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=5 Y=1
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=6 Y=1
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=7 Y=1
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=8 Y=1
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=9 Y=1
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=10 Y=1
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=11 Y=1
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=12 Y=1
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=13 Y=1
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=14 Y=1
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=15 Y=1
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=0 Y=2
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=1 Y=2
			TEXTURE=VOID
			TEXTURE=WALL_UP_RIGHT
		TILE=DATA BLOCK=0 X=2 Y=2
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=3 Y=2
			TEXTURE=FLOOR_01
			TEXTURE=WATER_CORNER_01
		TILE=DATA BLOCK=0 X=4 Y=2
			TEXTURE=FLOOR_01
			TEXTURE=WATER_SIDE_01
		TILE=DATA BLOCK=0 X=5 Y=2
			TEXTURE=FLOOR_01
			TEXTURE=WATER_SIDE_01
		TILE=DATA BLOCK=0 X=6 Y=2
			TEXTURE=FLOOR_01
			TEXTURE=WATER_SIDE_01
		TILE=DATA BLOCK=0 X=7 Y=2
			TEXTURE=FLOOR_01
			TEXTURE=FLOOR_01
			TEXTURE=WATER_SIDE_01
		TILE=DATA BLOCK=0 X=8 Y=2
			TEXTURE=FLOOR_01
			TEXTURE=WATER_SIDE_01
		TILE=DATA BLOCK=0 X=9 Y=2
			TEXTURE=FLOOR_01
			TEXTURE=WATER_SIDE_01
		TILE=DATA BLOCK=0 X=10 Y=2
			TEXTURE=FLOOR_01
			TEXTURE=WATER_SIDE_01
		TILE=DATA BLOCK=0 X=11 Y=2
			TEXTURE=FLOOR_01
			TEXTURE=WATER_SIDE_01
		TILE=DATA BLOCK=0 X=12 Y=2
			TEXTURE=FLOOR_01
			TEXTURE=WATER_CORNER_02
		TILE=DATA BLOCK=0 X=13 Y=2
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=14 Y=2
			TEXTURE=VOID
			TEXTURE=WALL_DOWN_LEFT
		TILE=DATA BLOCK=0 X=15 Y=2
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=0 Y=3
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=1 Y=3
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=2 Y=3
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=3 Y=3
			TEXTURE=FLOOR_01
			TEXTURE=WATER_SIDE_04
		TILE=DATA BLOCK=1 X=4 Y=3
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=5 Y=3
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=6 Y=3
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=7 Y=3
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=8 Y=3
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=9 Y=3
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=10 Y=3
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=11 Y=3
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=12 Y=3
			TEXTURE=FLOOR_01
			TEXTURE=WATER_SIDE_02
		TILE=DATA BLOCK=0 X=13 Y=3
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=14 Y=3
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=15 Y=3
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=0 Y=4
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=1 Y=4
			TEXTURE=VOID
			TEXTURE=WALL_UP_RIGHT
		TILE=DATA BLOCK=0 X=2 Y=4
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=3 Y=4
			TEXTURE=FLOOR_01
			TEXTURE=WATER_SIDE_04
		TILE=DATA BLOCK=1 X=4 Y=4
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=5 Y=4
			TEXTURE=WATER_02
			TEXTURE=WATER_02
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=6 Y=4
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=7 Y=4
			TEXTURE=WATER_02
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=8 Y=4
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=9 Y=4
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=10 Y=4
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=11 Y=4
			TEXTURE=WATER_02
		TILE=DATA BLOCK=0 X=12 Y=4
			TEXTURE=FLOOR_01
			TEXTURE=WATER_SIDE_02
		TILE=DATA BLOCK=0 X=13 Y=4
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=14 Y=4
			TEXTURE=VOID
			TEXTURE=WALL_DOWN_LEFT
		TILE=DATA BLOCK=0 X=15 Y=4
			TEXTURE=VOID
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=0 Y=5
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=1 Y=5
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=2 Y=5
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=3 Y=5
			TEXTURE=FLOOR_01
			TEXTURE=WATER_CORNER_04
			TEXTURE=WELL_UP_01
		TILE=DATA BLOCK=0 X=4 Y=5
			TEXTURE=FLOOR_01
			TEXTURE=WATER_SIDE_03
		TILE=DATA BLOCK=0 X=5 Y=5
			TEXTURE=FLOOR_01
			TEXTURE=WATER_SIDE_03
			TEXTURE=WATER_SIDE_04
		TILE=DATA BLOCK=1 X=6 Y=5
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=7 Y=5
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=8 Y=5
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=9 Y=5
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=10 Y=5
			TEXTURE=FLOOR_01
			TEXTURE=WATER_SIDE_03
			TEXTURE=WATER_SIDE_02
		TILE=DATA BLOCK=0 X=11 Y=5
			TEXTURE=FLOOR_01
			TEXTURE=WATER_SIDE_03
		TILE=DATA BLOCK=0 X=12 Y=5
			TEXTURE=FLOOR_01
			TEXTURE=WATER_CORNER_03
		TILE=DATA BLOCK=0 X=13 Y=5
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=14 Y=5
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=15 Y=5
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=0 Y=6
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=1 Y=6
			TEXTURE=VOID
			TEXTURE=WALL_UP_RIGHT
		TILE=DATA BLOCK=0 X=2 Y=6
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=3 Y=6
			TEXTURE=FLOOR_01
			TEXTURE=WELL_DOWN_01
		TILE=DATA BLOCK=1 X=4 Y=6
			TEXTURE=FLOOR_01
			TEXTURE=CHAIR
		TILE=DATA BLOCK=0 X=5 Y=6
			TEXTURE=FLOOR_01
			TEXTURE=WATER_SIDE_04
		TILE=DATA BLOCK=1 X=6 Y=6
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=7 Y=6
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=8 Y=6
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=9 Y=6
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=10 Y=6
			TEXTURE=FLOOR_01
			TEXTURE=WATER_SIDE_02
		TILE=DATA BLOCK=0 X=11 Y=6
			TEXTURE=FLOOR_01
			TEXTURE=WELL_UP_01
		TILE=DATA BLOCK=1 X=12 Y=6
			TEXTURE=FLOOR_01
			TEXTURE=CHAIR
		TILE=DATA BLOCK=0 X=13 Y=6
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=14 Y=6
			TEXTURE=VOID
			TEXTURE=WALL_DOWN_LEFT
		TILE=DATA BLOCK=0 X=15 Y=6
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=0 Y=7
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=1 Y=7
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=2 Y=7
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=3 Y=7
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=4 Y=7
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=5 Y=7
			TEXTURE=FLOOR_01
			TEXTURE=WATER_SIDE_04
		TILE=DATA BLOCK=1 X=6 Y=7
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=7 Y=7
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=8 Y=7
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=9 Y=7
			TEXTURE=WATER_02
		TILE=DATA BLOCK=1 X=10 Y=7
			TEXTURE=FLOOR_01
			TEXTURE=WATER_SIDE_02
		TILE=DATA BLOCK=1 X=11 Y=7
			TEXTURE=FLOOR_01
			TEXTURE=WELL_DOWN_01
		TILE=DATA BLOCK=0 X=12 Y=7
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=13 Y=7
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=14 Y=7
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=15 Y=7
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=0 Y=8
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=1 Y=8
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=2 Y=8
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=3 Y=8
			TEXTURE=VOID
			TEXTURE=WALL_UP_RIGHT
		TILE=DATA BLOCK=0 X=4 Y=8
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=5 Y=8
			TEXTURE=FLOOR_01
			TEXTURE=WATER_CORNER_04
		TILE=DATA BLOCK=0 X=6 Y=8
			TEXTURE=FLOOR_01
			TEXTURE=WATER_SIDE_03
		TILE=DATA BLOCK=0 X=7 Y=8
			TEXTURE=FLOOR_01
			TEXTURE=WATER_SIDE_03
		TILE=DATA BLOCK=0 X=8 Y=8
			TEXTURE=FLOOR_01
			TEXTURE=WATER_SIDE_03
		TILE=DATA BLOCK=0 X=9 Y=8
			TEXTURE=FLOOR_01
			TEXTURE=WATER_SIDE_03
		TILE=DATA BLOCK=0 X=10 Y=8
			TEXTURE=FLOOR_01
			TEXTURE=WATER_CORNER_03
		TILE=DATA BLOCK=0 X=11 Y=8
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=12 Y=8
			TEXTURE=VOID
			TEXTURE=WALL_DOWN_LEFT
		TILE=DATA BLOCK=1 X=13 Y=8
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=14 Y=8
			TEXTURE=VOID
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=15 Y=8
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=0 Y=9
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=1 Y=9
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=2 Y=9
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=3 Y=9
			TEXTURE=VOID
			TEXTURE=WALL_UP_RIGHT
		TILE=DATA BLOCK=0 X=4 Y=9
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=5 Y=9
			TEXTURE=FLOOR_01
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=6 Y=9
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=7 Y=9
			TEXTURE=FLOOR_01
			TEXTURE=CHAIR
		TILE=DATA BLOCK=1 X=8 Y=9
			TEXTURE=FLOOR_01
			TEXTURE=CHAIR
		TILE=DATA BLOCK=0 X=9 Y=9
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=10 Y=9
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=11 Y=9
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=12 Y=9
			TEXTURE=VOID
			TEXTURE=WALL_DOWN_LEFT
		TILE=DATA BLOCK=0 X=13 Y=9
			TEXTURE=VOID
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=14 Y=9
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=15 Y=9
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=0 Y=10
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=1 Y=10
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=2 Y=10
			TEXTURE=VOID
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=3 Y=10
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=4 Y=10
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=5 Y=10
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=6 Y=10
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=7 Y=10
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=8 Y=10
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=9 Y=10
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=10 Y=10
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=0 X=11 Y=10
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=12 Y=10
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=13 Y=10
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=14 Y=10
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=15 Y=10
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=0 Y=11
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=1 Y=11
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=2 Y=11
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=3 Y=11
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=4 Y=11
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=5 Y=11
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=6 Y=11
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=7 Y=11
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=8 Y=11
			TEXTURE=FLOOR_01
		TILE=DATA BLOCK=1 X=9 Y=11
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=10 Y=11
			TEXTURE=VOID
		TILE=DATA BLOCK=1 X=11 Y=11
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=12 Y=11
			TEXTURE=VOID
			TEXTURE=VOID
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=13 Y=11
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=14 Y=11
			TEXTURE=VOID
		TILE=DATA BLOCK=0 X=15 Y=11
			TEXTURE=VOID

### END OF FILE ###