### FILE : Initialisation des textures du jeu. ###
//Format: INIT_CHAR + description (voir .h)
//Format: 	TEXTURE=Texture_name
//Format:		FILEPATH=chemin d'accès
//Format:		PRIORITY= de 0 à 4 définit la priorité d'affichage de la texture
//Format:		ANIMATED=0/1 définit si la texture est animée (0 = false, 1 = true)
//Format:		RECT_VALUES=DATA Définit la position puis la taille du carré qui adaptera la texture
//Format:		RECT_START=DATA position de départ et de replacement du carré (si ANIMATED=0 vous pouvez laisser à 0/0)
//Format:		RECT_MAX=DATA position maximum du carré pendant son déplacement (ne pas oublié que c'est le point en haut à gauche donc compter aussi la taille du offset, peut être laissé à 0/0 si ANIMATED=0)
//Format:		RECT_OFFSET=DATA Déplacement du carré en x et en y (si ANIMATED=0 vous pouvez laisser à 0/0)

TILES:
---------CAVERN:
	TEXTURE=CAVERN_GROUND_01
		FILEPATH=../../textures/tiles/cavern/cavern_ground_01.png
		PRIORITY=1
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=CAVERN_GROUND_02
		FILEPATH=../../textures/tiles/cavern/cavern_ground_02.png
		PRIORITY=1
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=CAVERN_GROUND_CORNER_01
		FILEPATH=../../textures/tiles/cavern/cavern_ground_corner_01.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=CAVERN_GROUND_CORNER_02
		FILEPATH=../../textures/tiles/cavern/cavern_ground_corner_02.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=CAVERN_GROUND_CORNER_03
		FILEPATH=../../textures/tiles/cavern/cavern_ground_corner_03.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=CAVERN_GROUND_CORNER_04
		FILEPATH=../../textures/tiles/cavern/cavern_ground_corner_04.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=CAVERN_GROUND_SIDE_01
		FILEPATH=../../textures/tiles/cavern/cavern_ground_side_01.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=CAVERN_GROUND_SIDE_02
		FILEPATH=../../textures/tiles/cavern/cavern_ground_side_02.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=CAVERN_GROUND_SIDE_03
		FILEPATH=../../textures/tiles/cavern/cavern_ground_side_03.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=CAVERN_GROUND_SIDE_04
		FILEPATH=../../textures/tiles/cavern/cavern_ground_side_04.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=CAVERN_GROUND_SIDE_05
		FILEPATH=../../textures/tiles/cavern/cavern_ground_side_05.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=CAVERN_GROUND_SIDE_06
		FILEPATH=../../textures/tiles/cavern/cavern_ground_side_06.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=CAVERN_GROUND_SIDE_07
		FILEPATH=../../textures/tiles/cavern/cavern_ground_side_07.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=CAVERN_GROUND_SIDE_08
		FILEPATH=../../textures/tiles/cavern/cavern_ground_side_08.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=LAVA_01
		FILEPATH=../../textures/tiles/cavern/lava_01.png
		PRIORITY=1
		ANIMATED=1
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=350 Y=0
		RECT_OFFSET=DATA X=50 Y=0

---------COBBLE:
	TEXTURE=COBBLE_01
		FILEPATH=../../textures/tiles/cobble/cobble_01.png
		PRIORITY=1
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=COBBLE_CORNER_01
		FILEPATH=../../textures/tiles/cobble/cobble_corner_01.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=COBBLE_CORNER_02
		FILEPATH=../../textures/tiles/cobble/cobble_corner_02.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=COBBLE_CORNER_03
		FILEPATH=../../textures/tiles/cobble/cobble_corner_03.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=COBBLE_CORNER_04
		FILEPATH=../../textures/tiles/cobble/cobble_corner_04.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=COBBLE_SIDE_01
		FILEPATH=../../textures/tiles/cobble/cobble_side_01.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=COBBLE_SIDE_02
		FILEPATH=../../textures/tiles/cobble/cobble_side_02.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=COBBLE_SIDE_03
		FILEPATH=../../textures/tiles/cobble/cobble_side_03.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=COBBLE_SIDE_04
		FILEPATH=../../textures/tiles/cobble/cobble_side_04.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0

---------DIRT:
	TEXTURE=DIRT_01
		FILEPATH=../../textures/tiles/dirt/dirt_01.png
		PRIORITY=1
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=DIRT_CORNER_01
		FILEPATH=../../textures/tiles/dirt/dirt_corner_01.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=DIRT_CORNER_02
		FILEPATH=../../textures/tiles/dirt/dirt_corner_02.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=DIRT_CORNER_03
		FILEPATH=../../textures/tiles/dirt/dirt_corner_03.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=DIRT_CORNER_04
		FILEPATH=../../textures/tiles/dirt/dirt_corner_04.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=DIRT_SIDE_01
		FILEPATH=../../textures/tiles/dirt/dirt_side_01.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=DIRT_SIDE_02
		FILEPATH=../../textures/tiles/dirt/dirt_side_02.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=DIRT_SIDE_03
		FILEPATH=../../textures/tiles/dirt/dirt_side_03.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=DIRT_SIDE_04
		FILEPATH=../../textures/tiles/dirt/dirt_side_04.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=DIRT_SIDE_05
		FILEPATH=../../textures/tiles/dirt/dirt_side_05.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=DIRT_SIDE_06
		FILEPATH=../../textures/tiles/dirt/dirt_side_06.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=DIRT_SIDE_07
		FILEPATH=../../textures/tiles/dirt/dirt_side_07.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=DIRT_SIDE_08
		FILEPATH=../../textures/tiles/dirt/dirt_side_08.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0

---------GRASS:
	TEXTURE=GRASS_01
		FILEPATH=../../textures/tiles/grass/grass_01.png
		PRIORITY=1
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=GRASS_02
		FILEPATH=../../textures/tiles/grass/grass_02.png
		PRIORITY=1
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=GRASS_CORNER_01
		FILEPATH=../../textures/tiles/grass/grass_corner_01.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=GRASS_CORNER_02
		FILEPATH=../../textures/tiles/grass/grass_corner_02.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=GRASS_CORNER_03
		FILEPATH=../../textures/tiles/grass/grass_corner_03.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=GRASS_CORNER_04
		FILEPATH=../../textures/tiles/grass/grass_corner_04.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=GRASS_SIDE_01
		FILEPATH=../../textures/tiles/grass/grass_side_01.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=GRASS_SIDE_02
		FILEPATH=../../textures/tiles/grass/grass_side_02.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=GRASS_SIDE_03
		FILEPATH=../../textures/tiles/grass/grass_side_03.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=GRASS_SIDE_04
		FILEPATH=../../textures/tiles/grass/grass_side_04.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=GRASS_SIDE_05
		FILEPATH=../../textures/tiles/grass/grass_side_05.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=GRASS_SIDE_06
		FILEPATH=../../textures/tiles/grass/grass_side_06.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=GRASS_SIDE_07
		FILEPATH=../../textures/tiles/grass/grass_side_07.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=GRASS_SIDE_08
		FILEPATH=../../textures/tiles/grass/grass_side_08.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0

---------LAND:
	TEXTURE=MUD_01
		FILEPATH=../../textures/tiles/land/mud_01.png
		PRIORITY=1
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=MUD_02
		FILEPATH=../../textures/tiles/land/mud_02.png
		PRIORITY=1
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=ROAD_01
		FILEPATH=../../textures/tiles/land/road_01.png
		PRIORITY=1
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=ROAD_02
		FILEPATH=../../textures/tiles/land/road_02.png
		PRIORITY=1
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=ROAD_03
		FILEPATH=../../textures/tiles/land/road_03.png
		PRIORITY=1
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=ROAD_04
		FILEPATH=../../textures/tiles/land/road_04.png
		PRIORITY=1
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=ROAD_05
		FILEPATH=../../textures/tiles/land/road_05.png
		PRIORITY=1
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=SAND_01
		FILEPATH=../../textures/tiles/land/sand_01.png
		PRIORITY=1
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=SAND_02
		FILEPATH=../../textures/tiles/land/sand_02.png
		PRIORITY=1
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=SAND_03
		FILEPATH=../../textures/tiles/land/sand_03.png
		PRIORITY=1
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=SAND_04
		FILEPATH=../../textures/tiles/land/sand_04.png
		PRIORITY=1
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0

---------MISC:
	TEXTURE=BASKET_01
		FILEPATH=../../textures/tiles/misc/basket_01.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=BOX_01
		FILEPATH=../../textures/tiles/misc/box_01.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=BOX_02
		FILEPATH=../../textures/tiles/misc/box_02.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=BOX_03
		FILEPATH=../../textures/tiles/misc/box_03.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=POT_01
		FILEPATH=../../textures/tiles/misc/pot_01.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=POT_02
		FILEPATH=../../textures/tiles/misc/pot_02.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=SAC_01
		FILEPATH=../../textures/tiles/misc/sac_01.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=SAC_02
		FILEPATH=../../textures/tiles/misc/sac_02.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=SAC_03
		FILEPATH=../../textures/tiles/misc/sac_03.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=TONS_01
		FILEPATH=../../textures/tiles/misc/tons_01.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=TONS_02
		FILEPATH=../../textures/tiles/misc/tons_02.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=FLOWER_PEDESTAL
		FILEPATH=../../textures/tiles/misc/flower_pedestal.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=39
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=STREET_PEDESTAL
		FILEPATH=../../textures/tiles/misc/street_pedestal.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=39
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=STREET_LAMP_OFF
		FILEPATH=../../textures/tiles/misc/street_lamp_off.png
		PRIORITY=4
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=100
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=STREET_LAMP_ON
		FILEPATH=../../textures/tiles/misc/street_lamp_on.png
		PRIORITY=4
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=100
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=VOID
		FILEPATH=../../textures/tiles/misc/void.png
		PRIORITY=0
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=CAMPFIRE_01
		FILEPATH=../../textures/tiles/misc/campfire_01.png
		PRIORITY=2
		ANIMATED=1
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=150 Y=0
		RECT_OFFSET=DATA X=50 Y=0
	TEXTURE=CAMPFIRE_02
		FILEPATH=../../textures/tiles/misc/campfire_02.png
		PRIORITY=2
		ANIMATED=1
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=150 Y=0
		RECT_OFFSET=DATA X=50 Y=0
	TEXTURE=HOUSE_UP_01
		FILEPATH=../../textures/tiles/misc/house_up_01.png
		PRIORITY=4
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=150 HEIGHT=100
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=HOUSE_DOWN_01
		FILEPATH=../../textures/tiles/misc/house_down_01.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=150 HEIGHT=100
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=HOUSE_UP_02
		FILEPATH=../../textures/tiles/misc/house_up_02.png
		PRIORITY=4
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=150 HEIGHT=100
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=HOUSE_DOWN_02
		FILEPATH=../../textures/tiles/misc/house_down_02.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=150 HEIGHT=100
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=HOUSE_UP_03
		FILEPATH=../../textures/tiles/misc/house_up_03.png
		PRIORITY=4
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=150 HEIGHT=100
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=HOUSE_DOWN_03
		FILEPATH=../../textures/tiles/misc/house_down_03.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=150 HEIGHT=100
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=ROCK_UP_01
		FILEPATH=../../textures/tiles/misc/rock_up_01.png
		PRIORITY=4
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=100 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=ROCK_DOWN_01
		FILEPATH=../../textures/tiles/misc/rock_down_01.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=100 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=ROCK_02
		FILEPATH=../../textures/tiles/misc/rock_02.png
		PRIORITY=0
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=ROCK_03
		FILEPATH=../../textures/tiles/misc/rock_03.png
		PRIORITY=0
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=100 HEIGHT=150
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=ROCK_04
		FILEPATH=../../textures/tiles/misc/rock_04.png
		PRIORITY=0
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=100
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=TREE_UP_01
		FILEPATH=../../textures/tiles/misc/tree_up_01.png
		PRIORITY=4
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=100 HEIGHT=100
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=TREE_DOWN_01
		FILEPATH=../../textures/tiles/misc/tree_down_01.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=100 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=DEAD_TREE_UP_01
		FILEPATH=../../textures/tiles/misc/dead_tree_up_01.png
		PRIORITY=4
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=100 HEIGHT=100
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=DEAD_TREE_DOWN_01
		FILEPATH=../../textures/tiles/misc/dead_tree_down_01.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=100 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=DEAD_TREE_UP_02
		FILEPATH=../../textures/tiles/misc/dead_tree_up_02.png
		PRIORITY=4
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=100 HEIGHT=100
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=DEAD_TREE_DOWN_02
		FILEPATH=../../textures/tiles/misc/dead_tree_down_02.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=100 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=WELL_UP_01
		FILEPATH=../../textures/tiles/misc/well_up_01.png
		PRIORITY=4
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=WELL_DOWN_01
		FILEPATH=../../textures/tiles/misc/well_down_01.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0

---------MOUNTAIN:
	TEXTURE=MOUNTAIN_CORNER_01
		FILEPATH=../../textures/tiles/mountain/mountain_corner_01.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=MOUNTAIN_CORNER_02
		FILEPATH=../../textures/tiles/mountain/mountain_corner_02.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=MOUNTAIN_CORNER_03
		FILEPATH=../../textures/tiles/mountain/mountain_corner_03.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=MOUNTAIN_CORNER_04
		FILEPATH=../../textures/tiles/mountain/mountain_corner_04.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=MOUNTAIN_DOWN_BACK_01
		FILEPATH=../../textures/tiles/mountain/mountain_down_back_01.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=MOUNTAIN_DOWN_BACK_02
		FILEPATH=../../textures/tiles/mountain/mountain_down_back_02.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=MOUNTAIN_DOWN_CONER_01
		FILEPATH=../../textures/tiles/mountain/mountain_down_corner_01.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=MOUNTAIN_DOWN_CONER_02
		FILEPATH=../../textures/tiles/mountain/mountain_down_corner_02.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=MOUNTAIN_DOWN_FACE_01
		FILEPATH=../../textures/tiles/mountain/mountain_down_face_01.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=MOUNTAIN_DOWN_FACE_02
		FILEPATH=../../textures/tiles/mountain/mountain_down_face_02.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=MOUNTAIN_DOWN_FACE_03
		FILEPATH=../../textures/tiles/mountain/mountain_down_face_03.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=MOUNTAIN_ENTRY_01
		FILEPATH=../../textures/tiles/mountain/mountain_entry_01.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=MOUNTAIN_UP_CORNER_01
		FILEPATH=../../textures/tiles/mountain/mountain_up_corner_01.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=MOUNTAIN_UP_CORNER_02
		FILEPATH=../../textures/tiles/mountain/mountain_up_corner_02.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=MOUNTAIN_UP_CORNER_03
		FILEPATH=../../textures/tiles/mountain/mountain_up_corner_03.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=MOUNTAIN_UP_CORNER_04
		FILEPATH=../../textures/tiles/mountain/mountain_up_corner_04.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=MOUNTAIN_UP_SIDE_01
		FILEPATH=../../textures/tiles/mountain/mountain_up_side_01.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=MOUNTAIN_UP_SIDE_02
		FILEPATH=../../textures/tiles/mountain/mountain_up_side_02.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=MOUNTAIN_UP_SIDE_03
		FILEPATH=../../textures/tiles/mountain/mountain_up_side_03.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0

---------WATER:
	TEXTURE=POND_DOWN_01
		FILEPATH=../../textures/tiles/water/pond_down_01.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=POND_DOWN_02
		FILEPATH=../../textures/tiles/water/pond_down_02.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=POND_UP_01
		FILEPATH=../../textures/tiles/water/pond_up_01.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=POND_UP_02
		FILEPATH=../../textures/tiles/water/pond_up_02.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=RIVER_DOWN_01
		FILEPATH=../../textures/tiles/water/river_down_01.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=RIVER_DOWN_02
		FILEPATH=../../textures/tiles/water/river_down_02.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=RIVER_UP_01
		FILEPATH=../../textures/tiles/water/river_up_01.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=RIVER_UP_02
		FILEPATH=../../textures/tiles/water/river_up_02.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=WATER_01
		FILEPATH=../../textures/tiles/water/water_01.png
		PRIORITY=1
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=WATER_02
		FILEPATH=../../textures/tiles/water/water_02.png
		PRIORITY=1
		ANIMATED=1
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=200 Y=0
		RECT_OFFSET=DATA X=50 Y=0
	TEXTURE=WATER_CORNER_01
		FILEPATH=../../textures/tiles/water/water_corner_01.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=WATER_CORNER_01_B
		FILEPATH=../../textures/tiles/water/water_corner_01_b.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=WATER_CORNER_02
		FILEPATH=../../textures/tiles/water/water_corner_02.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=WATER_CORNER_02_B
		FILEPATH=../../textures/tiles/water/water_corner_02_b.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=WATER_CORNER_03
		FILEPATH=../../textures/tiles/water/water_corner_03.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=WATER_CORNER_04
		FILEPATH=../../textures/tiles/water/water_corner_04.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=WATER_SIDE_01
		FILEPATH=../../textures/tiles/water/water_side_01.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=WATER_SIDE_02
		FILEPATH=../../textures/tiles/water/water_side_02.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=WATER_SIDE_03
		FILEPATH=../../textures/tiles/water/water_side_03.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=WATER_SIDE_04
		FILEPATH=../../textures/tiles/water/water_side_04.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0

---------INTERIOR:
	TEXTURE=BAR_DOWN_LEFT
		FILEPATH=../../textures/tiles/interior/bar_down_left.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=100 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=BAR_DOWN_RIGHT
		FILEPATH=../../textures/tiles/interior/bar_down_right.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=100 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=BAR_UP_RIGHT_CORNER
		FILEPATH=../../textures/tiles/interior/bar_up_right_corner.png
		PRIORITY=4
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=100 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=BAR_UP_LEFT_CORNER
		FILEPATH=../../textures/tiles/interior/bar_up_left_corner.png
		PRIORITY=4
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=100 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=00
	TEXTURE=BARREL_01
		FILEPATH=../../textures/tiles/interior/barrel_01.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=00
	TEXTURE=BARREL_02
		FILEPATH=../../textures/tiles/interior/barrel_02.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=00
	TEXTURE=CANDLE_BASE
		FILEPATH=../../textures/tiles/interior/candle_base.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=100
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=00
	TEXTURE=CANDLE_DOWN
		FILEPATH=../../textures/tiles/interior/candle_down.png
		PRIORITY=4
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=00
	TEXTURE=CANDLE_MIDDLE
		FILEPATH=../../textures/tiles/interior/candle_middle.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=00
	TEXTURE=CANDLE_PLATE
		FILEPATH=../../textures/tiles/interior/candle_plate.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=00
	TEXTURE=CHAIR
		FILEPATH=../../textures/tiles/interior/chair.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=00
	TEXTURE=CHAIR_LEFT_DOWN
		FILEPATH=../../textures/tiles/interior/chair_left_down.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=00
	TEXTURE=CHAIR_RIGHT_DOWN
		FILEPATH=../../textures/tiles/interior/chair_right_down.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=00
	TEXTURE=CHAIR_LEFT_UP
		FILEPATH=../../textures/tiles/interior/chair_left_up.png
		PRIORITY=4
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=00
	TEXTURE=CHAIR_RIGHT_UP
		FILEPATH=../../textures/tiles/interior/chair_right_up.png
		PRIORITY=4
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
	TEXTURE=CHIMNEY
		FILEPATH=../../textures/tiles/interior/chimney.png
		PRIORITY=2
		ANIMATED=1
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=100 HEIGHT=100
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=300 Y=0
		RECT_OFFSET=DATA X=100 Y=0
	TEXTURE=VENT_LEFT
		FILEPATH=../../textures/tiles/interior/vent_left.png
		PRIORITY=4
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=VENT_RIGHT
		FILEPATH=../../textures/tiles/interior/vent_right.png
		PRIORITY=4
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=WALL_01
		FILEPATH=../../textures/tiles/interior/wall_01.png
		PRIORITY=1
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=100
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=WALL_02
		FILEPATH=../../textures/tiles/interior/wall_02.png
		PRIORITY=1
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=100
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=WALL_03
		FILEPATH=../../textures/tiles/interior/wall_03.png
		PRIORITY=1
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=100
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=WALL_04
		FILEPATH=../../textures/tiles/interior/wall_04.png
		PRIORITY=1
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=100
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=WALL_05
		FILEPATH=../../textures/tiles/interior/wall_05.png
		PRIORITY=1
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=100
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=WALL_UP_RIGHT
		FILEPATH=../../textures/tiles/interior/wall_up_right.png
		PRIORITY=4
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=100
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=WALL_DOWN_RIGHT
		FILEPATH=../../textures/tiles/interior/wall_down_right.png
		PRIORITY=4
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=100
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=WALL_UP_LEFT
		FILEPATH=../../textures/tiles/interior/wall_up_left.png
		PRIORITY=4
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=100
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=WALL_DOWN_LEFT
		FILEPATH=../../textures/tiles/interior/wall_down_left.png
		PRIORITY=4
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=100
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=WALL_CANDLE
		FILEPATH=../../textures/tiles/interior/wall_candle.png
		PRIORITY=2
		ANIMATED=1
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=100
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=150 Y=0
		RECT_OFFSET=DATA X=50 Y=0
	TEXTURE=WALL_RECESS
		FILEPATH=../../textures/tiles/interior/wall_recess.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=100
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=DOOR_CLOSED
		FILEPATH=../../textures/tiles/interior/door_closed.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=100
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=DOOR_OPEN
		FILEPATH=../../textures/tiles/interior/door_open.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=100
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=FLOOR_01
		FILEPATH=../../textures/tiles/interior/floor_01.png
		PRIORITY=0
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=FLOOR_02
		FILEPATH=../../textures/tiles/interior/floor_02.png
		PRIORITY=0
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=STAIRS_DOWN_LEFT
		FILEPATH=../../textures/tiles/interior/stairs_down_left.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=STAIRS_DOWN_RIGHT
		FILEPATH=../../textures/tiles/interior/stairs_down_right.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=STAIRS_UP_LEFT
		FILEPATH=../../textures/tiles/interior/stairs_up_left.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=100 HEIGHT=150
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=STAIRS_UP_RIGHT
		FILEPATH=../../textures/tiles/interior/stairs_up_right.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=100 HEIGHT=150
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=TABLE_01
		FILEPATH=../../textures/tiles/interior/table_01.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=150 HEIGHT=100
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=TABLE_02
		FILEPATH=../../textures/tiles/interior/table_02.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=100 HEIGHT=150
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
	TEXTURE=TABLE_03
		FILEPATH=../../textures/tiles/interior/table_03.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=100 HEIGHT=150
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=WINDOW_01
		FILEPATH=../../textures/tiles/interior/window_01.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=WINDOW_02
		FILEPATH=../../textures/tiles/interior/window_02.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=100 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=WINDOW_03
		FILEPATH=../../textures/tiles/interior/window_03.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=50 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
	TEXTURE=WINDOW_04
		FILEPATH=../../textures/tiles/interior/window_04.png
		PRIORITY=2
		ANIMATED=0
		RECT_VALUES=DATA LEFT=0 TOP=0 WIDTH=100 HEIGHT=50
		RECT_START=DATA X=0 Y=0
		RECT_MAX=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0
		RECT_OFFSET=DATA X=0 Y=0

### END OF FILE ###
